# Private notes
_notes/private/
_notes/university

# Private data
_data/private/

# Obsidian
_notes/templates

# Notes graph metadata
_includes/notes_graph.json
*/graph-net-web.json

# not shareable content
copyrighted-content/
to-publish/
/various
*/copyrighted-content
*/*/copyrighted-content
private
*/private
*/*/private
