# Private notes
_notes/private/
_notes/university

# Private data
_data/private/

# Obsidian
_notes/templates
_notes/.obsidian

# Notes graph metadata
_includes/notes_graph.json
*/graph-net-web.json

# not shareable content
copyrighted-content/
to-publish/
slides/
/various
*/copyrighted-content
*/*/copyrighted-content
*/slides/
*/*/slides/
private
*/private
*/*/private
