---
---
@import "../_sass/inter";
@import "../_sass/root";

.app-container {
	--button-shadow: inset 2px 2px 4px #FFF8, inset -2px -2px 4px #0008;
	--inner-shadow: inset 3px 3px 5px #0008, inset -3px -3px 5px #FFF2;
	font-family: Inter, -apple-system, sans-serif;
	background: var(--black-ish);
}

#app {
	color: var(--white-ish) !important;
}

.subject {
	margin: 8vh 0;
	text-transform: uppercase;
}

@media only screen and (min-width:900px) {
	.body {
		padding: 3vh 5vw;
	}
}

h2 {
	margin-top: 8vh;
	text-transform: uppercase;
	text-align: center;
	font-size: $bigger !important;
}

form {
	margin-top: 9vh !important;
}

input[type="email"] {
	line-height: $bigger;
	border: none !important;
	background: var(--background);
	color: var(--text);
	border-radius: $radius-s !important;
	box-shadow: var(--inner-shadow);
	padding: $small $regular;
	font-size: $bigger;
	&::placeholder {
		color: var(--other-grey);
	}
}

button, .share-network-facebook, .share-network-twitter, .share-network-email {
	color: var(--black-ish) !important;
	text-transform: uppercase;
	border-radius: $radius-m !important;
	box-shadow: var(--button-shadow);
	margin-bottom: 9vh !important;
	font-weight: 800;
	&[disabled] {
		box-shadow: none !important;
	}
}

label {
	color: var(--light-grey) !important;
}

a {
	text-decoration: none;
	font-weight: 500;
	&:hover {
		filter: hue-rotate(.3turn);
	}
}
