body {
	background: linear-gradient(135deg, #9DB5C1, #415462);
	color: white;
	font-family: Helvetica, "Helvatica Neue", Inter, sans-serif;
	overflow-x: hidden;
	line-break: loose;
	cursor: auto; /* CREATE CUSTOM CURSOR */
}

.everyone {
	font-size: 9rem;
	margin-bottom: 0;
}

.love-awakens {
	font-size: var(--mastodon);
	font-weight: lighter;
	text-align: center;
	margin-top: 0;
	font-weight: lighter;
	color: #D8E9F0;
}
	
.page-description {
	margin: var(--height) auto var(--margin);
	padding: var(--regular) var(--margin);
}

.thing {
	text-align: center;
	padding: 0 5%;
}

p {
	text-align: center;
}

.category {
	position: fixed;
	bottom: var(--regular);
	right: var(--regular);
	text-transform: uppercase;
	background: #FFF;
	color: #415462;
	z-index: 10;
	padding-top: 1px;
}

.embed-container {
  --video--width: 1920;
  --video--height: 1080;

  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
  overflow: hidden;
  max-width: 100%;
  background: transparent;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mosaic {
	padding: 5%;
}

.thing-title {
	margin-top: var(--mastodon);
	hypens: none;
	overflow-wrap: normal;
}

@media only screen and (max-width: 800px) {
	.everyone {
		font-size: var(--height);
		margin-top: var(--mastodon);
	}

	.love-awakens {
		font-size: var(--big);
	}

	.page-description {
		padding: 0;
	}
	.thing-title {
		margin-top: var(--regular);
	}
	#imdb {
		margin-bottom: 3rem;
	}

}
