---
---
body {
	background: linear-gradient(135deg, #9DB5C1, #415462);
	/* background: #415462; */ /* fallback color */
	font-family: Helvetica, "Helvetica Neue", Inter, sans-serif;
	overflow-x: hidden;
	line-break: loose;
	cursor: auto; /* CREATE CUSTOM CURSOR */
	font-weight: lighter;
	--text: white
}

.everyone {
	font-size: 9rem;
	margin-bottom: 0;
}

.love-awakens {
	font-size: 4.4rem;
	font-weight: lighter;
	text-align: center;
	margin-top: 0;
	color: #D8E9F0;
}
	
.page-description {
	margin: 3.1rem auto 6.5rem;
	padding: 1.1rem 6.5rem;
}

.thing {
	text-align: center;
	padding: 0 5%;
}

.button {
	color: #415462;
	background: white;
}

.tool {
	right: 4vw;
	padding: .5rem 1.1rem;
}

.button.tool {
	padding: .5rem 1.1rem;
}

.stuff {
	/* background: #89AEB9; */
	box-shadow: 5px 5px 20px #00000033, -5px -5px 20px #FFFFFF22;
}

p {
	text-align: center;
}

.embed-container {
  --video--width: 1920;
  --video--height: 1080;

  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
  overflow: hidden;
  max-width: 100%;
  background: transparent;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mosaic {
	width: 28%;
	height: auto;
	margin: 2vw;
	box-shadow: 5px 5px 20px #00000033, -5px -5px 20px #FFFFFF22;
	border-radius: 1rem;
}

.vertical {
	height: unset;
}

#celeb h2 {
	margin: 3.1rem 0;
}

@media only screen and (max-width: 700px) {
	.everyone {
		font-size: 3.1rem;
		margin-top: 4.4rem;
	}
	.love-awakens {
		font-size: 2.5rem;
	}
	.page-description {
		padding: 0;
	}
	#imdb {
		margin-bottom: 3rem;
	}
	.mosaic {
		width: 92vw;
		margin: 2vw 4vw;
	}
}
