---
title: "Pasticci belli"
permalink: /pasticcibelli
lang: it
ref: pasticcibelli
---
<div class="page-header">
	<div class="row">
		<div class="one column">
			<h1>Pasticci Belli</h1>
		</div>
	</div>
	<div class="row">
		<div class="one column">
			<p class="page-description">Ecco. qui c’è l’apoteosi dei miei pasticci. Il mio giudizio è soggettivo, il pasticcio per voi più buono potrebbe non essere fra questi (più probabilmente, non c’è proprio). Volendo, si può sempre tornare a <a href="/poetry">tutti i pasticci</a>.</p>
		</div>
	</div>
</div>

{% for poem in site.poetry reversed %}
{% if poem.bella contains 'true' %}
	<div class="row preview">
		<div class="one column">
				<h2 class="post-title" style="text-align: center;"><a href="{{ poem.url }}" style="color: var(--dark-font);">{{ poem.title }}</a></h2>
				<div class="line" style="width: 5%; margin: var(--tiny) auto; background-color: var(--secondary);"></div>
		</div>
	</div>
{% endif %}
{% endfor %}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
