---
---
@import "../_sass/root";
@import "https://assets.tommi.space/fonts/inter/inter.css";

body {
	--background: var(--black-ish);
	--text: var(--white-ish);
	--deep: #111;
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--internal: var(--blue);
	--grey: var(--dark-grey);
	--other-grey: var(--light-grey);
	--shadow: 5px 5px 20px #000000FF, -5px -5px 20px #FFFFFF22;
	--little-shadow: 2px 2px 3px #000000FF, -2px -2px 3px #FFFFFF22;
	--button-shadow: 3px 3px 8px #000000BB, -3px -3px 8px #FFFFFF22;
	--inner-shadow: inset 3px 3px 5px #00000088, inset -3px -3px 5px #FFFFFF22;
	--inner-little-shadow: inset 2px 2px 3px #000000AA, inset -2px -2px 3px #FFFFFF11;

	transition: var(--trans);

	font: 400 var(--regular) Inter, Helvetica, "Helvetica Neue", sans-serif !important;
	color: var(--text) !important;
	background: var(--background) !important;
}

.albThumbs li {
	border-radius: var(--radius-l);
	box-shadow: var(--shadow);
	margin: var(--regular-less) !important;
	&:hover {
		transform: scale(1.05);
		transition: all .1s;
	}
}

.imageInfoTable, #imageInfos {
	background: var(--background);
}

.wide #imageInfos {
	margin-right: var(--regular);
	margin-top: var(--regular);
	box-shadow: var(--shadow);
	border-radius: var(--radius-l) !important;
}

.theImageAndInfos {
	background: var(--deep);
}

.contentWithMenu,
#menubar,
#copyright,
#imageToolBar {
	background: var(--background) !important;
	a {
		color: var(--text);
	}
}

#copyright,
#copyright a,
.browsePathSeparator {
	opacity: .5;
}

aside#menubar {
	top: 80px !important;
	left: var(--regular);
	border-radius: var(--radius-m);
	box-shadow: var(--shadow);
	opacity: 1;
}

#menubar {
	text-transform: uppercase;
	font-weight: 700;
	dd {
		background: var(--grey);
		color: var(--text);
		border-radius: var(--radius-m);
		box-shadow: var(--shadow) !important;
	}
}

.albLegend {
	padding: var(--regular) var(--tiny) var(--small) !important;
	background: none !important;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.01),rgba(0,0,0,0.8));
	div {
		opacity: .6;
	}
}

#qsearchInput {
	border: none;
	border-radius: var(--radius-s);
	background: var(--grey);
}

#comments input[type="text"],
#comments TEXTAREA {
	border: none;
	border-radius: var(--radius-m);
	background: var(--deep);
	color: var(--text);
	box-shadow: var(--shadow);
}

/* .categoryActions,
.navigationButtons,
.actionButtons,
.albumActionsSwitcher {
	padding: var(--tiny);
	background: var(--light-grey);
	border-radius: var(--radius-s);
	box-shadow: var(--little-shadow);
} */

a .pwg-icon {
	color: var(--text) !important;
}

.pwg-icon.pwg-icon-menu {
	padding: var(--small) !important;
	margin: var(--small);
	background: var(--primary) !important;
	border-radius: var(--radius-s);
	box-shadow: var(--little-shadow);
	opacity: 1 !important;
	color: var(--background) !important;
}

@media only screen and (max-width: 640px) {
	.contentWithMenu .titrePage h2,
	.contentWithMenu .browsePath {
		text-indent: 60px !important;
	}
}

.albumActionsSwitcher {
	width: unset !important;
}

.titrePage {
	background: none !important;
	color: var(--text);
	line-height: 45px !important;
	padding: var(--small) !important;
	margin: var(--small) 0;
	h2 {
		a {
			color: var(--text) !important;
		}
	}
}

/* Style albums population */
.titrePage h2 span.badge,
span.menuInfoCat.badge {
	color: var(--white-ish) !important;
	opacity: .5;
	/* background: var(--grey) !important;
	box-shadow: var(--little-shadow);
	border-radius: var(--radius-s); */
}

a {
	color: var(--primary);
	&:hover {
		text-decoration: none !important;
	}
	&[href="identification.php"] {
		opacity: .3;
	}
}

.navigationBar * {
	color: var(--other-grey) !important;
}
