---
---
@import "../_sass/root";
@import "../_sass/inter";
@import "../_sass/ubuntu-mono";
@import "../_sass/eb-garamond";

html {
	cursor: url(https://tommi.space/logos/cursor.svg) 16 16, crosshair !important;
}

body {
	--background: var(--black-ish);
	--text: var(--white-ish);
	--deep: #111;
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--internal: var(--blue);
	--grey: var(--dark-grey);
	--other-grey: var(--light-grey);
	--shadow: 5px 5px 20px #000000FF, -5px -5px 20px #FFFFFF22;
	--little-shadow: 2px 2px 3px #000000EF, -2px -2px 3px #FFFFFF22;
	--button-shadow: inset 2px 2px 4px #FFF8, inset -2px -2px 4px #0008;
	--inner-shadow: inset 3px 3px 5px #0008, inset -3px -3px 5px #FFF2;
	--inner-little-shadow: inset 2px 2px 3px #000A, inset -2px -2px 3px #FFF1;

	transition: var(--trans);

	font: 400 $regular Inter, Helvetica, "Helvetica Neue", sans-serif !important;
	color: var(--text) !important;
	background: var(--background) !important;
}

* {
	letter-spacing: unset !important;
}

body {
	background: linear-gradient(-45deg,#080808,#333) !important;
}

.albThumbs li {
	border-radius: $radius-m;
	box-shadow: var(--shadow);
	margin: $tiny !important;
	&:hover {
		transform: scale(1.05);
		transition: all .1s;
	}
}

.imageInfoTable, #imageInfos {
	background: var(--background);
	font-family: var(--font-sans) !important;
	a {
		color: var(--yellow) !important;
	}
}

.wide {
	#imageInfos {
		margin-right: $regular;
		margin-top: $regular;
		box-shadow: var(--shadow);
		border-radius: $radius-l !important;
		background: var(--background) !important;
	}
	.imageInfo {
		dd {
			font-family: var(--font-mono) !important;
		}
	}
	.imageInfoTable {
		padding: $regular $small $regular $regular !important;
		border-radius: 0 0 1rem 1rem;
	}
}

#linkPrev::before {
	content: '←';
}

#linkNext::after {
	content: '→';
}

.theImageAndInfos {
	background: var(--deep);
}

#theMainImage {
	box-shadow: var(--shadow);
}

.contentWithMenu,
#copyright,
.switchBox {
	color: var(--text) !important;
	a {
		color: var(--text) !important;
	}
}

#imageToolBar {
	background: transparent !important;
}

#copyright,
#copyright a,
.browsePathSeparator {
	opacity: .5;
}

@media only screen and (max-width: 640px) {
	aside#menubar {
		top: 80px !important;
		left: $regular;
		border-radius: $radius-m;
		box-shadow: var(--shadow);
		opacity: 1;
	}
	.contentWithMenu .titrePage h2,
	.contentWithMenu .browsePath {
		text-indent: 60px !important;
	}
	#menubar {
		background: var(--background) !important;
		color: var(--text) !important;
		a {
			color: var(--text) !important;
		}
	}
	#albumActionsSwitcher + .categoryActions {
		background-color: var(--background) !important;
		border-radius: $radius-s;
		box-shadow: var(--shadow) !important;
		opacity: 1 !important;
	}
	.imageInfoTable, #imageInfos {
		background: transparent !important;
	}
	#imageInfos {
		padding: 0 3%;
	}
}

@media only screen and (min-width: 640px) {
	#menubar {
		height: $height;
		line-height: $height;
		background: var(--primary) !important;
		color: var(--background) !important;
		margin: 2vw !important;
		border-radius: $radius-m;
		box-shadow: var(--shadow);
		padding: 0 $regular !important;
		a {
			color: var(--background) !important;
		}
	}
	#thumbnails {
		margin: $regular 5% !important;
	}
	#pictureComments {
		max-width: 800px;
		margin: $regular auto 3vw;
	}
}

#menubar {
	width: unset !important;
	padding: $regular $small $small;
	text-transform: uppercase;
	font-weight: 700;
	dd, .switchBox, .categoryActions {
		background: var(--background) !important;
		color: var(--text) !important;
		border-radius: $radius-m;
		box-shadow: var(--shadow) !important;
	}
	dd {
		li, #menuTagCloud {
			a {
				color: var(--text) !important;
			}
		}
	}
}

#Tags {
	dd {
		color: var(--background);
		a {
			padding: 1px 4px;
			background: var(--yellow);
			border-radius: $radius-s;
			color: var(--background) !important;
			font-family: var(--font-sans) !important;
			font-weight: 700;
			font-size: .92em;
			text-transform: uppercase;
		}
	}
}

.albLegend {
	padding: $regular $tiny $small !important;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.01),rgba(0,0,0,0.8)) !important;
	text-shadow: 1px 1px 5px #000E;
	h4 {
		margin: $small $small 0 $small !important;
	}
	div {
		margin: 0 $small;
		opacity: .6;
	}
}

#qsearchInput {
	border: none;
	background: #0002;
	color: #0009;
	box-shadow: none;
	&::placeholder {
		color: #0009;
	}
}

#commentAdd {
	width: 100% !important;
	padding: unset !important;
}

#pictureComments {
	padding: $regular 3vw;
	margin: $regular-less 3vw 3vh;
	box-shadow: var(--shadow);
	border-radius: $radius-l;
	background: var(--background) !important;
}

#comments input[type="text"],
#comments TEXTAREA,
input {
	border: solid 2px var(--text);
	border-radius: $radius-s;
	background: var(--deep);
	color: var(--text);
	padding: 2px $small;
}

input[value="Submit"] {
	background: var(--yellow);
	color: var(--background);
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: var(--button-shadow);
}

a .pwg-icon {
	color: var(--text) !important;
}

.pwg-icon.pwg-icon-menu {
	padding: $small !important;
	margin: $small;
	background: var(--primary) !important;
	border-radius: $radius-s;
	box-shadow: var(--little-shadow);
	opacity: 1 !important;
	color: var(--background) !important;
}

.albumActionsSwitcher {
	width: unset !important;
}

.titrePage {
	background: none !important;
	color: var(--text);
	line-height: 45px !important;
	padding: $small !important;
	margin: $small 3%;
	h2 {
		a {
			color: var(--text) !important;
		}
	}
}

/* Style albums population */
.titrePage h2 span.badge,
span.menuInfoCat.badge,
#menubar .menuInfoCat {
	color: var(--white-ish) !important;
	opacity: .5;
	/* background: var(--grey) !important;
	box-shadow: var(--little-shadow);
	border-radius: $radius-s; */
}

a {
	cursor: url(https://tommi.space/logos/cursor-hover.svg) 16 16, pointer !important;
	color: var(--text) !important;
	&:hover {
		text-decoration: none !important;
	}
	&[href="identification.php"] {
		opacity: .3;
	}
}

.navigationBar * {
	color: var(--other-grey) !important;
}

.calItem {
	padding: $tiny $small !important;
	border-radius: $radius-s !important;
	border: none !important;
	box-shadow: var(--button-shadow);
}

.navThumbs {
	overflow: hidden;
	font-size: .5rem;
	img {
		border-radius: $radius-s;
	}
}

#imageHeaderBar H2 {
	font-weight: 800;
	color: var(--text);
}

.imageNumber {
	font-weight: 300;
	color: var(--text);
}

li .bullet {
	background: url(https://tommi.space/logos/bpm.gif) no-repeat scroll !important;
}

#copyright {
	display: none;
}

.additional_info {
	font-family: var(--font-serif);
	font-size: 1em !important;
	max-width: 750px;
	padding: 0 10%;
}

p.imageComment {
	padding: 0 5%;
	font-family: var(--font-serif);
	a {
		color: var(--yellow) !important;
	}
	*:not(pre,code) {
		font-family: var(--font-serif);
	}
}
