:root {
	--black-ish: #111;
	--white-ish: #E0E0E0;
	--dark-grey: #222;
	--light-grey: #DDD;
	--yellow: #FCC920;
	--blue: #3185FC;
	--red: #E84855;

	--tiny: 0.2rem;
	--small: 0.5rem;
	--lessthan-regular: 0.9rem;
	--regular: 1.1rem;
	--morethan-regular: 1.3rem;
	--big: 1.6rem;
	--bigger: 1.8rem;
	--twice: 2.2rem;
	--height: 3.1rem;
	--mastodon: 4.4rem;
	--margin: 6.5rem;
}

html {
	box-sizing: border-box;
}

/* DARK THEME */
body {
	--background: black;
	--text: var(--white-ish);
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--grey: var(--dark-grey);

	transition: .5s;
}

/* LIGHT THEME */
.light {
	--background: white;
	--text: var(--black-ish);
	--link: var(--secondary);
	--primary: var(--blue);
	--secondary: var(--red);
	--grey: var(--light-grey);

	transition: .5s;
}

body {
	background-color: var(--background);
	font: 300 var(--regular) "Inter", "Fira Sans", Helvetica, sans-serif;
	color: var(--text);
	margin: 0;
	overflow-wrap: break-word;
	hyphens: auto;
	cursor: url(/logos/cursor.svg), auto;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.row::before,
.row::after {
	display: table;
	content: " ";
	clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half,
.two-fifths,
.four-fifths,
.one-fifth {
	width: 100%;
}

mark {
	background: var(--primary);
	color: var(--background);
	font-weight: 500;
}

.theme-toggle-button {
	position: fixed;
	bottom: var(--small); /* height + 2*small */
	right: var(--small);
	z-index: 3;
}


.poetry {
	font: 400 var(--morethan-regular) "Latin Modern Roman", Times, "Times New Roman", serif;
}

.post strong, .post b, .poetry strong, .poetry b {
	font-weight: 700;
}

.post p:first-child::first-letter, {
	font: 400 var(--morethan-regular) "Latin Modern Roman", Times, "Times New Roman", serif;
	font-size: 3em;
}

.line {
	height: var(--tiny);
	background-color: var(--primary);
	width: 20%;
	margin: var(--tiny) auto;
}

.date {
	text-align: center;
}

.page-header h1 {
	font-size: var(--mastodon);
}

.page-header {
	margin-top: 7rem; /* second time, if added to "" */
	text-align: center;
	margin-bottom: 8rem;
}

.page-description {
	margin: 0px auto;
	width: 80%;
}

.categories {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	border: var(--tiny) solid var(--text);
	padding: var(--tiny);
	scroll-behavior: smooth;
	height: var(--height);
}

.categories::-webkit-scrollbar {
	display: none;
}

.topics-indicator {
	font-size: var(--big);
	line-height: var(--height);
	background-color: var(--text);
	color: var(--background);
	height: var(--height);
	font-weight: 700;
}

.category, .language, .link, .gallery {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	font-size: var(--big);
	height: 2.3rem; /* height - 4*tiny */
	line-height: 2.3rem;
	transition: transform .2s;
	margin: 0px;
	padding: 0px var(--small);
}

.category:hover, .language:hover, .link:hover,
.category:focus, .language:focus, .link:focus {
	transform: scale(1.05);
}

.language, .gallery {
	color: var(--text);
	border: var(--tiny) solid var(--text);
	margin-bottom: var(--regular);
	font-size: var(--bigger);
	height: var(--height);
	line-height: var(--bigger);
	padding-top: var(--small);
}

.link {
	height: var(--height);
	line-height: var(--height);
	padding-left: var(--lessthan-regular);
	padding-right: var(--lessthan-regular);
	margin-bottom: var(--regular);
}

.anchor, .anchor:visited {
	color: var(--text);
	height: var(--big);
	position: absolute;
	right: 101%; /* big + tiny*/
	transition: .2s;
	top: .15em;
}

.anchor:hover,
.anchor:focus {
	outline: var(--tiny) solid var(--secondary);
}

#jar {
	background-color: var(--secondary);
}

pre, code {
	font-family: "Ubuntu Mono", "Roboto Mono", "Fira Code", mono;
}

pre {
	overflow-x: scroll;
	outline: dashed var(--tiny);
	margin: var(--bigger) 0px;
	padding: var(--lessthan-regular);
}

pre code {
	background: transparent;
}

code {
	background: var(--grey);
	padding: var(--tiny) var(--small);
}

.hljs {
	font-family: "Ubuntu Mono", "Roboto Mono", "Fira Code", mono;
}

/* WHEN ELEMENT CENTERING IS NEEDED */
a.container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    position: absolute;
	display: table;
	text-decoration: none !important;
}

#intro {
	text-align: center;
	display: table-cell; /* THE KEY TO VERTICAL ALIGNMENT */
	vertical-align: middle;
	background-color: var(--primary);
	color: var(--background-color);
}

#intro h1, #intro a, #intro a:visited {
	color: var(--background);
	letter-spacing: .05rem;
	font-weight: 800;
}

.menu {
	display: flex;
}

@media only screen and (min-width: 1000px) {
	.one {
		width: 70%;
		margin-left: 15%;
	}
	.half {
		width: 50%;
	}
	.one-third {
		width: calc(100% / 3);
	}
	.one-fourth {
		width: 25%;
	}
	.two-thirds {
		width: calc(100% / 3 * 2);
	}
	.one-fifth {
		width: 20%;
	}
	.two-fifths {
		width: 40%;
	}
	.four-fifths {
		width: 80%;
		text-align: left;
	}
	.three-fourths {
		width: 75%;
	}
	.column {
		float: left;
	}
/*	.categories {
		font-size: var(--big);
		line-height: var(--big)
	} */
	.date {
		text-align: right;
	}
	.line {
		margin: var(--tiny) auto var(--tiny) 15%;
		width: 70%;
	}
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
}

figcaption {
	font: italic 400 var(--regular) "Latin Modern Roman", Times, "Times New Roman", serif;
	text-align: center;
	line-height: var(--lessthan-regular);
	margin-top: var(--small);
	padding: 0.7rem;
	outline: var(--tiny) dashed var(--grey);
}

.first {
	margin-top: 3.6rem; /* --height + margin (--small) */
}


article {
	padding: var(--twice) 10% 6rem;
}

p {
	line-height: var(--big);
}

.preview {
	margin-bottom: var(--twice);
}

.image {
	width: 100%;
	height: auto;
	margin: 0px 0px var(--mastodon) 0px;
}

.image img {
	object-fit: cover;
	margin: 0px;
}

.gallery-preview {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: space-around;
}


.section-title {
	background-color: var(--primary);
	text-align: center;
	height: var(--height);
	line-height: var(--height);
	color: var(--background)
}

.section-title:hover,
.section-title:focus {
	outline: .35rem dashed var(--secondary);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	line-height: 0.97em;
}

article h2, article h3, article h4, article h5, article h6 {
	font-family: Inter, Helvetica, "Helvetica Neue", sans;
	background: var(--background);
	position: sticky;
	line-height: 1.2em;
	top: 3.6rem;
	margin-bottom: 0;
	z-index: 0;
}

h1 {
	color: var(--text);
	font-size: var(--height);
	text-decoration: none;
	text-align: center;
}

h2 {
	font-size: var(--bigger);
	margin: 0px;
}

a, a:visited {
	text-decoration: none;
}

.post h1 a, .post h2 a, .post h3 a, .post h4 a, .post h5 a, .post h6 a,
.post a h1, .post a h2, .post a h3, .post a h4, .post a h5, .post a h6 {
	background: var(--primary);
	color: var(--background);
}

a, button {
	cursor: url(/logos/cursor-hover.svg), auto;
}

#stuff-tree a,
p a,
p a:visited,
#stuff-tree a:visited,
article a,
article a:visited {
	color: var(--link);
}

li a:hover, p a:hover,
li a:focus, p a:focus {
	border-bottom: 2px dashed;
/*	transform: rotate(2deg);
	transition: transform .2s; */
}

.stuff {
	padding: 0px 10%;
	display: block;
	text-align: center;
}

.stuff img {
	height: var(--margin);
	width: auto;
	max-width: 100%;
	margin: var(--mastodon) auto var(--height);
	display: inherit;
	object-fit: contain;
}

.stuff .category {
	margin: var(--height) auto;
	line-height: var(--height);
	padding: 0.17rem var(--lessthan-regular) 0px;
	font-size: var(--morethan-regular);
}

.stuff p {
	margin-bottom: var(--big);
}

.link-container {
	text-align: center;
}


.post-title:hover,
.post-title:focus {
	background: var(--primary);
	color: var(--black-ish);
	transition: color .2s, background .2s;
}

.last-modified {
	margin: 0 auto var(--twice);
	text-align: center;
	font-size: var(--lessthan-regular);
	opacity: 0.8;
}

/* HEADER */
.navigation {
	top: var(--small);
	width: 98%;
	left: 1%;
	height: var(--height);
	background: transparent;
	position: fixed;
	text-transform: uppercase;
	font-weight: 700;
}

.navigation a, .navigation a:hover, .navigation a:focus {
	text-decoration: none;
}

.xplosionmind{
	padding: 0px var(--regular);
	float: left;
	line-height: var(--height); 
	height: var(--height);
	font-size: var(--bigger);
	background-color: var(--background);
}
.xplosionmind a, .xplosionmind a:visited {
	color: var(--primary);
}

.xplosionmind:hover, .xplosionmind:focus {
	background: var(--primary);
	transition: background .2s, color .2s;
	border-bottom: none;
}
.xplosionmind a:hover, .xplosionmind a:focus {
	color: var(--background);
}

.nav-container {
	max-width: 100%;
	height: var(--height);
	background-color: var(--primary);
}

nav {
	float: right;
	margin-right: var(--small);
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	float: left;
	position: relative;
}
nav ul li a,
nav ul li a:visited {
	display: block;
	padding: 0 15px;
	line-height: var(--height);
	color: var(--black-ish);
	text-decoration: none;
	background: var(--primary);
	font-size: var(--morethan-regular);
}

nav ul li a:hover,
nav ul li a:visited:hover,
nav ul li a:focus,
nav ul li a:visited:focus,
nav ul li a:visited:active,
nav ul li a:active {
	background: var(--background);
	color: var(--primary);
	transition: background .2s, color .2s;
	border-bottom: none;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
	padding-left: var(--small);
	content: "▾";
}
nav ul li ul li {
	min-width: 12rem;
}
nav ul li ul li a {
	padding: var(--regular);
	line-height: var(--regular);
}

.nav-dropdown {
	position: absolute;
	z-index: 5;
/*	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); */
	display: none;
}

/* Mobile navigation */
.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: var(--primary);
	height: var(--height);
	width: var(--height);
}

@media only screen and (max-width: 1000px) {
	.nav-mobile {
		display: block;
	}
	nav {
		margin-right: 0px;
		text-align: right;
	}
	nav ul {
		display: none;
	}
	nav ul li {
	  float: none;
	}
	nav ul li a {
		padding: var(--lessthan-regular) var(--big);
		line-height: var(--morethan-regular);
	}
	nav ul li ul li a {
		padding-right: 4.5rem;
	}
	.nav-dropdown {
		position: static;
		overflow: scroll;
	}
	.post-title {
		width: 96%;
		margin-left: 2%;
	}
	h1, h2 {
		text-align: center;
	}
	#intro h1 {
		font-size: 2.1rem;
	}
	.page-header h1 {
		font-size: var(--height);
	}
	.nav-container {
		background-color: var(--background);
	}
	.navigation, footer {
		left: 2%;
		width: 96%;
	}
}

@media screen and (min-width: 1000px) {
	.nav-list {
		display: block !important;
	}
}
#nav-toggle {
	position: absolute;
	left: 10px;
	top: 12px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
	cursor: pointer;
	height: 4px;
	width: 30px;
	background: var(--black-ish);
	position: absolute;
	display: block;
	content: "";
 	transition: all 200ms ease-in-out;
}
#nav-toggle span:before {
	top: var(--small);
}
#nav-toggle span:after {
	bottom: var(--small);
}
#nav-toggle.active span {
	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
}


.edit {
	margin: 0 8%;
}

/* SOCIAL SHARING BUTTONS */
#sharing-box {
	margin: 0 8% 9rem;
}

#sharing-box div {
	text-transform: uppercase;
	font-weight: 700;
	font-size: var(--big);
}

/* FOOTER */
footer {
	background-color: var(--grey);
	margin-bottom: var(--small);
	width: 98%;
	margin-left: 1%;
	text-align: center;
}

footer p {
	opacity: .7;
	margin: var(--big) auto 0;
	line-height: 1rem;
}

/* "Privacy" in footer */
footer .one-fifth {
	margin-top: var(--morethan-regular);
}

footer .one-fifth p a {
	opacity: .7;
	color: var(--text);
	text-align: center;
}

footer p:hover,
footer p:focus {
	transition: opacity .2s, font-weight .2s;
	opacity: 100%;
}

footer form {
	margin: var(--morethan-regular) auto;
}

input#email {
	font-size: var(--big);
	line-height: var(--big);
	font-weight: 700;
	color: var(--black-ish);
	width: 73%;
	height: var(--height);
	background-color: var(--primary);
	border: none;
	opacity: 100%;
	padding-left: var(--tiny);
}

input#email:focus {
	background-color: transparent;
	color: var(--primary);
	border: var(--tiny) dashed var(--primary);
}

#submit {
	font-size: var(--big);
	line-height: var(--height);
	font-weight: 700;
	color: var(--primary);
	height: var(--height);
	width: var(--height);
	background: transparent;
	border: none;
	opacity: 100%;
}

#submit:hover
#submit:focus {
	background: var(--primary);
	color: var(--black-ish);
  	transition: background .1s, color .1s;
}

input::placeholder {
	color: var(--grey);
	opacity: 1;
	text-align: center;
}

#social-box {
	margin: var(--morethan-regular) auto;
}

.button {
	display: inline;
	height: var(--height);
	width: auto;
	transition: transform .1s;
}

.button:hover,
.button:focus {
	transform: scale(1.1);
}

#license {
	width: 90%; /* override one column width */
	margin-left: 5%;
	margin-bottom: 0px;
	font-size: 0.8em;
	font-weight: 200;
}

#CClogo {
	display: block;
	height: 1.2em;
	width: auto;
	margin: 0px auto 20px;
	opacity: .70;
	position: relative;
	top: 2px;
}

#CClogo:hover,
#CClogo:focus {
	opacity: 100%;
	transition: opacity .1s;
}
