---
---
@import "../_sass/normalize";
@import "../_sass/root";
@import "../_sass/inter";
@import "../_sass/header";
@import "../_sass/ubuntu-mono";
@import "../_sass/eb-garamond";
/*@import "../_sass/graph";*/

html {
	cursor: url({{ site.logos }}/cursor.svg) 16 16, crosshair;
	scroll-behavior: smooth;

/* DARK THEME */
	background: var(--black-ish);
	color: var(--text);
	overflow-wrap: break-word;
	hyphens: auto;
	font: $regular var(--font-sans);

	--background: var(--black-ish);
	--text: var(--white-ish);
	--deep: var(--dark-blue);
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--slight: var(--light-blue);
	--internal-link: var(--blue);
	--grey: var(--dark-grey);
	--other-grey: var(--light-grey);
	--transp-text: #FFF4;
	--shadow: 5px 5px 20px #00000099, -5px -5px 20px #FFF3CC22;
	--opposite-shadow: -5px -5px 20px #000000BB, 5px 5px 20px #FFF3CC11;
	--little-shadow: 2px 2px 3px #000000EF, -2px -2px 3px #FFF3CC22;
	--tool-shadow: 3px 3px 8px #000A, -3px -3px 8px #FFF3CC11;
	--button-shadow: inset 2px 2px 4px #FFF3CC88, inset -2px -2px 4px #0008;
	--inner-shadow: inset 3px 3px 5px #0008, inset -3px -3px 5px #FFF3CC22;
	--inner-little-shadow: inset 2px 2px 3px #000A, inset -2px -2px 3px #FFF3CC11;

	transition: var(--trans);

	{% comment %}
	&.cantiere {
		 background: #1D1D1D url('/logos/cantiere.svg');
		 .type mark {
			 background: var(--background);
		 }
	}
	{% endcomment %}
	&:not(html.light) .light {
		filter: var(--invert);
		box-shadow: var(--opposite-shadow);
	}
}

/* LIGHT THEME */
@media screen and (prefers-color-scheme: light) {
	html {
		background: linear-gradient(-30deg,#E5EFF5,#FFF);
		--background: #FFF;
		--text: var(--black-ish);
		--deep: #FFF;
		--link: var(--secondary);
		--primary: var(--blue);
		--secondary: var(--razzmatazz);
		--slight: var(--dark-blue);
		--internal-link: var(--blue);
		--grey: var(--light-grey);
		--other-grey: var(--dark-grey);
		--transp-text: #11305B33;
		--shadow: 5px 5px 20px #11305B22, -5px -5px 20px #FFF3CC22;
		--opposite-shadow: -5px -5px 20px #11305B22, 5px 5px 20px #FFF3CC22;
		--little-shadow: 1px 1px 4px #11305B33, -2px -2px 3px #FFF3CC77;
		--tool-shadow: 3px 3px 8px #11305B55, -3px -3px 8px #FFF3CC66;
		--inner-shadow: inset 3px 3px 5px #11305B55, inset -3px -3px 5px #FFF3CC22;
		--inner-little-shadow: inset 2px 2px 3px #11305B22, inset -2px -2px 3px #FFF3CC33;

		transition: var(--trans);
	}
	.dark {
		filter: var(--invert-dark);
		box-shadow: var(--opposite-shadow);
	}
}

* {
	transition: var(--trans), transform var(--quicktrans), box-shadow var(--quicktrans), text-shadow var(--quicktrans);
}

#menutoggle,
#langtoggle {
	display: none;
}

.row {
	&::before,
	&::after {
		display: table;
		content: '';
		clear: both;
	}
}

mark {
	background: var(--primary);
	color: var(--background);
	font-weight: 500;
}

.double,
.thick {
	text-decoration-thickness: 5px !important;
	text-decoration-skip-ink: none;
	text-decoration-color: var(--primary) !important;
}

.wavy {
	text-decoration-style: wavy;
}

::selection {
	color: var(--background);
	background: var(--primary);
}

.dim {
	opacity: .5;
}

{% comment %}
.type {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  /* white-space: nowrap; Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(30, end),
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
{% endcomment %}

a {
	text-decoration: none;
	color: var(--link);
	&:hover,
	&:focus {
		box-shadow: none;
		text-shadow: none;
	}
	code {
		color: var(--primary);
	}
	&.box:active {
		box-shadow: var(--inner-shadow);
	}
}

a,
button,
.button,
.aa-suggestion,
.embed-container,
label {
	cursor: url({{ site.logos }}/cursor-hover.svg) 16 16, pointer;
}

p,
li,
article .box:not(.tags) {
	a {
		font-weight: 500;
		&:hover {
			filter: hue-rotate(.3turn);
		}
		&[href^="/"],
		&[href^="#"],
		&[href*="https://tommi.space" i] {
			color: var(--internal-link);
		}
	}
}

input[type="email"] {
	line-height: $bigger;
	border: none;
	background: var(--background);
	color: var(--text);
	border-radius: $radius-s;
	border: solid 2px var(--text);
	padding: $small $regular;
	font-size: $bigger;
	max-width: 100%;
	&::placeholder {
		color: var(--other-grey);
	}
}

input.button {
	color: var(--text);
	border: none;
}

.invalid-wiki-link {
	opacity: .5;
	cursor: not-allowed;
}

.flex {
	display: flex !important;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	p {
		max-width: 700px;
	}
}

.vertical {
	flex-direction: column;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: $regular-less;
	h3 {
		text-align: center;
	}
	p {
		font-size: .8em;
		font-weight: 300;
		line-height: 1.3em;
	}
	.box {
		margin: 0;
		padding: 3%;
		/*height: 13rem;*/
	}
}

.library {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	grid-gap: $tiny;
	a {
		& > img,
		& > .fake-book-cover {
			font: italic .5em var(--font-serif);
			line-height: unset;
			text-align: center;
			color: #E1DCC5;
			background: linear-gradient(-30deg, #39281E, #4E3C2B);
			margin-top: 15%;
			border-radius: 3px;
			box-shadow: var(--little-shadow);
		}
	}
}

li {
	margin-bottom: $small;
	line-height: $regular-more-em;
	ul {
		& > li {
			margin-bottom: 0;
			list-style-type: "–   ";
			& > ul {
				& > li {
					list-style-type: "+  ";
				}
			}
		}
	}
}

.task-list-item {
	list-style: none;
}

.task-list-item-checkbox {
	position: relative;
	right: $regular-less;
	width: $regular;
	height: $regular;
}

.poetry,
.serif {
	font-family: var(--font-serif) !important; /* important to override default sans serif styling */
	p {
		line-height: 1.5em;
	}
}

.post {
	& > p:first-of-type::first-letter {
		initial-letter: 4;
		-webkit-initial-letter: 4;
		font-weight: bolder;
	}
	.embed-container {
		border-radius: $radius-l;
		box-shadow: var(--shadow);
	}
}

hr {
	width: 30%;
}

.page-header {
	margin-top: 8vh;
	h2 {
		margin-top: 0;
		text-align: center;
	}
	p {
		text-align: center;
		padding: 0 10%;
	}
}

pre,
code,
kbd,
samp {
	font: 400 1em var(--font-mono);
	line-height: 1.2em;
	background: var(--black-ish);
	color: #FFF;
}

pre {
	overflow-x: scroll;
	padding: $regular;
	border-radius: $radius-m;
	scrollbar-width: 0px;
	code {
		padding: 0;
		line-height: unset;
		box-shadow: unset;
	}
}

code {
	padding: 2px 6px;
	box-shadow: var(--inner-little-shadow);
	border-radius: $radius-s;
}

.missing,
.bug,
.wtf {
  padding: 2px 5px;
  background: var(--red);
  color: #FFF;
  border-radius: $radius-s;
}

.cite {
	text-align: right;
	line-height: 1em;
	font-size: .9em;
	margin-left: 20%;
	&::before {
		content: '~ ';
	}
}

blockquote {
  	margin: 0 3vw;
	padding: 0;
	font: 1em var(--font-serif);
	opacity: .9;
	p {
		line-height: unset;
	}
}

td,
th,
tr {
	border: solid 1px var(--grey);
}

th {
	padding: $small $regular-less;
	position: sticky;
	top: 0;
	background: var(--background);
}

td {
	font-size: .8em;
	padding: $tiny $small;
}

.table {
	max-height: 90vh;
	overflow: scroll;
	margin: $height 3vw;
	border: 3px solid var(--text);
	border-radius: $radius-l;
	box-shadow: var(--shadow);
	table {
		width: 100%;
	}
}

table {
	border-collapse: collapse;
}

.landing {
	background: var(--primary);
	h1 {
		color: var(--background);
		font-weight: 800;
		margin-bottom: 0;
		position: relative;
		bottom: $regular;
		text-shadow: 4px 4px 20px #0006;
	}
	.button {
		color: var(--white-ish);
		background: var(--background);
		margin: $tiny $regular-less;
	}
}

.one {
	width: 70%;
	margin-left: 15%;
}

.half {
	width: 50%;
}

.one-third {
	width: calc(100% / 3);
}

.two-thirds {
	width: calc(100% / 3 * 2);
}

.column {
	float: left;
}

.line {
	margin: auto;
	width: 50%;
	height: $small;
	border-radius: $radius-s;
	box-shadow: var(--little-shadow);
}

img {
	max-width: 100%;
	display: block;
	border-radius: $radius-l;
	& + h2,
	& + h3 {
		margin-top: revert !important;
	}
}

figure {
	margin: $height auto;
	img {
		max-height: 100vh;
		box-shadow: var(--shadow);
		margin: 0 auto;
	}
	& + figure {
		img {
			margin: 0 $small 0 0;
		}
	}
}

.full {
	width: 100vw;
}

figcaption {
	font: $regular var(--font-serif);
	line-height: $regular;
	margin-top: $regular-less;
	color: var(--other-grey);
	text-align: center;
}

.dropdown-content {
	display: none;
}

.dropdown {
	&:hover,
	&:focus {
		.dropdown-content {
			display: block;
		}
	}
}

.center {
	text-align: center;
}

.right,
.date {
	text-align: right;
}

.p-author {
	display: none;
}

p {
	line-height: 1.75em;
}

u {
	text-decoration-color: var(--transp-text) !important;
}

strong,
b {
	font-weight: 800;
}

article {
	font-size: $regular-more;
	padding: 8vh 5vw 15vh;
	& > .box {
		margin: $bigger 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	transition: var(--quicktrans);
	hyphens: none;
	.anchor {
		opacity: 0;
	}
	&:hover {
		.anchor {
			opacity: 1;
		}
	}
}

.title {
	font-size: $twice;
	text-shadow: 2px 2px 3px var(--transp-text);
}

h1 {
	font-size: $mastodon;
	color: var(--text);
	text-align: center;
	margin: 0;
	text-shadow: var(--little-shadow);
	&:hover {
		transform: rotate(-3deg);
	}
}

h2 {
	font-size: $bigger;
	.anchor::after {
		content: '##';
	}
}

h3 {
	font-size: $big;
	.anchor::after {
		content: '###';
	}
}

.box {
	display: block;
	background: var(--background);
	max-width: 100%;
	color: var(--text);
	padding: $big;
	margin: $regular-less 3%;
	border-radius: $radius-l;
	box-shadow: var(--shadow);
	&.little {
		border-radius: $radius-m;
		padding: $small;
		background: var(--primary);
		margin: 2vw;
		a {
			color: var(--text);
			background: var(--background);
		}
	}
	h2,
	h3 {
		margin: 0;
		text-align: center;
	}
	h4 {
		margin: 0;
	}
}

.zibaldone {
	.box {
		max-height: 90vh;
		overflow: scroll;
	}
}

.tags {
	padding: $small $tiny;
	.flex {
		max-height: 30vh;
		overflow: scroll;
	}
}

#toc {
	h3 {
		margin-bottom: 0;
		color: var(--slight);
	}
	li {
		margin-bottom: unset;
	}
}

#help {
	position: fixed;
	bottom: -10.5rem;
	&:hover {
		bottom: 0;
	}
}

.excerpt {
	display: block;
	margin: $small 10%;
	font: italic .85em var(--font-sans);
	line-height: 1.5em;
}

.stuff-logo {
	width: auto;
	min-width: 50%;
	max-width: 90%;
	max-height: 10rem;
	border-radius: 0;
}

.last-modified {
	margin-top: 0;
	font-size: $regular-less;
	opacity: .8;
	text-align: center;
	line-height: 1.3;
	time {
		font-weight: 300;
	}
}

.footnotes {
	font-size: .8em;
	margin-top: $bigger;
}

footer {
	background: var(--background);
	padding: $big;
	margin: $bigger 3%;
	border-radius: $radius-l;
	box-shadow: var(--shadow);
	p {
		a {
			/* override internal link color for “Privacy” */
			color: var(--primary) !important;
		}
	}
	& > .row {
		justify-content: space-between;
	}
}

audio,
.controlBar {
	width: 100%;
	box-shadow: var(--shadow);
	border-radius: $radius-m;
}

.icon {
	height: $regular;
	width: auto;
}

svg.button,
img.button {
	height: $height;
	width: auto;
	padding: .35rem;
	margin: $tiny;
	background: var(--primary);
}

button,
.button {
	display: inline-block;
	padding: $small $regular;
	font-size: $bigger;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: $radius-m;
	box-shadow: var(--button-shadow);
	text-align: center;
	hyphens: none;
	&:hover,
	&:focus {
		box-shadow: none;
	}
	&:active {
		box-shadow: var(--inner-shadow);
	}
}

.hoverotate {
	&:hover {
		transform: rotate(-5deg);
	}
}

.written {
	--text: var(--background);
	color: var(--text);
	background: var(--primary);
	margin: $big;
}

.smaller {
	padding: $tiny $regular-less;
	margin: $tiny;
	font-size: $big;
	border-radius: $radius-s;
}

.tiny {
	padding: 1px $small;
	margin: $tiny;
	font-size: $regular-less;
	border-radius: 4px;
}

.filter-by {
	font-size: $bigger;
	a {
		margin-right: .7rem;
	}
}

.listen-on {
	background: var(--deep);
	.button {
		margin-right: .2rem;
	}
}

#license {
	font-size: .8em;
	font-weight: 200;
}

.embed-container {
	--video--width: 1920;
	--video--height: 1080;

	position: relative;
	padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
	overflow: hidden;
	max-width: 100%;
	background: transparent;
	box-shadow: var(--shadow);

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.tool {
	position: fixed;
	bottom: 3vw;
	right: 3vw;
	.button {
		padding: .3rem;
		z-index: 8;
	}
}

#to-bottom {
	.button {
		z-index: 9;
		transform: rotate(.5turn);
		box-shadow: inset -2px -2px 4px #FFF8, inset 2px 2px 4px #0008 !important;
		&:hover {
			box-shadow: none !important;
		}
		&:active {
			box-shadow: var(--button-shadow) !important;
		}
	}
}


.tag {
	p {
		margin: 5vh 0;
	}
}

{% for tag in site.data.tags %}
	.{{ tag.title | slugify }} {
		color: {{ tag.color }};
		background: {{ tag.background }};
		a {
			color: {{ tag.color }};
		}
	}
{% endfor %}

.green {
	background: var(--green) !important;
	border-color: var(--green) !important;
	&:not(.border) {
		--text: var(--black-ish);
		--transp-text: #0007;
	}
}

.red {
	background: var(--red);
	border-color: var(--red) !important;
	&:not(.border) {
		--text: white;
		--link: var(--yellow);
		--internal-link: var(--link);
		--transp-text: #FFFA;
	}
}

.blue {
	background: var(--blue);
	border-color: var(--blue) !important;
	&:not(.border) {
		--text: white;
		--link: var(--yellow);
		--internal-link: var(--link);
		--transp-text: #FFFA;
	}
}

.yellow {
	background: var(--yellow);
	border-color: var(--yellow) !important;
	&:not(.border) {
		--text: var(--black-ish);
		--link: var(--red);
		--internal-link: var(--link);
		--transp-text: #0007;
	}
}

.razzmatazz {
	background: var(--razzmatazz);
	border-color: var(--razzmatazz) !important;
	&:not(.border) {
		--text: white;
		--transp-text: #FFFA;
	}
}

.border {
	background: var(--background);
	border: 3px solid var(--text);
}

/* mobile display - responsive design */
@media only screen and (max-width: 950px) {
	.one,
	.half,
	.one-third,
	.two-thirds {
		width: 100%;
		margin: 0;
	}
	.page-header h1 {
		font-size: $height;
	}
	.stuff-logo {
		margin-top: $bigger
	}
	.line {
		width: 20%;
	}
	.grid .box {
		margin: 0 3%;
		height: unset;
	}
	.tool {
		bottom: 3vh;
	}
	nav ul li a {
		padding: 0 $regular-more;
	}
	p {
		line-height: 1.5em;
	}
	.popup {
		left: 5vw;
	}
	.newsletter {
		margin: 2vh 0;
	}
	#goto div {
		display: flex;
		overflow: scroll;
		a {
			margin-right: $small;
		}
	}
	#help {
		bottom: -15rem;
	}
	#pages {
		a {
			padding: 0 $small;
		}
	}
	#toc {
		margin-left: $regular;
	}
	.full {
		left: -5vw;
	}
}

@media only screen and (min-width: 950px) {
	.post {
		padding: 8vh 12vw 15vh;
	}
	.box .column {
		p,
		li {
			margin: $regular 10%;
		}
	}
	ul.two,
	ol.two {
		columns: 2;
	}
	ul.three,
	ol.three {
		columns: 3;
	}
	#toc {
		float: right;
		max-width: 15%;
		ul {
			padding: 0 $small 0 1em;
		}
	}
	#goto {
		position: fixed;
		top: 30vh;
		left: -15rem;
		&:hover,
		&:focus {
			left: 0;
		}
		a {
			transform: scale(.85);
			display: block;
		}
	}
}

@import "../_sass/links-emojis";
@import "../_sass/highlight";
@import "../_sass/commento";
@import "../_sass/temporary";
