---
---
:root {
	--black-ish: #222;
	--white-ish: #E0E0E0;
	--dark-grey: #333;
	--light-grey: #CCC;
	--yellow: #FCC920;
	--blue: #3185FC;
	--red: #D00;
	--green: #20CE88;
	--razzmatazz: #EC0868;

	--yellow-gradient: linear-gradient(145deg, #DAAE1B, #FFD23E);
	--blue-gradient: linear-gradient(145deg, #4c96ff, #226dd7);

	--tiny: 0.2rem;
	--tinyem: 0.2em;
	--small: 0.5rem;
	--smallem: 0.5em;
	--regular-less: 0.9rem;
	--regular: 1.1rem;
	--regular-em: 1.1em;
	--regular-more: 1.3rem;
	--regular-more-em: 1.3em;
	--big: 1.6rem;
	--big-em: 1.6em;
	--bigger: 1.8rem;
	--bigger-em: 1.8em;
	--twice: 2.2rem;
	--height: 3.1rem;
	--mastodon: 4.4rem;
	--margin: 6.5rem;
	--trans: .5s;
	--quicktrans: .1s;
	--radius-s: 0.4rem;
	--radius-m: 0.6rem;
	--radius-l: 1rem;
}

html {
	box-sizing: border-box;
	cursor: url(/logos/cursor.svg) 16 16, crosshair;
	height: 100%; /* to make the page tall at least as the viewport */
}

/* DARK THEME */
body {
	--background: var(--black-ish);
	--text: var(--white-ish);
	--deep: white;
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--grey: var(--dark-grey);
	--other-grey: var(--light-grey);
	--shadow: 5px 5px 20px #000000CC, -5px -5px 20px #FFFFFF22;
	--little-shadow: 2px 2px 5px #000000FF, -2px -2px 5px #FFFFFF22;
	--inner-shadow: inset 2px 2px 10px #000000AA, inset -2px -2px 10px #FFFFFF33;

	transition: var(--trans);
}

/* LIGHT THEME */
.light {
	--background: var(--white-ish);
	--text: var(--black-ish);
	--deep: black;
	--link: var(--secondary);
	--primary: var(--blue);
	--secondary: var(--razzmatazz);
	--grey: var(--light-grey);
	--other-grey: var(--dark-grey);
	--shadow: 10px 10px 20px #00000022, -10px -10px 20px #FFFFFF33;
	--little-shadow: 2px 2px 5px #00000055, -2px -2px 5px #FFFFFF66;
	--inner-shadow: inset 2px 2px 10px #00000088, inset -2px -2px 10px #FFFFFF33;

	transition: var(--trans);
}

body {
	height: 100%;
	background: var(--background);
	color: var(--text);
	font: var(--regular) Inter, Helvetica, "Helvetica Neue", sans-serif;
	margin: 0;
	overflow-wrap: break-word;
	hyphens: auto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	transition: var(--trans), transform var(--quicktrans);
}

.row::before,
.row::after {
	display: table;
	content: " ";
	clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half,
.two-fifths,
.four-fifths,
.one-fifth {
	width: 100%;
}

mark {
	background: var(--primary);
	color: var(--background);
	font-weight: 500;
}

::selection {
	color: var(--background);
	background: var(--primary);
}

.top {
	position: fixed;
	bottom: var(--bigger);
	right: var(--bigger);
	z-index: 3;
}

.theme-toggle {
	position: fixed;
	bottom: var(--bigger);
	right: 5.7rem;
	z-index: 3;
}

a {
	text-decoration: none;
	color: var(--link);
	h2 {
		color: var(--text);
	}
	&:hover,
	&:focus,
	&:active {
		.title {
			transform: scale(1.1);
		}
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.vertical {
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
}

a,
button {
	cursor: url(/logos/cursor-hover.svg) 16 16, pointer;
}

p a:hover,
p a:focus,
article li a:hover,
article li a:focus,
.toc a:hover,
.toc a:focus {
	outline: none !important;
	border-bottom: 2px dashed;
	transition: none;
}

li {
	line-height: var(--regular-more-em);
}

ol li,
ul li {
	margin-bottom: var(--regular-less);
	li {
		margin-bottom: 0;
	}
}

ul li li {
	list-style-type: "– ";
	li {
		list-style-type: "+ ";
	}
}

.task-list-item {
	list-style: none;
}

.task-list-item-checkbox {
	position: relative;
	right: var(--regular-less);
	width: var(--regular);
	height: var(--regular);
}

.poetry,
.post {
	font: 400 var(--regular-more) Georgia, serif;
}

.post p:first-of-type::first-letter {
	initial-letter: 3;
	-webkit-initial-letter: 3;
}

.line {
	width: 20%;
	height: var(--small);
	margin: 0 auto;
	border-radius: var(--radius-s);
	box-shadow: var(--little-shadow);
}

.background {
	background: var(--background) !important;
	color: var(--text) !important;
}

.green {
	background: var(--green);
	color: black;
}

.red {
	background: var(--red);
	color: white;
}

.blue {
	background: var(--blue);
	color: white;
}

.yellow {
	background: var(--yellow);
	color: black;
	a {
		color: var(--red);
	}
}

.razzmatazz {
	background: var(--razzmatazz) !important;
	color: white !important;
}

.page-header {
	margin: 8rem auto var(--height);
	h1 {
		font-size: var(--mastodon);
		margin: var(--regular-less);
	}
	p {
		text-align: center;
		padding: 0 10%;
	}
}

.toc {
	margin: 0 10% var(--regular);
	ul li {
	margin-bottom: var(--small);
	}
}

.anchor {
	height: var(--big);
	position: absolute;
	right: 101%; /* big + tiny*/
	top: .75rem;
}

.highlight {
	margin: 0 0 3.6rem;
}

pre, code {
	font: 400 1.1em 'Ubuntu Mono', 'Roboto Mono', 'Fira Code', mono;
	line-height: 1.2em;
}

pre {
	overflow-x: scroll;
	border: solid 3px var(--grey);
	margin: var(--bigger) 0;
	padding: var(--regular-more);
	border-radius: var(--radius-m);
	code {
		background: transparent;
	}
}

code {
	padding: 2px var(--small);
	background: var(--grey);
	border-radius: var(--radius-s);
}

blockquote {
  	margin: var(--regular-more) 0 var(--regular-more) var(--height);
	border-left: var(--tiny) dashed var(--secondary);
	padding-left: var(--regular-less);
	p {
		font-style: italic !important;
		color: var(--other-grey) !important;
	}
}

td,
th,
tr {
	border: solid .5px var(--light-grey);
}

th,
td {
	padding: var(--small) var(--regular-less);
}

table {
	overflow-x: scroll;
	width: 100%;
	border-collapse: collapse;
}

.landing {
	background: var(--primary);
	h1 {
		color: var(--background);
		font-weight: 800;
		margin-bottom: 0;
		position: relative;
		bottom: var(--regular);
	}
	.button {
		color: var(--primary);
		background: var(--background);
		margin: var(--tiny) var(--regular-less);
	}
}

.menu {
	display: flex;
}

@media only screen and (min-width: 950px) {
	.one {
		width: 70%;
		margin-left: 15%;
	}
	.half {
		width: 50%;
	}
	.one-third {
		width: calc(100% / 3);
	}
	.one-fourth {
		width: 25%;
	}
	.two-thirds {
		width: calc(100% / 3 * 2);
	}
	.one-fifth {
		width: 20%;
	}
	.two-fifths {
		width: 40%;
	}
	.four-fifths {
		width: 80%;
		text-align: left;
	}
	.three-fourths {
		width: 75%;
	}
	.column {
		float: left;
	}
	.line {
		margin: auto;
		width: 50%;
	}
	.nav-list {
		display: block !important;
		box-shadow: var(--shadow);

	}
	.title {
		width: 60%;
	}
	nav svg {
		margin-top: 0.6rem !important;
	}
}

img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: var(--radius-l);
}

figure {
	margin: var(--height) 0;
	img {
		border: solid 1px black;
		box-shadow: var(--shadow);
	}
}

figcaption {
	font: italic var(--regular) Merriweather, serif;
	line-height: var(--regular);
	margin-top: var(--regular-less);
	color: var(--other-grey);
	text-align: center;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
	align-self: flex-end;
}

p {
	line-height: var(--big-em);
}

strong,
b {
	font-weight: 700;
}

u {
	border-bottom: dashed 2px var(--text);
}

article {
	font-size: var(--regular-more);
	padding: var(--twice) 10% var(--mastodon);
	h2, h3, h4, h5, h6 {
		font-family: Inter, Helvetica, "Helvetica Neue", sans;
		background: var(--background);
		position: sticky;
		line-height: var(--height);
		top: var(--mastodon);
		margin-bottom: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

.title {
	height: var(--height);
	line-height: var(--height);
	color: var(--text);
	background: var(--background);
	margin: var(--mastodon) auto var(--bigger);
	border-radius: var(--radius-m);
	box-shadow: var(--shadow);
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	&:hover {
		.anchor {
			opacity: 1;
		}
	}
	.anchor {
		opacity: 0;
	}
}

h1 {
	color: var(--text);
	text-align: center;
	font-size: var(--height);
	text-decoration: none;
}

h2 {
	font-size: var(--bigger);
	margin: 0;
}

.box,
footer {
	max-height: 40rem;
	max-width: 100%;
	color: var(--text);
	padding: var(--big);
	margin: var(--bigger) 0;
	overflow: scroll;
	border-radius: var(--radius-l);
	box-shadow: var(--shadow);
}
.box h2 {
		text-align: center;
}

.box,
.stuff {
	p {
		margin: var(--regular) 10%;
	}
}

.preview {
	&:hover {
		border: solid 3px var(--grey);
	}
}

.stuff {
	padding: var(--height) 2%;
	margin: var(--height) 2%;
	border-radius: var(--radius-l);
	box-shadow: var(--shadow);
	.column {
		padding: 0 2%
	}
}

.stuff-logo {
	width: auto;
	min-width: 50%;
	max-width: 100%;
	max-height: 10rem;
	border-radius: 0;
}

.last-modified {
	margin: 0 auto var(--twice);
	font-size: var(--regular-less);
	opacity: 0.8;
	text-align: center;
}

footer {
	margin: var(--bigger) 3%;
	width: 94%;
	* {
		text-align: center;
	}
	p {
		opacity: .7;
		margin: var(--big) auto 0;
		&:hover {
			opacity: 1;
		}
		&:focus {
			opacity: 1;
		}
	}
	.one-fifth {
		margin-top: var(--regular-more)
	}
}

/* HEADER */
.navigation {
	top: 0.7rem;
	width: 96%;
	left: 2%;
	height: var(--height);
	position: fixed;
	text-transform: uppercase;
	font-weight: 700;
	* {
		border-radius: var(--radius-m);
	}
	a {
		text-decoration: none;
	}
}
.xplosionmind {
	padding: 0 var(--regular);
	float: left;
	line-height: var(--height); 
	height: var(--height);
	font-size: var(--bigger);
	background: var(--primary);
	box-shadow: var(--shadow);
	a {
		color: var(--background);
		&:hover,
		&:focus {
			color: white;
		}
	}
	&:hover,
	&:focus {
		background: var(--razzmatazz);
		border-bottom: none;
	}
}
.nav-container {
	max-width: 100%;
	height: var(--height);
}
nav {
	float: right;
	background: var(--background);
	padding: 0 var(--small);
	box-shadow: var(--shadow);
	svg {
		width: var(--bigger);
		margin: 0 var(--small);
	}
	ul {
		list-style: none !important;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			list-style: none !important;
			margin: 0;
			a {
				display: block;
				color: var(--text);
				line-height: var(--height);
				height: var(--height);
				padding: 0 var(--small);
				font-size: var(--regular-more);
				&:hover,
				&:focus{
					color: var(--primary);
				}
				&:focus {
					color: var(--primary);
				}
			}
			ul li a {
				padding: var(--regular);
				line-height: var(--regular);
			}
		}
	}
}

.nav-dropdown {
	position: absolute;
	display: none;
	margin-top: var(--small);
	background: var(--background);
}

/* Mobile navigation */
.nav-mobile {
	display: none;
	height: var(--height);
	width: var(--height);
	position: absolute;
	top: 0;
	right: 0;
	background: var(--primary);
	box-shadow: var(--shadow);
}

@media only screen and (max-width: 950px) {
	.nav-mobile {
		display: block;
	}
	nav {
		margin: var(--small) 0;
		text-align: right;
		ul {
			display: none;
			padding: var(--small) 0;
			li {
				float: none;
				ul li a {
					padding-right: 4.5rem;
				}
				a {
					padding: var(--regular-less) var(--big);
					line-height: var(--regular-more);
				}
			}
		}
	}
	.nav-dropdown {
		position: static;
		margin-top: var(--small);
		overflow: scroll;
	}
	.page-header h1 {
		font-size: var(--height);
	}
	.navigation,
	footer,
	.title {
		width: 94%;
	}
	.box {
		max-height: 20rem;
		margin: var(--bigger) 3%;
	}
	.stuff-logo {
		margin-top: var(--bigger)
	}
}

#nav-toggle {
	position: absolute;
	left: 10px;
	top: 12px;
	cursor: url(/logos/cursor-hover.svg) 16 16, pointer;
	padding: 10px 35px 16px 0;
	span,
	span:before,
	span:after {
		cursor: url(/logos/cursor-hover.svg) 16 16, pointer;
		height: 4px;
		width: 30px;
		background: var(--background);
		position: absolute;
		display: block;
		content: "";
		border-radius: var(--radius-s) !important;
 		transition: var(--quicktrans);
	}
	span:before {
		top: 0.6rem;
	}
	span:after {
		bottom: 0.6rem;
	}
	&.active span {
		background: transparent;
		&:before,
		&:after {
			top: 0;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

svg.button {
	height: var(--height);
	width: auto;
	padding: 0;
	background: var(--primary);
}

.button, button {
	display: inline-block;
	padding: var(--small) var(--regular);
	margin: var(--lessthan-regular);
	font-size: var(--bigger);
	font-weight: 700;
	text-transform: uppercase;
	border-radius: var(--radius-m);
	box-shadow: var(--shadow);
	text-align: center;
	hyphens: none;
	&:hover {
		transform: scale(1.1);
	}
	&:focus {
		transform: scale(1.1);
	}
}

.written {
	background: var(--primary);
	color: var(--background);
	margin: var(--big);
}

.smaller {
	padding: var(--tiny) var(--regular-less);
	margin: var(--small);
	font-size: var(--big);
	border-radius: var(--radius-s);
}

.border {
	background: transparent;
	color: var(--text);
	border: var(--tiny) solid var(--text);
}

.sharing {
	.button {
		margin-right: var(--small);
		padding: 0.4rem;
		box-shadow: var(--little-shadow);
	}
}

/* FOOTER */
#license {
	font-size: 0.8em;
	font-weight: 200;
}

#CClogo {
	height: 1.2em;
	opacity: .7;
}

.embed-container {
	--video--width: 1920;
	--video--height: 1080;

	position: relative;
	padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
	overflow: hidden;
	max-width: 100%;
	background: transparent;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
