---
---

@import "../_sass/search";
@import "../_sass/highlight";
@import "../_sass/nav";
@import "../_sass/root";
@import "{{ site.fonts }}/inter/inter.css";
@import "{{ site.fonts }}/ubuntu-mono/ubuntu-mono.css";
@import "{{ site.fonts }}/eb-garamond/eb-garamond.css";

html {
	box-sizing: border-box;
	cursor: url({{ site.logos }}/cursor.svg) 16 16, crosshair;
	background: var(--background);
	scroll-behavior: smooth;
}

/* DARK THEME */
body {
	--background: var(--black-ish);
	--text: var(--white-ish);
	--deep: #111;
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--internal: var(--blue);
	--grey: var(--dark-grey);
	--other-grey: var(--light-grey);
	--shadow: 5px 5px 20px #000000DD, -5px -5px 20px #FFFFFF11;
	--little-shadow: 2px 2px 3px #000000EF, -2px -2px 3px #FFFFFF22;
	--button-shadow: 3px 3px 8px #000000BB, -3px -3px 8px #FFFFFF1F;
	--inner-shadow: inset 3px 3px 5px #00000088, inset -3px -3px 5px #FFFFFF22;
	--inner-little-shadow: inset 2px 2px 3px #000000AA, inset -2px -2px 3px #FFFFFF11;

	transition: var(--trans);
}

/* LIGHT THEME */
.light {
	--background: var(--white-ish);
	--text: var(--black-ish);
	--deep: white;
	--link: var(--secondary);
	--primary: var(--blue);
	--secondary: var(--razzmatazz);
	--internal: var(--blue);
	--grey: var(--light-grey);
	--other-grey: var(--dark-grey);
	--shadow: 5px 5px 20px #0000001F, -5px -5px 20px #FFFFFFEF;
	--little-shadow: 2px 2px 3px #00000055, -2px -2px 3px #FFFFFF66;
	--button-shadow: 3px 3px 8px #00000055, -3px -3px 8px #FFFFFF66;
	--inner-shadow: inset 3px 3px 5px #00000055, inset -3px -3px 5px #FFFFFF33;
	--inner-little-shadow: inset 2px 2px 3px #00000022, inset -2px -2px 3px #FFFFFF33;

	transition: var(--trans);
}

body {
	background: var(--background);
	color: var(--text);
	font: var(--regular) Inter, Helvetica, "Helvetica Neue", sans-serif;
	margin: 0;
	overflow-wrap: break-word;
	hyphens: auto;
}

* {
	transition: var(--trans), transform var(--quicktrans);
}

*,
::before,
::after {
	box-sizing: inherit;
}

.row::before,
.row::after {
	display: table;
	content: " ";
	clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half,
.two-fifths,
.four-fifths,
.one-fifth {
	width: 100%;
}

mark {
	background: var(--primary);
	color: var(--background);
	font-weight: 500;
}

::selection {
	color: var(--background);
	background: var(--primary);
}

.top {
	right: 3%;
}

.theme-toggle {
	right: calc(3% + 4rem);
}

.tool {
	position: fixed;
	bottom: var(--bigger);
	z-index: 9;
	&.button {
		padding: .3rem;
	}
}

a {
	text-decoration: none;
	color: var(--link);
	h2 {
		color: var(--text);
	}
	&:hover,
	&:focus,
	&:active {
		.title {
			box-shadow: var(--inner-shadow);
		}
	}
	.box {
		&:hover {
			box-shadow: var(--inner-shadow);
		}
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#feed .flex.box {
	justify-content: space-between;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: var(--regular);
	p {
		font-size: .8em;
		font-weight: 200;
	}
	.box {
		margin: 0;
		padding: var(--regular-less);
	}
}

.vertical {
	flex-direction: column;
	height: 100%;
}

a,
button,
.button,
.aa-suggestion,
.embed-container {
	cursor: url({{ site.logos }}/cursor-hover.svg) 16 16, pointer;
}

p a:hover,
p a:focus,
article li a:hover,
article li a:focus,
.toc a:hover,
.toc a:focus,
.tag a:hover,
.tag a:focus, {
	outline: none !important;
	border-bottom: 2px dashed;
	transition: none;
}

/* internal links */
a.internal {
	color: var(--internal);
}

/* private or invalid links */
.invalid-link {
	opacity: .5;
	cursor: not-allowed;
	.invalid-link-brackets {
		opacity: .3;
	}
}

li {
	line-height: var(--regular-more-em);
}

ol li,
ul li {
	margin-bottom: var(--regular-less);
	li {
		margin-bottom: 0;
		list-style-type: "–   ";
		li {
			list-style-type: "+  ";
		}
	}
}

.task-list-item {
	list-style: none;
}

.task-list-item-checkbox {
	position: relative;
	right: var(--regular-less);
	width: var(--regular);
	height: var(--regular);
}

.poetry {
	font: 400 var(--regular-more) "EB Garamond", Garamond, "Simoncini Garamond", Georgia, serif;
}

.post {
	& > p:first-of-type::first-letter {
		initial-letter: 4;
		-webkit-initial-letter: 4;
	}
	.embed-container {
		border-radius: var(--radius-l);
		box-shadow: var(--shadow);
	}
}

hr {
	color: transparent;
	border-top: 7px dotted var(--grey);
}

.line {
	width: 20%;
	height: var(--small);
	margin: 0 auto;
	border-radius: var(--radius-s);
	box-shadow: var(--little-shadow);
}

.background {
	background: var(--background) !important;
	color: var(--text) !important;
}

.green {
	background: var(--green);
	color: var(--black-ish) !important;
}

.red {
	background: var(--red);
	color: white !important;
}

.blue {
	background: var(--blue);
	color: white !important;
	a {
		color: var(--yellow);
	}
}

.yellow {
	background: var(--yellow);
	color: var(--black-ish) !important;
	a {
		color: var(--red);
	}
}

.razzmatazz {
	background: var(--razzmatazz) !important;
	color: white !important;
}

.page-header {
	h1 {
		font-size: var(--mastodon);
		margin: var(--regular-less);
	}
	p {
		text-align: center;
		padding: 0 10%;
	}
}

.toc {
	margin: 0 10% var(--regular);
	li li a {
		color: var(--secondary);
	}
}

.anchor {
	height: var(--regular-more);
}

pre,
code {
	font: 400 1.1em 'Ubuntu Mono', 'Roboto Mono', 'Fira Code', mono;
	line-height: 1.2em;
}

pre {
	overflow-x: scroll;
	margin: var(--bigger) 0;
	padding: var(--regular-more);
	border-radius: var(--radius-m);
	box-shadow: var(--inner-shadow);
	background: var(--black-ish);
	code {
		box-shadow: unset;
	}
}

code {
	padding: 2px 9px;
	box-shadow: var(--inner-little-shadow);
	border-radius: var(--radius-s);
}

.cite {
	text-align: right;
	&::before {
		content: '~ ';
	}
}

blockquote {
  	margin: 0 3vw;
	padding: 0;
	p {
		font: 1em "EB Garamond", Garamond, "Simoncini Garamond", Georgia, serif;
		color: var(--other-grey);
	/*	&:first-child::before,
		&:last-child::after {
			position: relative;
		}
		&:first-child::before {
			content: '“';
			right: var(--tiny);
		}
		&:last-child::after {
			content: '„';
			left: var(--tiny);
		} */
	}
}

td,
th,
tr {
	border: solid 1px var(--grey);
}

th {
	padding: var(--small) var(--regular-less);
    
	/* making the header sticky */
	position: sticky;
    top: 0;
    background: var(--background);
}

td {
	font-size: .8em;
	padding: var(--tiny) var(--small);
}

.table-container {
	max-height: 90vh;
	overflow-x: scroll;
	border: solid 3px var(--grey);
	border-radius: var(--radius-l);
	box-shadow: var(--shadow);
}

table {
	border-collapse: collapse;
}

.landing {
	background: var(--primary);
	h1 {
		color: var(--background);
		font-weight: 800;
		margin-bottom: 0;
		position: relative;
		bottom: var(--regular);
	}
	.button {
		color: var(--primary);
		background: var(--background);
		margin: var(--tiny) var(--regular-less);
	}
}

.menu {
	display: flex;
}

@media only screen and (min-width: 950px) {
	.one {
		width: 70%;
		margin-left: 15%;
	}
	.half {
		width: 50%;
	}
	.one-third {
		width: calc(100% / 3);
	}
	.one-fourth {
		width: 25%;
	}
	.two-thirds {
		width: calc(100% / 3 * 2);
	}
	.one-fifth {
		width: 20%;
	}
	.two-fifths {
		width: 40%;
	}
	.four-fifths {
		width: 80%;
		text-align: left;
	}
	.three-fourths {
		width: 75%;
	}
	.column {
		float: left;
	}
	.line {
		margin: auto;
		width: 50%;
	}
	.title {
		width: 60%;
	}
	.mobile {
		display: none;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: var(--radius-l);
}

figure {
	margin: var(--height) auto;
	img {
		max-height: 90vh;
		border: solid 1px black;
		box-shadow: var(--shadow);
		margin: 0 auto;
	}
}

figcaption {
	font: var(--regular) "EB Garamond", Garamond, "Simoncini Garamond", Georgia, serif;
	line-height: var(--regular);
	margin-top: var(--regular-less);
	color: var(--other-grey);
	text-align: center;
}

.center {
	text-align: center;
}

.right,
.date {
	text-align: right;
}

p {
	line-height: 1.75em;
}

strong,
b {
	font-weight: 700;
}

/* make underline text dashed instead of solid */
/*u {
	text-decoration: none;
	border-bottom: dashed 2px var(--text); 
} */

article {
	font-size: var(--regular-more);
	padding: var(--twice) 10% var(--mastodon);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	&:hover {
		.anchor {
			display: inline-block;
		}
	}
	.anchor {
		display: none;
	}
}

.title {
	height: var(--height);
	line-height: var(--height);
	color: var(--text);
	background: var(--background);
	margin: var(--mastodon) auto var(--bigger);
	border-radius: var(--radius-m);
	box-shadow: var(--button-shadow);
	text-align: center;
}

h1 {
	color: var(--text);
	text-align: center;
	font-size: var(--height);
	text-decoration: none;
}

h2 {
	font-size: var(--bigger);
	margin: 0;
}

.box {
	max-height: 80vh;
	max-width: 100%;
	color: var(--text);
	padding: var(--big);
	margin-top: var(--bigger);
	margin-bottom: var(--bigger);
	border-radius: var(--radius-l);
	box-shadow: var(--shadow);
	overflow: scroll;
	h2 {
		text-align: center;
		margin-top: 0;
	}
	&.banner {
		h3 {
			margin: 0;
		}
	}
}

.box,
.stuff {
	p {
		margin: var(--regular) 10%;
	}
}

.stuff {
	padding: 4vw 2vw;
	margin: var(--height) 2vw;
	border-radius: var(--radius-l);
	box-shadow: var(--shadow);
	.column {
		padding: 0 2vw;
	}
}

.stuff-logo {
	width: auto;
	min-width: 50%;
	max-width: 100%;
	max-height: 10rem;
	border-radius: 0;
}

.last-modified {
	margin: 0 auto var(--twice);
	font-size: var(--regular-less);
	opacity: .8;
	text-align: center;
}

footer {
	margin: var(--bigger) 3%;
	overflow: hidden;
	width: 94%;
	padding: var(--big);
	border-radius: var(--radius-l);
	box-shadow: var(--shadow);
	* {
		text-align: center;
	}
	p {
		opacity: .7;
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
	img {
		border-radius: 0;
		margin: auto;
	}
	& > .row {
		justify-content: space-between;
	}
}

@media only screen and (max-width: 950px) {
	.page-header h1 {
		font-size: var(--height);
	}
	.title {
		width: 94%;
	}
	.box {
		margin: var(--bigger) 3%;
	}
	.stuff-logo {
		margin-top: var(--bigger)
	}
}

.tag {
	max-height: unset;
	li {
		margin-left: 4vw;
	}
}

{% for tag in site.data.tags %}
	.{{ tag.title | slugify }} {
		color: {{ tag.color }};
		background: {{ tag.background }};
		a {
			color: {{ tag.color }};
			border-bottom: 2px solid {{ tag.color }};
		}
	}
{% endfor %}

audio {
	width: 100%;
	box-shadow: var(--shadow);
	border-radius: var(--radius-m);
}

.controlBar {
	background: none !important;
}

svg.button,
img.button {
	height: var(--height);
	width: auto;
	padding: 0;
	margin: var(--tiny);
	background: var(--primary);
}

button,
.button {
	display: inline-block;
	padding: var(--small) var(--regular);
	font-size: var(--bigger);
	font-weight: 700;
	text-transform: uppercase;
	border-radius: var(--radius-m);
	box-shadow: var(--button-shadow);
	text-align: center;
	hyphens: none;
	&:hover,
	&:focus {
		box-shadow: var(--inner-shadow) !important;
	}
}

.written {
	background: var(--primary);
	color: var(--background);
	margin: var(--big);
}

.smaller {
	padding: var(--tiny) var(--regular-less);
	margin: var(--small);
	font-size: var(--big);
	border-radius: var(--radius-s);
}

.border {
	background: transparent;
	color: var(--text);
	border: var(--tiny) solid var(--text);
}

.sharing {
	.button {
		margin-right: var(--small);
		padding: .4rem;
		box-shadow: var(--little-shadow);
		&:hover {
		}
	}
}

.listen-on {
	background: var(--deep);
	.button {
		margin-right: .5rem;
	}
}

/* FOOTER */
#license {
	font-size: .8em;
	font-weight: 200;
}

.embed-container {
	--video--width: 1920;
	--video--height: 1080;

	position: relative;
	padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
	overflow: hidden;
	max-width: 100%;
	background: transparent;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
