---
title: Zibaldone
lang: it
ref: Zibaldone
description: Cose che vengono fuori dala testa di Tommi, in forma di articoli
---
<section class='center row'>
	<h1>Zibaldone</h1>
	<p class='one column'>Poco a che vedere con la saggezza e la serietà dell’omonimo leopardiano, qui un po’ più di allegria e stupidaggini.<br>
	Dall’enciclopedia Treccani, <a href='https://treccani.it/vocabolario/zibaldone/' target='_blank'>żibaldóne</a>: […] <cite class='serif'>Scartafaccio in cui si annotano, senza ordine e man mano che capitano, notizie, appunti, riflessioni, estratti di letture, schemi, abbozzi, ecc.</cite><br>
	Esattamente quello.</p>
</section>

<div class='row'>
	<div class='two-thirds column'>
		{% render tags.html, site: site %}
	</div>
	<div class='one-third column'>
		{% render lang-filter.html, lang: lang %}
	</div>
</div>
	
<div class='zibaldone flex row'>
	{% for entry in collections.posts %}
		<div class='one-third'>
			<a class='box' href='{{ entry.url }}' hreflang='{{ entry.data.lang }}' lang='{{ entry.data.lang }}'>
				<img src='{{ entry.data.image }}' alt='{{ entry.data.title }}' title='{{ entry.data.title }}'>
				<h2>{{ entry.data.title }}</h2>
				<p class='date'>{% if entry.data.location %}{{ entry.data.location }}, {% endif %}<time class='dt-published' datetime='{{ entry.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render date-it.html, date: entry.date %}<time></p>
				<cite class='excerpt'>
					{{ entry.data.description }}
				</cite>
				{% render entry-tags.html, tags: entry.data.tags, site: site, size: 'tiny' %}
			</a>
		</div>
	{% endfor %}
</div>
