<section class='box' id='backlinks'>
	<h2>Backlinks</h2>
	<p class='center'>
		{% if lang == 'it' %}
			Le pagine del sito che contengono un link a questa pagina.<br>
			Curioso riguardo cosa voglia dire? Leggi <a href='https://it.wikipedia.org/wiki/Backlink' target='_blank' title='Backlink su Wikipedia'>questo articolo</a>.
		{% else %}
			All the pages of this website containing a link to the current page.<br>Curious about what this means? Check <a href='https://en.wikipedia.org/wiki/Backlink' target='_blank' title='Backlink on Wikipedia'>this article</a>.
		{% endif %}
	</p>


	{% comment %}#fix not working, probably because of collections not passing through<ul>
		{% capture page_url %}{{ raw_url | downcase | remove: '/' }}{% endcapture %}
		{% capture done %}{{ page_url }}{% endcapture %}
		{% for entry in all_pages %}
			{% capture entry_url %}{% entry.url | downcase | remove: '/' %}{% endcapture %}
			{% if entry.content contains page_url %}
				{% if done != entry_url %}
					{% assign done = entry_url %}
					<li>
						<a href='{{ entry_url }}' title='{{ entry.data.title }}'>{{ entry.data.title }}</a>
						{% if entry.data.description %}
							- {{ entry.data.description }}
						{% else %}
							- {{ entry.content | strip_html | truncatewords: 30 }}
						{% endif %}
					</li>
				{% endif %}
			{% endif %}
			{% for redirect in redirect_from %}
				{% if entry.content contains redirect %}
					{% if done != entry_url %}
						{% assign done = entry_url %}
						<li>
							<a href='{{ entry_url }}'>{{ entry.title }}</a>
							{% if entry.description %}
								- {{ entry.description }}
							{% else %}
								- {{ entry.excerpt | strip_html | truncatewords: 30 }}…
							{% endif %}
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>{% endcomment %}
</section>
