{% if page.comments %}
	<div id="comments" class="u-comment box row">
		<h2 class="title">{% if page.lang 'it' %}Commenti{% else %}Comments{% endif %}</h2>

			{% comment %}
			<!-- the following script is not working, and probably comments ar not differentiated for every page -->
			<script async src="https://comments.app/js/widget.js?3" data-comments-app-website="bfg-ZXp6" data-limit="5" data-color="FCC920" data-dark="1"></script>
			{% endcomment %}
			<script src="https://utteranc.es/client.js"
				repo="xplosionmind/tommi.space"
				issue-term="title"
				label="comment"
				theme="github-dark"
				crossorigin="anonymous"
				async>
			</script>
		</div>
	</div>
{% endif %}
