<div class="filter-by flex box row">

	<h2 style="margin-right:var(--regular)">
		{% if page.ref == 'blog' %}
			{% if page.lang == 'it' %}
				Filtra articoli per lingua
			{% else %}
				Filter posts by language
			{% endif %}
		{% else %}
			{% if page.lang == 'it' %}
				Filtra note per lingua
			{% else %}
				Filter notes by language
			{% endif %}
		{% endif %}
	</h2>

	<div class="flex">
		<a onclick="toggleen()" href="javascript:void(0);" title="{% if page.lang == 'it' %}Mostra solo articoli in inglese{% else %}Show only posts in English{% endif %}">🇬🇧</a>
		<a onclick="toggleit()" href="javascript:void(0);" title="{% if page.lang == 'it' %}Mostra solo articoli in italiano{% else %}Show only posts in Italian{% endif %}">🇮🇹</a>
		<a onclick="toggleall()" href="javascript:void(0);" title="{% if page.lang == 'it' %}Mostra tutti gli articoli{% else %}Show all the posts{% endif %}">🌏</a>
	</div>
</div>

<script>
function toggleit() {
	var x = document.querySelectorAll('li[lang="en"], .one .row > a[lang="en"], .grid a[lang="en"]');
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";
	}
	var x = document.querySelectorAll('li[lang="it"], .one .row > a[lang="it"], .grid a[lang="it"]');
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = "revert";
	}
}
function toggleen() {
	var x = document.querySelectorAll('li[lang="it"], .one .row > a[lang="it"], .grid a[lang="it"]');
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";
	}
	var x = document.querySelectorAll('li[lang="en"], .one .row > a[lang="en"], .grid a[lang="en"]');
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = "revert";
	}
}
function toggleall() {
	var x = document.querySelectorAll('li[lang="en"], li[lang="it"], .one .row > a[lang="en"], .one .row > a[lang="it"], .grid a[lang="it"], .grid a[lang="en"]');
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = "revert";
	}
}
</script>