<footer>
	<div class="row">
		<div class="two-fifths column">
			<form action="!#" method="post" data-netlify="true">
				<input type="email" name="email" id="email" placeholder="SUBSCRIBE TO NEWSLETTER"/>
				<input type="submit" id="submit" value="GO" />
			</form>
		</div>
		<div class="two-fifths column">
			<div class="button-box" id="social-box">
				<a href="/feed.xml" target="_blank" rel="noopener"><img class="button" title="subscribe to RSS feed" alt="RSS feed" src="/logos/rss.svg" /></a>
				<a href="https://www.flickr.com/tommiboom" title="look at my shots on Flickr" target="_blank" rel="noopener"><img class="button" alt="Flickr" src="/logos/flickr.svg" /></a>
				<a href="https://keybase.io/xplosionmind" title="my Keybase profile" target="_blank" rel="noopener"><img class="button" alt="Keybase" src="/logos/keybase.svg" /></a>
				<a href="https://github.com/xplosionmind" target="_blank" rel="noopener" title="my GitHub profile"><img class="button" alt="GitHub" src="/logos/github.svg" /></a>
				<a href="!#" target="_blank" rel="noopener" title="read my crazy thoughts on Mastodon"><img class="button" alt="Mastodon"  src="/logos/mastodon.svg" /></a>
				<a href="!#" target="_blank" rel="noopener" title="check out my videos on Vimeo!"><img class="button" alt="Vimeo" src="/logos/vimeo.svg" /></a>
				<a href="!#" target="_blank" rel="noopener" title="join my Telegram channel!"><img class="button" alt="Telegram" src="/logos/telegram.svg" /></a>
			</div>
		</div>
		<div class="one-fifth column">
			<a href="privacy.html" target="_blank">Privacy</a>
		</div>
	</div>
	<div class="row">
		<div class="one column" id="license">
			<p>Everything in this website, including its source code, is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img id="CClogo" alt="Creative Commons License" src="/cc-by-nc-sa-little.svg" /></a>
		</div>
	</div>
</footer>
