<head>
	<meta name="color-scheme" content="dark light">
	{% seo %}
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}Zibaldone feed{% else %}blog's feed{% endif %}" href="/feeds/zibaldone.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed di poesie{% else %}poetry feed{% endif %}" href="/feeds/poetry.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}Feed italiano{% else %}Italian posts{% endif %}" href="/feeds/italiano.xml" lang="it" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed filosofico{% else %}philosophy posts feed{% endif %}" href="/feeds/filinge.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed marmellata{% else %}notes feed{% endif %}" href="/feeds/jam.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed con solo cose nerd{% else %}only geek stuff feed{% endif %}" href="/feeds/geek.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}Feed Sconnesso{% else %}Podcast feed{% endif %}" href="/feeds/sconnesso.xml" lang="it" />
	<link href="https://feedbin.com/starred/473f6605a06ee11a237dd820d772f086.xml" type="application/atom+xml" rel="alternate noopener noreferrer" target="_blank" title="{% if page.lang == 'it' %}Connessioni: link a cose interessanti{% else %}Connections: links to interesting stuff on the web{% endif %}" />

	<title>{{ page.title }} | Tommi Space</title>
	<link rel="stylesheet preload" href="/style.css" type="text/css" />
	<link rel="preload" href="/fonts/inter.woff2" as="font" type="font/woff2" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="icon" href="/favicon.ico/" type="image/x-icon" />
	<link rel="icon" href="/logos/favicon.png" type="image/png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/logos/favicon-120.png" type="image/png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/logos/favicon-152.png" type="image/png" />
	<link rel="apple-touch-icon" sizes="157x157" href="/logos/favicon-157.png" type="image/png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/logos/favicon-180.png" type="image/png" />
	<meta name="theme-color" content="{{ page.primary }}" />
	<meta property="og:type" content="website" />
	<meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}" />
	<meta property="article:modified_time" content="{% if page.updated %}{{ page.updated }}{% else %}{{ page.last_modified_at | date_to_xmlschema }}{% endif %}" />
	{% if page.ref != nil %}
		<meta property="og:locale:alternate" content="{% if page.lang == 'it' %}en{% else %}it{% endif %}" />
	{% endif %}
	{% if page.latex %}
		<!-- LaTeX support -->
		<script>
			MathJax = {
				tex: {
					inlineMath: [['$', '$'], ['\\(', '\\)']]
				},
				svg: {
					fontCache: 'global'
				}
			};
		</script>
		<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
		</script>
	{% endif %}

	<!-- Plausible Analytics -->
	<script async defer data-domain="tommi.space" src="https://visits.tommi.space/js/index.js"></script>

	{% comment %}
	<!-- Webmentions support -->
	<link rel="webmention" href="https://webmention.io/username/webmention" />
	<link rel="pingback" href="https://webmention.io/username/xmlrpc" />
	{% webmentions_head %}
	{% endcomment %}

	<link rel="me" href="https://bandcamp.com/xplosionmind" title="xplosionmind on Bandcamp" />
	<link rel="me" href="https://www.bewelcome.org/members/xplosionmind" title="Tommi on BeWelcome" />
	<link rel="me" href="https://bookwyrm.social/user/tommi" title="Tommi on Bookwyrm" />
	<link rel="me" href="https://cryptpad.fr/profile/#/2/profile/view/bGDyy3pKXdqc6mofB1EINV2ZstbhkmVjKUM3oPBk2IA/" title="Tommi on Cryptpad" />
	<link rel="me" href="https://dev.to/xplosionmind" title="xplosionmind on DEV.to" />
	<link rel="me" href="https://www.deezer.com/us/profile/4169000022" title="xplosionmind on Deezer" />
	<link rel="me" href="https://www.discogs.com/user/xplosionmind" title="xplosionmind on Discogs" />
	<link rel="me" href="https://disqus.com/by/xplosionmind/" title="xplosionmind on Disqus" />
	<link rel="me" href="https://hub.docker.com/u/xplosionmind" title="xplosionmind on Docker Hub" />
	<link rel="me" href="https://dribbble.com/xplosionmind" title="xplosionmind on Dribbble" />
	<link rel="me" href="https://exiftool.org/forum/index.php?action=profile;u=9723" title="Tommi on the ExifTool forum" />
	<link rel="me" href="https://www.flickr.com/xplosionmind/" title="Tommi’s pictures on Flickr" />
	<link rel="me" href="https://genius.com/xplosionmind" title="xplosionmind on Genius" />
	<link rel="authn me" href="https://github.com/xplosionmind" title="xplosionmind on GitHub" />
	<link rel="me" href="https://gitea.it/tommi" title="Tommi su Gitea.it" />
	<link rel="me" href="https://gitea.com/tommi" title="Tommi on Gitea" />
	<link rel="me" href="https://gitlab.com/xplosionmind" title="xplosionmind on GitLab" />
	<link rel="me" href="https://gitpull.it/p/xplosionmind/" title="Tommi su gitpull.it" />
	<link rel="me" href="https://gumroad.com/xplosionmind" title="xplosionmind on Gumroad" />
	<link rel="me" href="https://community.humanetech.com/u/xplosionmind" />
	<link rel="me" href="https://hypem.com/xplosionmind" title="xplosionmind on Hype Machine" />
	<link rel="me" href="https://hypothes.is/users/tommi" title="Tommi on Hypothes.is" />
	<link rel="me" href="https://www.instructables.com/member/xplosionmind/" title="xplosionmind on Instructables" />
	<link rel="me" href="https://inventaire.io/inventory/xplosionmind" title="xplosionmind on Inventaire" />
	<link rel="me" href="https://keybase.io/xplosionmind" title="xplosionmind on Keybase" />
	<link rel="me" href="https://www.juzaphoto.com/p/Tommiboom" title="Tommiboom on Juzaphoto" />
	<link rel="me" href="https://lemmy.ml/u/tommi" title="Tommi on Lemmy" />
	<link rel="me" href="https://letterboxd.com/xplosionmind/" title="xplosionmind on Letteboxd" />
	<link rel="me" href="https://lib.reviews/user/xplosionmind" title="xplosionmind on Lib.Reviews" />
	<link rel="me" href="https://liberapay.com/tommi/" title="Tommi on Liberapay" />
	<link rel="me" href="https://www.linkedin.com/in/tommasomarmo/" title="Tommaso Marmo on Linkedin" />
	<link rel="me" href="https://listed.to/@tommi" title="Tommi on listed.to" />
	<link rel="me" href="https://discourse.mailinabox.email/u/xplosionmind/" title="xplosionmind on Mail-in-a-box forum" />
	<link rel="me" href="https://mastodon.online/@xplosionmind" title="xplosionmind on Mastodon" />
	<link rel="me" href="https://mastodon.uno/@xplosionmind" title="xplosionmind su Mastodon.uno" />
	<link rel="me" href="https://people.mozilla.org/p/xplosionmind" title="Tommi on Mozilla People" />
	<link rel="me" href="https://musicbrainz.org/user/xplosionmind" title="Tommi on MusicBrainz" />
	<link rel="me" href="https://community.metabrainz.org/u/xplosionmind" title="Tommi in MusicBrainz Community" />
	<link rel="me" href="https://nownownow.com/p/TFSu" title="Tommi on NowNowNow" />
	<link rel="me" href="https://forums.oneplus.com/members/xplosionmind.779670/" title="xplosionmind in the OnePlus forum" />
	<link rel="me" href="https://www.opensource-socialnetwork.org/u/xplosionmind/" title="Tommi on OSSN" />
	<link rel="me" href="https://www.openstreetmap.org/user/xplosionmind" title="xplosionmind on OpenStreetMap" />
	<link rel="me" href="https://www.reddit.com/user/xplosionmind/" title="xplosionmind on Reddit" />
	<link rel="me" href="https://open.spotify.com/user/xplosionmind" title="xplosionmind on Spotify" />
	<link rel="me" href="https://soundcloud.com/user-710340265" title="xplosionmind on SoundCloud" />
	<link rel="me" href="https://pcpartpicker.com/user/tommiboom/" title="Tommi Boom on PCpartpicker" />
	<link rel="me" href="https://pixabay.com/it/users/xplosionmind-3146531/" title="xplosionmind on Pixabay" />
	<link rel="me" href="https://pixelfed.social/xplosionmind" title="Tommi on Pixelfed" />
	<link rel="me" href="https://pixelfed.uno/tommi" title="Tommi su Pixelfed.uno" />
	<link rel="me" href="https://www.ted.com/profiles/8307352" title="Tommi on TED" />
	<link rel="me" href="https://t.me/xplosionmind" title="xplosionmind on Telegram" />
	<link rel="me" href="https://www.themoviedb.org/u/xplosionmind" title="Tommi on The Movie Database" />
	<link rel="me" href="https://thenounproject.com/xplosionmind/" title="xplosionmind on The Noun Project" />
	<link rel="me" href="https://www.trustroots.org/profile/xplosionmind" title="Tommi is hosting on Trustroots" />
	<link rel="me" href="https://www.vutuv.de/users/tommaso.marmo" title="Tommaso Marmo on Vutuv" />
	<link rel="me" href="https://www.yourworldoftext.com/~xplosionmind/" title="xplosionmind’s world of text" />

	<link rel="me pgpkey" href="https://api.protonmail.ch/pks/lookup?op=get&search=surfing@tommi.space" />
	<link rel="openid.delegate" href="https://tommi.space" />
	<link rel="openid.server" href="https://openid.indieauth.com/openid" />
	<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

	{% comment %}
	DELETED PROFILES
	<link rel="me" href="https://instagram.com/xplosionmind" />
	<link rel="me" href="https://www.facebook.com/profile.php?id=100007931469414" />
	<link rel="me" href="https://twitter.com/xplosionmind" />
	{% endcomment %}

	{% if page.primary != nil %}
		<style>
			body {
				--primary: {{ page.primary }} !important
			}
		</style>
	{% endif %}
</head>
