<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script>
(function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>
<body>
	{% case include.lang %}
	{% when 'it' %}
	<section class="navigation">
		<div class="nav-container">
			<div class="xplosionmind">
				<a href="/tuffo">xplosionmind</a>
			</div>
		<nav>
			<div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
				<ul class="nav-list">
 	       			<li><a href="/tuffo#about">about</a></li>
        			<li><a href="/zibaldone">Zibaldone</a></li>
        			<li><a href="https://flickr.com/tommiboom/albums">visioni</a></li>
        			<li><a href="/tutto">tutto</a></li>
        			<li><a href="/marmellata">La Marmellata</a></li>
					<li><a href="#!">lingua</a>
						<ul class="nav-dropdown">
							{% for cosa in site.pages %}
							{% if cosa.ref == page.ref %}
								<li>
									<a href="{{ cosa.url }}" class="{{ cosa.lang }}">{{ cosa.lang }}</a>
								</li>
							{% endif %}
							{% endfor %}
						</ul>
					</li>
    			</ul>
			</nav>
		</div>
	</section>
	{% else %}
	<section class="navigation">
		<div class="nav-container">
			<div class="xplosionmind">
				<a href="/home">xplosionmind</a>
			</div>
		<nav>
			<div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
				<ul class="nav-list">
 	       			<li><a href="/home#about">about</a></li>
        			<li><a href="/zibenglish">blog</a></li>
        			<li><a href="https://flickr.com/tommiboom/albums">visions</a></li>
        			<li><a href="/stuff">stuff</a></li>
        			<li><a href="/jar">The Jar</a></li>
					<li><a href="#!">language</a>
						<ul class="nav-dropdown">
							{% for cosa in site.pages %}
							{% if cosa.ref == page.ref %}
								<li>
									<a href="{{ cosa.url }}" class="{{ cosa.lang }}">{{ cosa.lang }}</a>
								</li>
							{% endif %}
							{% endfor %}
						</ul>
					</li>
    			</ul>
			</nav>
		</div>
	</section>
	{% endcase %}
</body>
