<head>
	<meta name="color-scheme" content="dark light">
	{% seo %}
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}Zibaldone feed{% else %}blog's feed{% endif %}" href="/feeds/zibaldone.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed di poesie{% else %}poetry feed{% endif %}" href="/feeds/poetry.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}Feed italiano{% else %}Italian posts{% endif %}" href="/feeds/italiano.xml" lang="it" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed filosofico{% else %}philosophy posts feed{% endif %}" href="/feeds/filinge.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed marmellata{% else %}notes feed{% endif %}" href="/feeds/jam.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed con solo cose nerd{% else %}only geek stuff feed{% endif %}" href="/feeds/geek.xml" />
	<link rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}Feed Sconnesso{% else %}Podcast feed{% endif %}" href="/feeds/sconnesso.xml" lang="it" />
	<link href="https://feedbin.com/starred/473f6605a06ee11a237dd820d772f086.xml" type="application/atom+xml" rel="alternate noopener noreferrer" target="_blank" title="{% if page.lang == 'it' %}Connessioni: link a cose interessanti{% else %}Connections: links to interesting stuff on the web{% endif %}" />

	<title>{{ page.title }} | Tommi Space</title>
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="mobile-web-app-capable" content="yes" />
	<link rel="icon" href="/favicon.ico" sizes="32x32" />
	<link rel="icon" href="/favicon.ico" sizes="64x64" />
	<link rel="icon" href="/favicon.ico" sizes="160x160" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="theme-color" content="{{ page.primary }}" />
	<meta property="og:type" content="website" />
	<meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}" />
	<meta property="og:locale:alternate" content="{% if page.lang == 'it' %}en{% else %}it{% endif %}" />
	<link rel="webmention" href="https://webmention.io/username/webmention" />
	<link rel="pingback" href="https://webmention.io/username/xmlrpc" />

	<link rel="me" href="https://bandcamp.com/xplosionmind" />
	<link rel="me" href="https://bookwyrm.social/user/tommi" />
	<link rel="me" href="https://cryptpad.fr/profile/#/2/profile/view/bGDyy3pKXdqc6mofB1EINV2ZstbhkmVjKUM3oPBk2IA/" />
	<link rel="me" href="https://dev.to/xplosionmind" />
	<link rel="me" href="https://www.deezer.com/us/profile/4169000022" />
	<link rel="me" href="https://www.discogs.com/user/xplosionmind" />
	<link rel="me" href="https://disqus.com/by/xplosionmind/" />
	<link rel="me" href="https://hub.docker.com/u/xplosionmind" />
	<link rel="me" href="https://dribbble.com/xplosionmind" />
	<link rel="me" href="https://www.flickr.com/xplosionmind/" />
	<link rel="authn me" href="https://github.com/xplosionmind" />
	<link rel="me" href="https://genius.com/xplosionmind" />
	<link rel="me" href="https://gumroad.com/xplosionmind" />
	<link rel="me" href="https://community.humanetech.com/u/xplosionmind" />
	<link rel="me" href="https://hypothes.is/users/xplosionmind" />
	<link rel="me" href="https://www.instructables.com/member/xplosionmind/" />
	<link rel="me" href="https://inventaire.io/inventory/xplosionmind" />
	<link rel="me" href="https://keybase.io/xplosionmind" />
	<link rel="me" href="http://www.juzaphoto.com/p/Tommiboom" />
	<link rel="me" href="https://letterboxd.com/xplosionmind/" />
	<link rel="me" href="https://lib.reviews/user/xplosionmind" />
	<link rel="me" href="https://liberapay.com/tommi/" />
	<link rel="me" href="https://www.linkedin.com/in/tommasomarmo/" />
	<link rel="me" href="https://listed.to/@tommi" />
	<link rel="me" href="https://discourse.mailinabox.email/u/xplosionmind/" />
	<link rel="me" href="https://mastodon.online/@xplosionmind" />
	<link rel="me" href="https://people.mozilla.org/p/xplosionmind" />
	<link rel="me" href="https://nownownow.com/p/TFSu" />
	<link rel="me" href="https://forums.oneplus.com/members/xplosionmind.779670/" />
	<link rel="me" href="https://www.openstreetmap.org/user/xplosionmind" />
	<link rel="me" href="https://www.reddit.com/user/xplosionmind/" />
	<link rel="me" href="https://open.spotify.com/user/xplosionmind" />
	<link rel="me" href="https://soundcloud.com/user-710340265" />
	<link rel="me" href="https://pcpartpicker.com/user/tommiboom/" />
	<link rel="me" href="https://pixabay.com/it/users/xplosionmind-3146531/" />
	<link rel="me" href="https://www.ted.com/profiles/8307352" />
	<link rel="me" href="https://t.me/xplosionmind" />
	<link rel="me" href="https://twitter.com/xplosionmind" />
	<link rel="me" href="https://www.themoviedb.org/u/xplosionmind" />
	<link rel="me" href="https://thenounproject.com/xplosionmind/" />
	<link rel="me" href="https://www.vutuv.de/users/tommaso.marmo" />
	<link rel="me" href="https://www.yourworldoftext.com/~xplosionmind/" />

	{% comment %}
		<!-- DEACTIVATED PROFILES -->
		<link rel="me" href="https://instagram.com/xplosionmind" />
		<link rel="me" href="https://www.facebook.com/profile.php?id=100007931469414" />
	{% endcomment %}

	{% if page.primary != nil %}
		<style>
			body {
				--primary: {{ page.primary }} !important
			}
		</style>
	{% endif %}

	<!-- Algolia search -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@0/dist/algoliasearchNetlify.js" crossorigin="anonymous"></script>
	<script type="text/javascript">
		algoliasearchNetlify({
			appId: 'UNJ7U6R9NG',
			apiKey: '2496a32ec63dd08b35a329a1e0738524',
			siteId: 'c7f3a969-424a-450b-8636-2d477af82e76',
			branch: 'main',
			selector: 'input#search',
			sitemap: 'https://tommi.space/sitemap.xml',
		});
	</script>
</head>
