<div class='box' style='background:#FA9ABA;color:white;border:3px solid white'>
	this website is part of the
	<h2><a style='color:white' href='https://hotlinewebring.club' target='_blank' title='Hotline Webring'>Hotline Webring</a></h2>
	<a style='color:#BF0946' href='https://hotlinewebring.club/tommi/previous' target='_blank' title='Previous website in the webring'>previous</a>&emsp;•&emsp;
	<a style='color:#BF0946' href='https://hotlinewebring.club/tommi/next' target='_blank' title='Next website in the webring'>next</a>
</div>
