<div id='hotlinewebring' class='box center'>
	{% if lang == 'it' %}<span lang='it'>Questo sito è parte dello</span>{% else %}This website is part of the{% endif %}
	<h2><a href='https://hotlinewebring.club' title='Hotline Webring'>Hotline Webring</a></h2>
	<div class='flex'>
		<a class='tiny button' href='https://hotlinewebring.club/tommi/previous' title='{% if lang == 'it' %}Sito precedente nel webring' lang='it' hreflang='en'>precedente{% else %}Previous website in the webring'>previous{% endif %}</a>
		<a class='tiny button' href='https://hotlinewebring.club/tommi/next' title='{% if lang == 'it' %}Sito successivo nel webring' lang='it' hreflang='en'>successivo{% else %}Next website in the webring'>next{% endif %}</a>
	</div>
</div>
