<div class='box center' style='background:#FA9ABA;color:#333;border:3px solid var(--text)'>
	this website is part of the
	<h2><a style='color:#333' href='https://hotlinewebring.club' target='_blank' title='Hotline Webring'>Hotline Webring</a></h2>
	<a style='color:#BF0946' href='https://hotlinewebring.club/tommi/previous' target='_blank' title='Previous website in the webring'>previous</a>&emsp;•&emsp;
	<a style='color:#BF0946' href='https://hotlinewebring.club/tommi/next' target='_blank' title='Next website in the webring'>next</a>
</div>
