<section class='box'>
	<h2>🏗 WIP section 🛠</h2>
	<p>{% if lang == 'it' %}
		Questa sezione dovrebbe contenere uno splendido grafico che mostra le relazioni fra questa pagina e tutte le altre su <a href='/tuffo' title='tommi.space'>tommi.space</a>, ma include capacità di programmazione elevate e ancora <a href='/development#roadmap' hreflang='en' title='tommi.space development roadmap'>ci sto lavorando</a>.
		{% else %}
		This section should contain a beautifull graph displaying the relations among this note and all of the others on <a href='/home' title='tommi.space'>tommi.space</a>. Unfortunately, showing it requires great coding skills and I am <a href='/development#roadmap' title='tommi.space development roadmap'>still working on it</a>.
	{% endif %}</p>
</section>
