<section id='lang-filter' class='box'>
	<h3>
		{% if lang == 'it' %}
			Filtra per lingua
		{% else %}
			Filter by language
		{% endif %}
	</h3>
	<div class='flex'>
		<a onclick='toggleen()' href='javascript:void(0);' title='{% if lang == 'it' %}Mostra solo articoli in inglese{% else %}Show only posts in English{% endif %}'>🇬🇧&emsp;</a>
		<a onclick='toggleit()' href='javascript:void(0);' title='{% if lang == 'it' %}Mostra solo articoli in italiano{% else %}Show only posts in Italian{% endif %}'>🇮🇹&emsp;</a>
		<a onclick='toggleall()' href='javascript:void(0);' title='{% if lang == 'it' %}Mostra tutti gli articoli{% else %}Show all the posts{% endif %}'>🌏</a>
	</div>

<script>
function toggleit() {
	var x = document.querySelectorAll("li[lang='en'], .one .row > a[hreflang='en'], .grid a[hreflang='en']");
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = 'none';
	}
	var x = document.querySelectorAll("li[lang='it'], .one .row > a[hreflang='it'], .grid a[hreflang='it']");
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = 'revert';
	}
}
function toggleen() {
	var x = document.querySelectorAll("li[lang='it'], .one .row > a[hreflang='it'], .grid a[hreflang='it']");
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = 'none';
	}
	var x = document.querySelectorAll("li[lang='en'], .one .row > a[hreflang='en'], .grid a[hreflang='en']");
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = 'revert';
	}
}
function toggleall() {
	var x = document.querySelectorAll("li[lang='en'], li[lang='it'], .one .row > a[hreflang='en'], .one .row > a[hreflang='it'], .grid a[hreflang='it'], .grid a[hreflang='en']");
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.display = 'revert';
	}
}
</script>
</section>
