{% for post in site.posts %}{% if forloop.first == true %}
<a href="{{ post.url }}"><h2 class="title">{% case page.lang %}{% when 'it'%}Ultimo articolo{% else %}Latest post{% endcase %}</h2></a>
<div class="stuff row">
	<div class="half column">
		<img class="stuff-image" src="{{ post.img }}" alt="{{ post.title }}" title="{{ post.title }}" />
	</div>
	<div class="half column">
		<a href="{{ post.url }}" style="color: var(--dark-font)"><h2 class="background title">{{ post.title }}</h2></a>
		<p class="date">{{ post.date | date_to_long_string }}</p>
		<div class="caption">
			{{ post.excerpt }}
		</div>
		<div class="link-container">
			<a href="{{ post.url }}" class="written button">{% case page.lang %}{% when 'it' %}Leggi{% else %}Read{% endcase %}</a>
		</div>
	</div>
</div>{% endif %}{% endfor %}
