<style>
	@media only screen and (min-width: 950px) {
		.embed-container {
			margin: 0 10%
		}
	}
</style>
<div class="box">
	<h2 class="title">{% if page.lang == 'it' %}Il mio nome atterrerà su Marte!{% else %}My name is landing on Mars!{% endif %}</h2>
	<div class="embed-container" style="--video--width: 980;--video--height: 410;">
		<iframe width="980" height="410" src="https://mars.nasa.gov/layout/embed/send-your-name/mars2020/certificate/?cn=249520420534" frameborder="0" style="border-radius:var(--radius-s);box-shadow:var(--shadow);"></iframe>
	</div>
	<p>{% if page.lang == 'it' %}Esatto, è incredibile ma vero. La scorsa estate ho compilato un modulo per pandare il mio nome su Marte, poi è stato registrato in un chip microscopico sul Rover Perseverance della NASA.<br />Ora, sta atterrando sul magico pianeta rosso.{% else %}That's right, you read correctly. Last summer I filled a form to send my name on Mars, it has been recorded upon @NASA's rover Perseverance and it's landing on Mars!{% endif %}</p>
	<div class="flex row">
		<a class="red written button" href="https://mars.nasa.gov/participate/send-your-name/mars2020/certificate/249520420534" rel="noopener noreferrer" taget="_blank" title="Send your name to Mars - NASA">{% if page.lang == 'it' %}Scopri di più{% else %}Find out more{% endif %}</a>
	</div>
</div>