<header id="nav" class="nav">
	<a id="home" href="{% if page.lang == 'it' %}/tuffo{% else %}/home{% endif %}" title="home">Tommi Space</a>
	<nav>
		<label class="nav-mobile" for="menutoggle"><span></span></label>
		<input type="checkbox" id="menutoggle">
		<ul class="nav-list">
			<li>{% if page.lang == 'it' %}<a href="/about-it" title="Chi sono">Io{% else %}<a href="/about" title="About me">About{% endif %}</a></li>
			<li>{% if page.lang == 'it' %}<a href="/ora" title="Ciò che sto facendo">Ora{% else %}<a href="/now" title="What I am doing">Now{% endif %}</a></li>
			<li>{% if page.lang == 'it' %}<a href="/zibaldone" title="Blog">Zibaldone{% else %}<a href="/zibenglish" title="Zibaldone">Blog{% endif %}</a></li>
			<li>{% if page.lang == 'it' %}<a href="https://visioni.tommi.space" target="_blank" title="Immagini dal mondo di Tommi">Visioni{% else %}<a href="https://visions.tommi.space" target="_blank" title="Pictures from Tommi’s world">Visions{% endif %}</a></li>
			<li>{% if page.lang == 'it' %}<a href="/cose" title="cose">Cose{% else %}<a href="/stuff" title="Stuff">Stuff{% endif %}</a></li>
			<li>{% if page.lang == 'it' %}<a href="/marmellata" title="La Marmellata">Marmellata{% else %}<a href="/jam" title="The Jam">The Jam{% endif %}</a></li>
			{% unless page.ref == nil %}
				<li class="dropdown">
					<label for="langtoggle" title="language selector">🌍</label>
					<input type="checkbox" id="langtoggle">
				<ul class="lang-list">
					{% for cosa in site.pages %}
					{% if cosa.ref == page.ref %}
						<li>
							<a href="{{ cosa.url }}" class="{{ cosa.lang }}" lang="{{ cosa.lang }}">{% if cosa.lang == 'it' %}🇮🇹{% elsif cosa.lang == 'en' %}🇬🇧{% else %}{{ cosa.lang }}{% endif %}</a>
						</li>
					{% endif %}
					{% endfor %}
					{% for cosa in site.notes %}
					{% if cosa.ref == page.ref %}
						<li>
							<a href="{{ cosa.url }}" class="{{ cosa.lang }}" lang="{{ cosa.lang }}">{% if cosa.lang == 'it' %}🇮🇹{% elsif cosa.lang == 'en' %}🇬🇧{% else %}{{ cosa.lang }}{% endif %}</a>
						</li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% endunless %}
			<script>
				const currentTheme = localStorage.getItem("theme");
				if (currentTheme == "light") {
					document.body.classList.add("light");
				}
			
				function themetoggle() {
					document.body.classList.toggle("light");
			
					if (document.body.classList.contains("light")) {
						theme = "light";
					} else {
						theme = "dark"
					}
			
					localStorage.setItem("theme", theme);
				};
			</script>
			
			<li>
				<a onclick="themetoggle()" class="theme-toggle" title="Toggle theme">💡</a>
				<noscript><label for="themetoggle">💡</label></noscript>
			</li>
		</ul>
	</nav>
</header>

</script>
