<noscript>
	<div class='yellow banner box center'>
		{% if 'it' %}
			<h3>🚨&ensp;JavaScript è disattivato&ensp;🚨</h3>
			Hai disattivato JavaScript. Non c'è problema, ma considera che lo strumento di ricerca ed il bottone per cambiare il tema non funzioneranno.<br>
			Per un’esperienza completa, <a href='https://www.enable-javascript.com/it/' target='_blank' title='Attiva JavaScript'>attiva JavaScript</a>
		{% else %}
			<h3>🚨&ensp;JavaScript is off&ensp;🚨</h3>
			You disabled JavaScript. This is ok, but keep in mind that the global search tool and the theme switcher will not be working.<br>
			To experience this website in the best possible way, <a href='https://www.enable-javascript.com/' target='_blank' title='Enable Javascript'>enable JavaScript</a>.
		{% endif %}
	</div>
</noscript>
