<div id="pages" class="flex row">
	<div class="little box">
		<a class="button" href="{{ paginator.first_page_path }}" title="{{ paginator.first_page }}">«</a>
		{% if paginator.page_trail %}
			{% for trail in paginator.page_trail %}
				<a class="button" {% if trail.path == page.url %}class="dim"{% endif %} href="{{ trail.path | prepend: site.baseurl }}" title="{{ trail.title }}">{{ trail.num }}</a>
			{% endfor %}
		{% endif %}
		<a class="button" href="{{ paginator.last_page_path }}" title="{{ paginator.last_page }}">»</a>
	</div>
</div>
