<div class="red box" style="background:#E63946">
	<h2 class="title">{% if page.lang == 'it' %}Abbandonerò tutti i social{% else %}I'm quitting Social Media{% endif %}</h2>
	<p>
		{% if page.lang == 'it' %}
			Non ne potevo più. Da un anno non uso più nessun social (eccetto Twitter, un po') e ora ho finalmente deciso: eliminerò tutti i miei account. Ho creato <cite><a href="https://quitsocialmedia.club" rel="noopener noreferrer" target="_blank" title="Quit Social Media">Quit Social Media</a></cite> per spiegare il perché e raccogliere in un solo luogo tutte le ragioni per cui le piattaforme social sono dannose.
		{% else %}
			I tought about it a lot, I experimented several alternatives and possible solutions, but now I'm taking my final decision, I'm deleting all of my social media accounts. Probably, it's crazy and too drastic as a solution, but I want to do it. I created a website where I explain my reasons and I collect several arguments against Social Media Platforms.
		{% endif %}
	</p>
	<div class="flex row">
		<a class="blue written button" href="{% if page.lang == 'it' %}https://quitsocialmedia.club/it/home{% else %}https://quitsocialmedia.club/home{% endif %}" rel="noopener noreferrer" taget="_blank" title="quitsocialmedia.club home" style="background:#1D3557">Quit Social Media</a>
	</div>
</div>