<section class='half column'>
	<div class='qsm red box'>
		<h2 class='title'>{% if lang == 'it' %}Ho abbandonato i Social Media{% else %}I quit Social Media{% endif %}</h2>
		<p>
			{% if lang == 'it' %}
			{% comment %}
				Ho eliminato tutti i miei account sui <em>Social Media</em> ed ho creato <cite><a href='https://quitsocialmedia.club' title='Quit Social Media'>Quit Social Media</a></cite> per spiegarne il perché e raccogliere in un solo luogo tutte le ragioni per cui le piattaforme social sono dannose.
			{% endcomment %}
				<p>Dopo svariati tormentati mesi trascorsi a crucciarmi sui pregi e difetti dei <em>Social Media</em>, non ce la facevo più. Ero così stressato e ossessionato dai problemi etici che i social network pongono, così ossessionato da letture e documentari per capirne il funzionamento, da concludere che <u><strong>abbandonarli</strong> sarebbe stato l’unico modo per stare meglio</u>.</p>
<p>Mi sono reso conto, tuttavia, che semplicemente <u>eliminare i miei account senza fare altro è totalmente inutile</u>. Quante altre persone nel mondo condividono i miei stessi pensieri e preoccupazioni? Come posso condividere nel migliore modo possibile l’importanza cruciale di dubitare del funzionamento dei social network con i miei amici? Come far crescere curiosità, necessità di conoscenza e consapevolezza riguardo il modo in cui hanno luogo la maggior parte delle nostre relazioni online, oggi?</p>
<p>Tentando di rispondere a queste domande, ho deciso di creare <cite>quitsocialmedia.club</cite></p>
			{% else %}
			{% comment %}
				After thinking a lot about it, I deleted all of my <em>Social Media</em> accounts. I created a website where I explain my reasons and I collect several arguments against Social Media Platforms.
			{% endcomment %}

				<p>I spent several tormented months tinkering about the ups and downs of Social Media. I got very stressed and particularly obsessed with their <a href='https://quitsocialmedia.club/why'>ethical issues</a>. Eventually, I realized <a href='https://quitsocialmedia.club/quit' title='Quit'><strong>quitting</strong></a> is the best (and probably the only) way to actually <a href='https://quitsocialmedia.club/solutions' title='Solutions'>feel better</a>.</p>
<p>Nevertheless, I concluded that <u>just quitting and doing nothing else is useless</u>. Yes I could feel better, yes I could start enjoying and experimenting <a href='https://quitsocialmedia.club/solutions'>new ways of communicating</a>, but nobody else would benefit of my choice. So I asked myself:</p>
<ul>
<li>How is it possible that the situation is so bad and most of my friends literally ignore the problem, even feeling something’s wrong?</li>
<li>Why don’t people get that it’s in our best interest to <a href='https://quitsocialmedia.club/why' title='Why'>become aware</a>, inform ourselves and <a href='https://quitsocialmedia.club/path' title='Path'>act</a> to make our online and offline relationships better?</li>
<li>How can I share the crucial importance of doubting about the way the most common social media platforms work?</li>
<li>How to foster <strong>curiosity</strong>, need for knowledge and <strong>concern</strong> about the way most of our online relations happen these days?</li>
<li>How can I let people realize that it’s not about geeky or technical stuff?</li>
<li>How many people around the world have my same concerns?</li>
</ul>
<p>Simply abandoning social media platforms changes nothing.</p>
<p>I looked online for information and arguments to understand how Social Media work, but every publication always focused on few of them, and none was absolutely comprehensive; therefore, I decided to put everything together by myself</p>
			{% endif %}
		</p>
		<div class='flex row'>
			<a class='blue written button' href='{% if lang == 'it' %}https://quitsocialmedia.club/it/home{% else %}https://quitsocialmedia.club/home{% endif %}' title='quitsocialmedia.club home'>{% if lang == 'it' %}Maggiori informazioni{% else %}More information{% endif %}</a>
		</div>
	</div>
</section>
