<div class="red box" style="background:#E63946">
	<h2 class="title">{% if page.lang == 'it' %}Ho abbandonato i Social Media{% else %}I quit Social Media{% endif %}</h2>
	<p>
		{% if page.lang == 'it' %}
			Ho eliminato tutti i miei account sui <em>Social Media</em> ed ho creato <cite><a href="https://quitsocialmedia.club" rel="noopener noreferrer" target="_blank" title="Quit Social Media">Quit Social Media</a></cite> per spiegarne il perché e raccogliere in un solo luogo tutte le ragioni per cui le piattaforme social sono dannose.
		{% else %}
			After thinking a lot about it, I deleted all of my <em>Social Media</em> accounts. I created a website where I explain my reasons and I collect several arguments against Social Media Platforms.
		{% endif %}
	</p>
	<div class="flex row">
		<a class="blue written button" href="{% if page.lang == 'it' %}https://quitsocialmedia.club/it/home{% else %}https://quitsocialmedia.club/home{% endif %}" rel="noopener noreferrer" taget="_blank" title="quitsocialmedia.club home" style="background:#1D3557">Quit Social Media</a>
	</div>
</div>