<a href="/sconnesso"><h2 class="title" style="background:var(--purple)">Sconnesso</h2></a>
<div class="stuff row">
	<div class="half column vertical flex">
		<a href="/sconnesso"><img src="/images/sconnesso.jpg" alt="Logo Sconnesso" title="Il logo di Sconnesso" /></a>
	</div>
	<div class="half column vertical flex">
		<p>
			{{ site.podcast.description }}
		</p>
		<a href="/sconnesso" class="written button" style="background:var(--purple)">{% case page.lang %}{% when 'it' %}Ascolta{% else %}Listen{% endcase %}</a>
	</div>
</div>
