<section class='half column' lang='it'>
	<div class='box' style='background:linear-gradient(-45deg,#884EE177,#884EE122)'>
		<a href='https://sconnesso.link' target='_blank'><img src='/sconnesso.jpg' alt='Logo Sconnesso' title='Il logo di Sconnesso'></a>
		<p>Uno pseudo-podcast in cui, per alcuni minuti, racconto ciò che mi sorprende. Sconnesso è sbagliato, ma non scorretto. È atipico, ma non è poi così originale. È curato, ma non studiato alla perfezione. È esasperante, ma mai noioso. È improvvisato, ma non raffazzonato. Non è preparato, ma è attentamente pensato. È confuso e disordinato, ma non complicato. È sconnesso, ma non disconnesso.</p>
		<div class='flex row'>
			<a class='written button' href='/sconnesso' target='_blank' style='background:var(--purple);color:white;'>{% case lang %}{% when 'it' %}Ascolta{% else %}Listen{% endcase %}</a>
		</div>
	</div>
</section>
