<div class="half column">
	<div class="box" style="background:linear-gradient(-45deg,#884EE177,#884EE122)">
		<a href="https://sconnesso.link" target="_blank"><img src="{{ site.images }}/sconnesso.jpg" alt="Logo Sconnesso" title="Il logo di Sconnesso" /></a>
		<p>
			{{ site.podcast.description }}
		</p>
		<div class="flex row">
			<a class="written button" href="https://sconnesso.link" target="_blank" style="background:var(--purple);color:white;">{% case page.lang %}{% when 'it' %}Ascolta{% else %}Listen{% endcase %}</a>
		</div>
	</div>
</div>
