<section class='tags box'>
	<a href='/tags'><h2 class='title'>Tags</h2></a>
	<div class='flex'>
		<a href='/pasticci' style='color: #522E38; background: linear-gradient(160deg, #FFC2D4, #FF7AA2);' class='smaller button'>Pasticci</a>
		<a href='/filinge' style='color: #F0F0CE; background: linear-gradient(160deg, #02C39A, #05668D)' class='smaller button'>Filosofia dell’ingegneria</a>
		{% for tag in site.tags %}
			<a href='/tags#{{ tag.title | replace: ' ', '-' | downcase}}' rel='tag' class='smaller button {{ tag.title | replace: ' ', '-' | downcase }}' title='{{ tag.title }} tag'>{{ tag.title }}</a>
		{% endfor %}
	</div>
</section>
