{% capture tocWorkspace %}

    {% capture my_toc %}{% endcapture %}
    {% assign orderedList = include.ordered | default: false %}
    {% assign skipNoIDs = include.skipNoIDs | default: false %}
    {% assign minHeader = 2 %}
    {% assign maxHeader = 6 %}
    {% assign nodes = include.html | split: '<h' %}
    {% assign firstHeader = true %}
    {% assign previousLevel = 0 %}

    {% capture listModifier %}{% if orderedList %}1.{% else %}-{% endif %}{% endcapture %}

    {% for node in nodes %}
        {% if node == "" %}
            {% continue %}
        {% endif %}

        {% assign headerLevel = node | replace: '"', '' | slice: 0, 1 | times: 1 %}

        {% if headerLevel < minHeader or headerLevel > maxHeader %}
            {% continue %}
        {% endif %}

        {% assign _workspace = node | split: '</h' %}

        {% assign _idWorkspace = _workspace[0] | split: 'id="' %}
        {% assign _idWorkspace = _idWorkspace[1] | split: '"' %}
        {% assign html_id = _idWorkspace[0] %}

        {% assign _classWorkspace = _workspace[0] | split: 'class="' %}
        {% assign _classWorkspace = _classWorkspace[1] | split: '"' %}
        {% assign html_class = _classWorkspace[0] %}

        {% if html_class contains "no_toc" %}
            {% continue %}
        {% endif %}

        {% if firstHeader %}
            {% assign firstHeader = false %}
            {% assign minHeader = headerLevel %}
        {% endif %}

        {% capture _hAttrToStrip %}{{ _workspace[0] | split: '>' | first }}>{% endcapture %}
        {% assign header = _workspace[0] | replace: _hAttrToStrip, '' %}

        {% assign indentAmount = headerLevel | minus: minHeader %}
        {% assign space = '' %}
        {% for i in (1..indentAmount) %}
            {% assign space = space | prepend: '    ' %}
        {% endfor %}

        {% if include.item_class and include.item_class != blank %}
            {% capture listItemClass %}{:.{{ include.item_class | replace: '%level%', headerLevel }}}{% endcapture %}
        {% endif %}

        {% capture anchor_body %}{% if include.sanitize %}{{ header | strip_html }}{% else %}{{ header }}{% endif %}{% endcapture %}
        {% capture anchor_body %}{{ anchor_body | replace: "|", "\|" }}{% endcapture %}

        {% if html_id %}
            {% capture list_item %}[{{ anchor_body }}]({% if include.baseurl %}{{ include.baseurl }}{% endif %}#{{ html_id }}){% endcapture %}
        {% elsif skipNoIDs == true %}
            {% continue %}
        {% else %}
            {% capture list_item %}{{ anchor_body }}{% endcapture %}
        {% endif %}

        <!--
        If we have a submenu class and we're unindenting, then we need to add a "closing" class to this group of bullet
        points
        -->
        {% if include.submenu_class and previousLevel > indentAmount %}
            <!--
            `space` is the current indentation, so we if want to close off the previous grouping, we need to add one
            more level of indentation 
            -->
            {% assign submenuIndentation = space | prepend: '    ' %}

            {% capture my_toc %}{{ my_toc }}
{{ submenuIndentation }}{:.{{ include.submenu_class | replace: '%level%', previousLevel }}}{% endcapture %}
        {% endif %}

        {% capture my_toc %}{{ my_toc }}
{{ space }}{{ listModifier }} {{ listItemClass }} {{ list_item }}{% if include.anchor_class %}{:.{{ include.anchor_class }}}{% endif %}{% endcapture %}

        {% assign previousLevel = indentAmount %}
    {% endfor %}

    {% if include.class and include.class != blank %}
        {% capture my_toc %}{:.{{ include.class }}}
{{ my_toc | lstrip }}{% endcapture %}
    {% endif %}

    {% if include.id %}
        {% capture my_toc %}{: #{{ include.id }}}
{{ my_toc | lstrip }}{% endcapture %}
    {% endif %}

    <!--
    If we have a submenu class, we need to close off all the remaining list item groups so that submenu classes are
    applied correctly to them
    -->
    {% if include.submenu_class != blank %}
        <!-- The last level of indentation that we were at, we need to work backwards from there closing each group -->
        {% for i in (1..previousLevel) %}
            {% assign lvl = previousLevel | plus: 1 | minus: i %} <!-- Invert the indent level based on `i` -->
            {% assign closingSpace = '' %}

            {% for i in (1..lvl) %}
                {% assign closingSpace = closingSpace | prepend: '    ' %}
            {% endfor %}

            {% capture my_toc %}{{ my_toc }}
{{ closingSpace }}{:.{{ include.submenu_class | replace: '%level%', lvl }}}{% endcapture %}
        {% endfor %}
    {% endif %}
{% endcapture %}{% assign tocWorkspace = '' %}{{ my_toc | markdownify | strip }}
