<div class='border box center' style='background: linear-gradient(90deg, rgba(255,0,0,.33) 0%, rgba(255,165,0,.33) 17%, rgba(255,255,0,.33) 33%, rgba(0,128,0,.33) 49%, rgba(0,0,255,.33) 65%, rgba(75,0,130,.33) 83%, rgba(238,130,238,.33) 100%) !important;'>
	this website is part of the
	<h2><a style='color:var(--text)' href='https://weirdwidewebring.net/' target='_blank' title='wtf is The Weird Wide Webring?'>Weird Wide Webring</a></h2>
	<a href='https://weirdwidewebring.net/prev.html' target='_blank' title='Previous weird website'>previous</a>&emsp;•&emsp;
	<a href='https://weirdwidewebring.net/next.html' target='_blank' title='random weird website'>random</a>&emsp;•&emsp;
	<a href='https://weirdwidewebring.net/random.html' target='_blank' title='Next weird website'>next</a>&emsp;•&emsp;
	<a href='https://weirdwidewebring.net/' target='_blank' title='wtf is The Weird Wide Webring?'>wtf?</a>&emsp;•&emsp;
	<a href='https://weirdwidewebring.net/join.html' target='_blank' title='Join this weirdness club!'>join!</a>
</div>
