<div class='yellow border box center'>
	this website is part of the
	<h2><a style='color:var(--text)' href='https://weirdwidewebring.net/' target='_blank' title='wtf is The Weird Wide Webring?'>Weird Wide Webring</a></h2>
	<a href='https://weirdwidewebring.net/prev.html' target='_blank' title='Previous weird website'>previous</a>&emsp;•&emsp;
	<a href='https://weirdwidewebring.net/next.html' target='_blank' title='random weird website'>random</a>&emsp;•&emsp;
	<a href='https://weirdwidewebring.net/random.html' target='_blank' title='Next weird website'>next</a>&emsp;•&emsp;
	<a href='https://weirdwidewebring.net/' target='_blank' title='wtf is The Weird Wide Webring?'>wtf?</a>&emsp;•&emsp;
	<a href='https://weirdwidewebring.net/join.html' target='_blank' title='Join this weirdness club!'>join!</a>
</div>
