<div id='weirdwidewebring' class='box center'>
	{% if lang == 'it' %}<span lang='it'>Questo sito è parte del</span>{% else %}This website is part of the{% endif %}
	<h2><a href='https://weirdwidewebring.net/' target='_blank' title='wtf is The Weird Wide Webring?'>Weird Wide Webring</a></h2>
	<div class='flex'>
		<a class='tiny button' href='https://weirdwidewebring.net/prev.html' title='Previous weird website'>previous</a>
		<a class='tiny button' href='https://weirdwidewebring.net/next.html' title='random weird website'>random</a>
		<a class='tiny button' href='https://weirdwidewebring.net/random.html' title='Next weird website'>next</a>
		<a class='tiny button' href='https://weirdwidewebring.net/' title='wtf is The Weird Wide Webring?'>wtf?</a>
		<a class='tiny button' href='https://weirdwidewebring.net/join.html' title='Join this weirdness club!'>join!</a>
	</div>
</div>
