---
date: 2020-05-06
tags: geek/apps
aliases: Software, Digital Tools
description: A comprehensive list of apps I use + interesting apps I have to keep record of.
redirect_from: [/uses,/installed,/installed-apps,/applications,/applicazioni,/programs,/programmi,/software,/ios-apps,/iphone,/iphone-apps,/ios,/macos-apps,/mac-apps,/macos,/macbook,/macbook-pro,/macbookpro,/tommis-mac,/tommis-macbook,/tommis-macbook-pro,/tommismacbookpro]
image: https://www.tomshw.it/images/images/2021/03/foto-generiche-147818.jpg
todo:
  - print whether the app is open source or not
  - Understand UTF-8 invalid byte sequence if format is Markdown
---
{% assign apps = site.data.apps | where_exp: 'app', 'app.uninstalled == nil and remember == nil' | sort: 'name' %}
<p>Here is {{ page.description }}.</p>

<br>
<br>

<h2>MacOS</h2>

<p>Right now on my <a href='https://support.apple.com/kb/SP799' target='_blank' title='MacBook Pro 13-inch 2019 tech specs'>MacBook Pro 13-inch 2019</a>:</p>

{% assign macosapps = apps | where_exp: 'app', 'app.os contains "MacOS"' | sort: 'name' %}
<ul>{% for app in macosapps %}<li><a href='{{ app.url }}' target='_blank' title='{{ app.name }}{{ app.title }}'>{{ app.name }}</a>, {{ app.description }}. {% if app.price != nil %}<mark>{{ app.price }}€</mark>{% endif %}</li>{% endfor %}</ul>

<br>
<br>

<h3>Terminal</h3>

{% assign terminalapps = apps | where_exp: 'app', 'app.os contains "terminal"' | sort: 'name' %}
<ul>{% for app in terminalapps %}<li><a href='{{ app.url }}' target='_blank' title='{{ app.name }}{{ app.title }}'>{{ app.name }}</a>, {{ app.description }}. {% if app.price != nil %}<mark>{{ app.price }}€</mark>{% endif %}</li>{% endfor %}</ul>

<br>
<br>

<h2>iOS</h2>

<p>Apps installed on my <a href='https://www.apple.com/it/iphone-12/' target='_blank' title='iPhone 12 mini]'>iPhone 12 mini</a>:</p>

<ul>{% for app in iosapps %}<li><a href='{{ app.url }}' target='_blank' title='{{ app.name }}{{ app.title }}'>{{ app.name }}</a>, {{ app.description }}. {% if app.price != nil %}<mark>{{ app.price }}€</mark>{% endif %}</li>{% endfor %}</ul>

<br>
<br>

<h2>Android</h2>

<p>Apps installed on my <a href='https://www.oneplus.com/6t' target='_blank' title='OnePlus 6T'>OnePlus 6T</a> running <del><a href='https://www.oneplus.com/oxygenos' target='_blank' title='OxygenOS on OnePlus’ website'>OxygenOS</a></del> <a href='/lineageos' title='Switch to LineageOS - tommi.space'>LineageOS</a>.</p>

<div class='yellow box'><h3>Note</h3>My main phone is now an iPhone 12 mini. My OnePlus 6T comfortably sits in a drawer sadly I will not be opening for a while.</div>

{% assign androidapps = apps | where_exp: 'app', 'app.os contains "Android"' | sort: 'name' %}
<ul>{% for app in androidapps %}<li><a href='{{ app.url }}' target='_blank' title='{{ app.name }}{{ app.title }}'>{{ app.name }}</a>, {{ app.description }}. {% if app.price != nil %}<mark>{{ app.price }}€</mark>{% endif %}</li>{% endfor %}</ul>

<br>
<br>

<h2>Linuxplosion</h2>

<p>Apps which I have installed on my beloved <a href='/linuxplosion' title='Linuxplosion - tommi.space'>Linuxplosion</a></p>

{% assign linuxapps = site.data.apps | where: 'os', 'Linux' | sort: 'name' %}
<ul>{% for app in linuxapps %}<li><a href='{{ app.url }}' target='_blank' title='{{ app.name }}{{ app.title }}'>{{ app.name }}</a>, {{ app.description }}. {% if app.price != nil %}<mark>{{ app.price }}€</mark>{% endif %}</li>{% endfor %}</ul>

<br>
<br>

<h2>Server</h2>

<p>The services I self-hosted which are running on my server can be found in the <a href='/server' title='Server - tommi.space'>Server</a> Jam ingredient.</p>

<br>
<br>

<h2>Awesome Software</h2>

<p>Lists with a ton of apps which are too valuable to be forgotten</p>

- [awesome-macOS](https://github.com/iCHAIT/awesome-macOS)
- [awesome-command-line-apps](https://github.com/herrbischoff/awesome-command-line-apps)
- [awesome-macos-command-line](https://github.com/herrbischoff/awesome-macos-command-line)
- [open-source-mac-os-apps](https://github.com/serhii-londar/open-source-mac-os-apps)

<br>
<br>

<h2>Worth remembering</h2>

<p>Apps which are not installed but it is worth remembering or testing in the future.</p>

{% assign remember = site.data.apps | where_exp: 'app', 'app.remember != nil' | sort: 'name' %}
<ul>{% for app in remember %}<li><a href='{{ app.url }}' target='_blank' title='{{ app.name }}{{ app.title }}'>{{ app.name }}</a>, {{ app.description }}. {% if app.price != nil %}<mark>{{ app.price }}€</mark>{% endif %}</li>{% endfor %}</ul>

<br>
<br>

<h2>Missing digital tools</h2>

<div class='blue box'>Although I literally <b>love</b> some of the apps I installed on my devices, there are some <a href='/missing-digital-tools' target='_blank' title='Missing Digital Tools - tommi.space'>Missing digital tools</a> that I keep note of, in case someone with more programming expertise than me may be able to develop.</div>

![[Missing digital tools]]
