---
date: 2020-09-09
updated: 2020-12-26
description: "Books I own and books I’d love to read and/or have"
tags: read
redirect_from: ["/library", "/bookshelf", "/libreria", "/libri"]
toc: false
layout: wrapper
---
<style>
	.col3 {
		font-family: "Ubuntu Mono", mono;
        width: 9rem
	}
    .col10 {
      width: 7rem
    }
</style>
<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>
<h2 class="title" id="Wishlist">Wishlist</h2>

<div class="yellow box">
  <h4>Note</h4>
  If you got here from the <a href="/wishlist">Wishlist</a>, please consider that most of the books below are merely readings I'm interested in and not <strong>books I actually need</strong>. Write me if you intend to gift me with a book (thanks for the idea ❤️)
</div>

<div class="table">
<table>

  {% for row in site.data.books-wishlist %}
    {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
    {% endif %}
    {% tablerow pair in row %}
      <span id="{{ pair[1] | slugify }}">
          {{ pair[1] }}
      </span>
    {% endtablerow %}
  {% endfor %}

</table>
</div>

<br />
<br />
<br />

<h2 class="title" id="Library">Library</h2>
<div class="table">
<table>

  {% for row in site.data.library %}
    {% if forloop.first %}
      <tr>
        {% for pair in row %}
          <th>{{ pair[0] }}</th>
        {% endfor %}
      </tr>
    {% endif %}
    {% tablerow pair in row %}
      <span id="{{ pair[1] | slugify }}">
          {{ pair[1] }}
      </span>
    {% endtablerow %}
  {% endfor %}

  {% comment %}
  {% for row in site.data.library %}
    {% if forloop.first %}
    <tr>
      {% for pair in row %}
        <th>{{ pair[0] }}</th>
      {% endfor %}
    </tr>
    {% endif %}
	{% tablerow pair in row %}
      {{ pair[1] }}
    {% endtablerow %}
  {% endfor %}
  {% endcomment %}
</table>
</div>
