---
date: 2020-09-09
updated: 2021-04-10T11:44:52+02:00
description: Books I own and books I would love to read and/or have
tags: reading
redirect_from: [/library,/bookshelf,/libreria,/libri,/bookshelf,/bookshelves]
image: https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2021/01/15/20210115120147-9340ca01-me.jpg
main: true
todo:
  - integrate with <a href='https://bookwyrm.social' target='_blank' title='Bookwyrm'>Bookwyrm</a>
  - updated picture of Gianna
---
<style>
	li {
		margin-bottom: 0;
	}
</style>

<br>
<br>

<h2>Library</h2>

<div class='library'>
	{% for book in site.data.library %}
		{% if book.isbn %}
			<a id='{{ book.title | slugify }}' href='https://openlibrary.org/isbn/{{ book.isbn }}' target='_blank' title='{{ book.title }} in the Open Library'>
				<img src='https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg?default=false' alt='{{ book.title }}' title='{{ book.title }}'>
		{% else %}
			<a id='{{ book.title | slugify }}' href='javascript:void(0)' title='{{ book.title }}'>
				<div>
					<b>{{ book.author }}</b> - <cite>{{ book.title }}</cite>
				</div>
		{% endif %}
		</a>
	{% endfor %}
</div>

<br>
<br>

<h2>Notes</h2>
<p>All of my public notes on what I read</p>
<ul class='two'>
	{% for note in site.notes %}
		{% if note.tags contains 'reading/book' or note.tags contains 'reading/book/wip' %}
			<li><cite><a href='{{ note.url }}' target='_blank' title='{{ note.title }}'>{{ note.title }}</a></cite></li>
		{% endif %}
	{% endfor %}
</ul>

<br>
<br>

<h2>Wishlist</h2>

<div class='yellow box'>
	<h4>Note</h4>
	If you got here from the <a href='/wishlist' title='My Wishlist'>Wishlist</a>, please consider that most of the books below are merely readings I'm interested in and not <strong>books I actually need</strong>. Write me if you intend to gift me with a book (thanks for the idea ❤️)
</div>


<ul class='two'>
	{% for book in site.data.books-wishlist %}
		<li>
			{% if book.author %}
				{{ book.author }} – 
			{% endif %}
			<cite>{{ book.title }}</cite>
		</li>
	{% endfor %}
</ul>

