---
date: 2020-02-03
tags: wip
lang: it
description: "Tutti i giri che ho fatto come spettatore e non come organizzatore, contrariamente al solito"
redirect_from: ["/spettatore", "/eventi-spettatore", "/pubblico", "/cose-spettatore"]
toc: false
todo:
  - "cross-reference data with email and calendar"
---
<ul>
	{% for giro in site.data.giri %}
		<li>
			{% if giro.start %}
				Da {{ giro.start | date_to_string }} a {{ giro.end | date_to_string }}, 
			{% else %}
				{{ giro.end | date_to_string }}, 
			{% endif %}
			{% if giro.url %}
				<a href="{{ giro.url }}" target="_blank" title="{{ giro.title }}">{{ giro.title }}</a>, 
			{% else %}
				{{ giro.title }}, 
			{% endif %}
			{% if giro.lat %}
				<a href="https://openstreetmap.org?mlat={{ giro.lat }}&mlon={{ giro.lon }}&zoom=18" target="_blank" title="{{ giro.location }} su OpenStreetMap">{{ giro.location }}</a>
			{% else %}
				{{ giro.location }}
			{% endif %}
			{% if giro.notes %}
				 — {{ giro.notes }}
			{% endif %}
			{% if giro.data %}
				<br />risorse: {{ giro.data }}
			{% endif %}
		</li>
	{% endfor %}
</ul>
