---
date: 2020-06-25
updated: 2020-10-26
ref: people
description: "Real and fiction characters who left a mark in me"
redirect_from:
  - /characters
  - /personages
  - /figures
toc: 0
---
<br />
<ul>
	{% for idol in site.data.people %}
		<li><a href="#{{ idol.name | slugify }}">{{ idol.name }}</a></li>
	{% endfor %}
</ul>
<br />

{% for idol in site.data.people %}
	<h2 class="title">{{ idol.name }}</h2>
	<a href="{{ idol.link }}" rel="noopener noreferrer" target="_blank"><figure><img src="{{ idol.img }}" title="{{ idol.name }}" alt="A photo portraying {{ idol.name }}" /></figure></a>
	<p>{{ idol.description }}</p>
	<br />
{% endfor %}
