header {
	height: var(--height);
	margin: 2vw;
	text-transform: uppercase;
	font-weight: 700;
	* {
		border-radius: var(--radius-m);
		list-style-type: none !important;
	}
	/* activate the following if you choose to make the header fixed */
	/*z-index: 9;
	position: fixed;
	top: 2vw;
	right: 2vw
	background: var(--background);*/
}

#home {
	padding: 0 var(--regular);
	float: left;
	line-height: var(--height); 
	font-size: var(--bigger);
	background: var(--primary);
	box-shadow: var(--shadow);
	transform: rotate(-8deg);
	a {
		color: var(--background);
		&:hover,
		&:focus {
			color: white;
		}
	}
	&:hover,
	&:focus {
		background: var(--razzmatazz);
		border-bottom: none;
		transform: rotate(3deg);
	}
}

nav {
	float: right;
	text-align: right;
	padding: 0 var(--small);
	box-shadow: var(--shadow);
	span {
		top: 1.4rem;
		left: .7rem;
	}
	span,
	span::before,
	span::after {
		display: none;
		height: 4px;
		width: 26px;
		background: var(--text);
		position: absolute;
		content: "";
		box-shadow: var(--little-shadow);
		border-radius: var(--radius-s) !important;
 		transition: var(--quicktrans);
	}
	span::before {
		top: .65rem;
	}
	span::after {
		bottom: .65rem;
	}
	svg {
		width: var(--bigger);
		margin: var(--small);
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin: 0;
			a {
				display: block;
				color: var(--text) !important;
				line-height: var(--height);
				height: var(--height);
				padding: 0 var(--small);
				font-size: var(--regular-more);
				font-weight: 700;
				&::after {
					content: none;
				}
				&:hover,
				&:focus{
					text-shadow: var(--link-shadow);
				}
				&:active {
					opacity: .6;
				}
				&::before {
					content: none !important;
				}
			}
		}
	}
}

.dropdown-content {
	position: absolute;
	margin-top: var(--small);
	background: var(--background);
	overflow: scroll;
	box-shadow: var(--shadow);
}

@media only screen and (max-width: 950px) {
	.nav {
		margin: 3vh;
		&:hover,
		&:focus {
			.nav-list {
				right: 3vh;
			}
		}
	}
	.nav-list {
		position: fixed;
		min-width: 50vw;
		top: 5rem;
		right: -500px;
		background: var(--background);
		box-shadow: var(--shadow);
		transition: .5s;
		z-index: 5;
	}
	nav ul li {
		float: none;
	}
	nav {
		position: fixed;
		top: 3vh;
		right: 3vh;
		width: var(--height);
		height: var(--height);
		span,
		span::after,
		span::before {
			display: block;
		}
	}
}
