@media only screen and (min-width: 950px) {
	.nav-list {
		display: block !important;
		box-shadow: var(--shadow);
	}
	nav svg {
		margin-top: .6rem !important;
	}
}

.navigation {
	margin: .7rem 2% var(--mastodon);
	width: 96%;
	height: var(--height);
	text-transform: uppercase;
	font-weight: 700;
	z-index: 9;
	* {
		border-radius: var(--radius-m);
	}
	a {
		text-decoration: none;
	}
}

.xplosionmind {
	padding: 0 var(--regular);
	float: left;
	line-height: var(--height); 
	height: var(--height);
	font-size: var(--bigger);
	background: var(--primary);
	box-shadow: var(--shadow);
	a {
		color: var(--background);
		&:hover,
		&:focus {
			color: white;
		}
	}
	&:hover,
	&:focus {
		background: var(--razzmatazz);
		border-bottom: none;
	}
}

.nav-container {
	max-width: 100%;
	height: var(--height);
}

nav {
	float: right;
	background: var(--background);
	padding: 0 var(--small);
	box-shadow: var(--shadow);
	svg {
		width: var(--bigger);
		margin: 0 var(--small);
	}
	ul {
		list-style: none !important;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			list-style: none !important;
			margin: 0;
			a {
				display: block;
				color: var(--text);
				line-height: var(--height);
				height: var(--height);
				padding: 0 var(--small);
				font-size: var(--regular-more);
				&:hover,
				&:focus{
					color: var(--primary);
				}
				&:focus {
					color: var(--primary);
				}
			}
			ul li a {
				padding: var(--regular);
				line-height: var(--regular);
			}
		}
	}
}

.nav-dropdown {
	position: absolute;
	display: none;
	margin-top: var(--small);
	background: var(--background);
}

/* Mobile navigation */
.nav-mobile {
	display: none;
	height: var(--height);
	width: var(--height);
	position: absolute;
	top: .7rem;
	right: .7rem;
	background: var(--background);
	box-shadow: var(--shadow);
}

@media only screen and (max-width: 950px) {
	.navigation {
		width: 94%;
	}
	.nav-mobile {
		display: block;
	}
	nav {
		margin: var(--small) 0;
		text-align: right;
		ul {
			display: none;
			padding: var(--small) 0;
			li {
				float: none;
				ul li a {
					padding-right: 4.5rem;
				}
				a {
					padding: var(--regular-less) var(--big);
					line-height: var(--regular-more);
				}
			}
		}
	}
	.nav-dropdown {
		position: static;
		margin-top: var(--small);
		overflow: scroll;
	}
	.page-header h1 {
		font-size: var(--height);
	}
	.navigation,
	.title {
		width: 94%;
	}
	.box {
		margin: var(--bigger) 3%;
	}
	.stuff-logo {
		margin-top: var(--bigger)
	}
}

#nav-toggle {
	position: absolute;
	left: 11px;
	top: 13px;
	cursor: url(https://assets.tommi.space/logos/cursor-hover.svg) 16 16, pointer;
	padding: 10px 35px 16px 0;
	span,
	span::before,
	span::after {
		height: 3px;
		width: 26px;
		background: var(--text);
		position: absolute;
		display: block;
		content: "";
		box-shadow: var(--little-shadow);
		border-radius: var(--radius-s) !important;
 		transition: var(--quicktrans);
	}
	span::before {
		top: .65rem;
	}
	span::after {
		bottom: .65rem;
	}
	&.active span {
		background: transparent;
		&::before,
		&::after {
			top: 0;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
}
