$tiny: .2rem;
$small: .5rem;
$regular-less: .9rem;
$regular: 1.1rem;
$regular-more: 1.3rem;
$regular-more-em: 1.3em;
$big: 1.6rem;
$bigger: 1.8rem;
$twice: 2.2rem;
$height: 3.1rem;
$mastodon: 4.4rem;
$radius-s: .4rem;
$radius-m: .6rem;
$radius-l: 1rem;

:root {
	--black-ish: #222;
	--white-ish: #E3E3E3;
	--dark-grey: #555;
	--light-grey: #AAA;
	--yellow: #FCC920;
	--blue: #3185FC;
	--dark-blue: #11305B;
	--light-blue: #E5EFF5;
	--red: #D00;
	--green: #20CE88;
	--razzmatazz: #EC0868;
	--purple: #884EE1;
	
	--invert: grayscale(.5) invert(.9) brightness(.95) hue-rotate(180deg);
	--invert-dark: grayscale(.1) invert(1) brightness(1.1) hue-rotate(180deg);

	--trans: .5s ease-out;
	--quicktrans: .1s ease-in-out;

	--title-text-shadow-hover: none;

	--font-sans: Inter, system-ui, -apple-system, Helvetica, Roboto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-serif: 'EB Garamond', Garamond, 'Simoncini Garamond', Merriweather, serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-mono: 'Ubuntu Mono', ui-monospace, 'Roboto Mono', mono;
}
