.aa-SourceFooter,
.aa-ItemIcon,
.aa-ClearButton,
.aa-ClearIcon,
.aa-Label {
  display: none;
}

#search {
  --right-margin: calc(4vw + 3.6rem);
  position: fixed;
  bottom: calc(3vw + .5rem);
  right: var(--right-margin);
  input {
    width: 3.1rem;
    font-size: 1.7rem;
    background: var(--deep);
    box-shadow: var(--button-shadow);
    padding: $small .67rem;
    outline: none;
    &::placeholder {
      opacity: 1;
    }
    &:hover,
    &:focus,
    &:active {
      width: 30vw;
      box-shadow: var(--little-shadow);
      &::placeholder {
        opacity: revert;
      }
    }
  }
}

.aa-Panel {
  position: fixed;
  bottom: calc(3vw + .5rem + $height);
  top: unset !important;
  background: var(--background);
  border-radius: $radius-m;
  box-shadow: var(--shadow);
  li {
    list-style-type: none;
  }
}

.landing #search {
  position: unset;
}

@media only screen and (max-width: 950px) {
  #search {
    bottom: calc(3vh + .5rem);
    input {
      &:hover,
      &:focus,
      &:active {
        width: calc(100vw - var(--right-margin))
      }
    }
  }
}
