.qsm {
	background: #E63946;
	.button {
		background: #1D3557;
	}
}

.scambi {
	background: #F5EAD7;
	color: #69088D;
	h2 img {
		display: inline;
		max-height: 5rem;
		position: relative;
		top: 1rem;
	}
	.button {
		color: #F5EAD7;
		background: #69088D;
	}
}
