@font-face {
  font-family: 'EB Garamond';
  font-weight: 100 900;
  font-display: swap;
  src: local('EB Garamond'), url('/eb-garamond.woff2') format('woff2');
}
@font-face {
  font-family: 'EB Garamond';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url('/eb-garamond-italic.woff2') format('woff2');
}
