p,
li {
	a {
		&[href*='jam' i],
		&[href*='marmellata' i] {
			&::before {
				content: '🍯 ';
			}
		}
		&[href*='mailto' i] {
			&::before {
				content: ' ✉️ ';
			}
		}
		&.u-key {
			&::before {
				content: '🔐 ';
			}
		}
		&[href^='https://buttondown.email/tommi' i],
		&[href*='/newsletter' i] {
			&::before {
				content: ' 💌 ';
			}
		}
		&[href*='giri' i] {
			&::before {
				content: '🧳 ';
			}
		}
		&[href*='visioni' i],
		&[href*='visions' i] {
			&::before {
				content: '🖼 ';
			}
		}
		&[href*='pixelfed.uno' i],
		&[href*='pixelfed.social' i],
		&[href*='tmi.pics' i] {
			&::before {
				content: '📷 ';
			}
		}
		&[href*='mastodon.uno' i] {
			&::before {
				content: '🐘 ';
			}
		}
		&[href='/about' i],
		&[href*='about-it' i] {
			&::before {
				content: '🙋🏻‍♂️ ';
			}
		}
		&[href*='/zibaldone' i],
		&[href*='/zibenglish' i],
		&[href='/blog' i] {
			&::before {
				content: '📜 ';
				/*content: '📖'; */
			}
		}
		&[href*='unive.it' i] {
			&::before {
				content: '🎓 ';
			}
		}
		&[href*='cinema' i],
		&[href*='film' i] {
			&::before {
				content: '🎬 ';
			}
		}
		&[href*='music' i],
		&[href*='playlist' i] {
			&::before {
				content: '🎧 ';
			}
		}
		&[href*='server' i],
		&[href*='linuxplosion' i] {
			&::before {
				content: '📟 ';
			}
		}
		&[href^='/radio' i] {
			&::before {
				content: '📡 ';
			}
		}
		&[href*='photography' i] {
			&::before {
				content: '📸 ';
			}
		}
		&[href*='books' i] {
			&::before {
				content: '📚 ';
			}
		}
		&[href*='leggere' i],
		&[href^='/read' i] {
			&::before {
				content: '📖 ';
			}
		}
		&[href*='zettelkasten' i],
		&[href*='knowledge' i] {
			&::before {
				content: '🧠 ';
			}
		}
		&[href^='/places' i] {
			&::before {
				content: '📍 ';
			}
		}
		&[href*='openstreetmap' i] {
			&::before {
				content: '🗺 ';
			}
		}
		&[href^='/dev' i] {
			&::before {
				content: '💻 ';
			}
		}
		&[href^='/tutto' i] {
			&::before {
				content: '🤯 ';
			}
		}
		&[href*='design' i] {
			&::before {
				content: '📐 ';
			}
		}
		&[href^='/meta' i] {
			&::before {
				content: '👨🏻‍💻 ';
			}
		}
		&[href*='quote' i] {
			&::before {
				content: '💬 ';
			}
		}
		&[href^='/self' i],
		&[href^='/mind' i] {
			&::before {
				content: '🧘🏻‍♂️ ';
			}
		}
		&[href*='people' i] {
			&::before {
				content: '🕺🏻 ';
			}
		}
		&[href*='quit' i],
		&[href*='switch' i] {
			&::before {
				content: '🔄 ';
			}
		}
		&[href*='blogroll' i],
		&[href*='idea' i] {
			&::before {
				content: '💡 ';
			}
		}
		&[href*='wish' i] {
			&::before {
				content: '🧞‍♂️ ';
			}
		}
		&[href*='poetry' i],
		&[href*='poem' i],
		&[href*='/pasticci' i],
		&[href*='poesi' i] {
			&::before {
				content: '🖋 ';
			}
		}
		&[href*='/filinge' i],
		&[href*='/filosofia' i],
		&[href*='/philosophy' i] {
			&::before {
				content: '💭 ';
			}
		}
		&[href*='/ital' i] {
			&::before {
				content: '🇮🇹 ';
			}
		}
		&[href*='/sconnesso' i] {
			&::before {
				content: '🎙 ';
			}
		}
		&[href^='/geek' i],
		&[href^='/feeds/geek' i] {
			&::before {
				content: '💻 ';
			}
		}
		&[href*='/storage' i] {
			&::before {
				content: '💾 ';
			}
		}
		&[href*='paDzrTfqL9PbkSX/starred'] {
			&::before {
				content: '❤️ ';
			}
		}
		&[href='https://wallabag.nixnet.services/feed/tommi/paDzrTfqL9PbkSX/archive'] {
			&::before {
				content: '👀 ';
			}
		}
		&[href*='xplosion-attic' i] {
			&::before {
				content: '👀 ';
			}
		}
		&.user-mention {
			&::before {
				content: '🧑🏻 ';
			}
		}
	}
}
