.geek {
  color: #D9F8EF;
  background: linear-gradient(160deg, #5E60CE, #6F00B1);
}

.zen {
  color: #FAEFEA;
  background: linear-gradient(160deg, #F28F3B, #C8553D);
}

.draft {
  color: #F2E9E4;
  background: linear-gradient(160deg, #4A4E69, #22223B);
}

.zen {
  color: #FFF3E6;
  background: linear-gradient(160deg, #1A508B, #0D335D);
}

.wip {
  color: #FFF;
  background: linear-gradient(160deg, #222222, #030303);
}

.inchiostro-digitale {
  color: #9CC455;
  background: linear-gradient(160deg, #604BA5, #3B2071);
}

.radioimmaginaria {
  color: #FFF;
  background: linear-gradient(160deg, #EE4249, #BC2F30);
}

.reading {
  color: #F3E9DC;
  background: linear-gradient(160deg, #895737, #53291E);
}

.scout {
  color: #F5F0C9;
  background: linear-gradient(160deg, #3C6930, #284420);
}

.idea {
  color: #1F6284;
  background: linear-gradient(160deg, #FFE570, #E0B700);
}

.knowledge {
  color: #F0FCD9;
  background: linear-gradient(160deg, #C70039, #581845);
}
