.geek {
  color: #D9F8EF !important;
  background: linear-gradient(160deg, #5E60CE, #6F00B1) !important;
}

.cinema {
  color: #FAEFEA !important;
  background: linear-gradient(160deg, #F28F3B, #C8553D) !important;
}

.draft {
  color: #F2E9E4 !important;
  background: linear-gradient(160deg, #4A4E69, #22223B) !important;
}

.zen {
  color: #FFF3E6 !important;
  background: linear-gradient(160deg, #1A508B, #0D335D) !important;
}

.wip {
  color: #FFF !important;
  background: linear-gradient(160deg, #222222, #030303) !important;
}

.inchiostro-digitale {
  color: #9CC455 !important;
  background: linear-gradient(160deg, #604BA5, #3B2071) !important;
}

.radioimmaginaria {
  color: #FFF !important;
  background: linear-gradient(160deg, #EE4249, #BC2F30) !important;
}

.reading {
  color: #F3E9DC !important;
  background: linear-gradient(160deg, #895737, #53291E) !important;
}

.scout {
  color: #F5F0C9 !important;
  background: linear-gradient(160deg, #3C6930, #284420) !important;
}

.idea {
  color: #1F6284 !important;
  background: linear-gradient(160deg, #FFE570, #E0B700) !important;
}

.knowledge {
  color: #F0FCD9 !important;
  background: linear-gradient(160deg, #C70039, #581845) !important;
}
