---
---
@font-face {
  font-family: 'EB Garamond';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("EBGaramond-Regular.woff2") format("woff2"),
       url("EBGaramond-Regular.woff") format("woff");
}
@font-face {
  font-family: 'EB Garamond';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("EBGaramond-Italic.woff2") format("woff2"),
       url("EBGaramond-Italic.woff") format("woff");
}

@font-face {
  font-family: 'EB Garamond';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("EBGaramond-Medium.woff2") format("woff2"),
       url("EBGaramond-Medium.woff") format("woff");
}
@font-face {
  font-family: 'EB Garamond';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("EBGaramond-MediumItalic.woff2") format("woff2"),
       url("EBGaramond-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'EB Garamond';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("EBGaramond-SemiBold.woff2") format("woff2"),
       url("EBGaramond-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'EB Garamond';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("EBGaramond-SemiBoldItalic.woff2") format("woff2"),
       url("EBGaramond-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'EB Garamond';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("EBGaramond-Bold.woff2") format("woff2"),
       url("EBGaramond-Bold.woff") format("woff");
}
@font-face {
  font-family: 'EB Garamond';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("EBGaramond-BoldItalic.woff2") format("woff2"),
       url("EBGaramond-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'EB Garamond';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("EBGaramond-ExtraBold.woff2") format("woff2"),
       url("EBGaramond-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'EB Garamond';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("EBGaramond-ExtraBoldItalic.woff2") format("woff2"),
       url("EBGaramond-ExtraBoldItalic.woff") format("woff");
}
