---
title: "Posts in English"
permalink: /blog/en
---
<div class="page-header">
	<h1 style="color: {{ page.color }}; background-color: {{ page.background-color }}; padding-top: var(--small);">articles in English</h1>
</div>

{% for post in site.posts %}
	{% if post.lang contains 'en' %}
		<a href="{{ post.url }}">
			<div class="row preview" style="color: var(--white-ish);">
				<div class="row">
					<div class="one column">
						<div class="four-fifths column">
							<h2 class="post-title">{{ post.title }}</h2>
						</div>
						<div class="one-fifth column date">
							{{ post.date | date: "%d %B %Y" }}
						</div>
					</div>
				</div>
				<div class="line"></div>
			</div>
		</a>
	{% endif %}
{% endfor %}
