---
title: "Feeds"
permalink: /feeds
layout: page
description: "Tutti i feed di tommi.space"
---
<ul>
  <li><a rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}Zibaldone feed{% else %}blog's feed{% endif %}" href="/zibaldone.xml"></a>Zibaldone</li>
  <li><a rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed di poesie{% else %}poetry feed{% endif %}" href="/poetry.xml"></a>Poesie</li>
  <li><a rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed filosofico{% else %}philosophy posts feed{% endif %}" href="/filinge.xml">Filosofia</a></li>
  <li><a rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed marmellata{% else %}notes feed{% endif %}" href="/jar.xml">Marmellata</a></li>
  <li><a rel="alternate" type="application/atom+xml" title="{% if page.lang == 'it'%}feed con solo cose nerd{% else %}only geek stuff feed{% endif %}" href="/geek.xml">Geek stuff</a></li>
</ul>
