---
title: "Filosofia"
permalink: /filosofia
lang: it
ref: filosofia
primary: "var(--green)"
---
<div class="page-header row">
	<div class="one column">
		<h1>Filosofia</h1>
		<div class="page-description" style="margin-bottom: var(--margin);">
			<p>Nei primi mesi del 2020, ho seguito il corso di <a href="http://filinge.blogspot.com" rel="noopener noreferrer" target="_blank">Filosofia dell’ingegneria</a> al Politecnico di Torino. A ogni studente è stato richiesto di scrivere un blog <a href="https://filinge.blogspot.com/search/label/ABC" rel="noopener noreferrer" target="_blank">su un tema diverso per ciascuno</a>, il mio era <em><strong>valore</strong></em>. Tutti i post precedenti al 20 giugno 2020 riguardano il corso, i seguenti sono elucubrazioni libere in campo filosofico.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="one column">
{% for post in site.posts %}
	{% if post.categories contains page.title %}
	<a href="{{ post.url }}">
			<div class="preview box">
				<h2 class="title">{{ post.title }}</h2>
				<div class="caption">
					<p class="date">{{ post.date | date_to_long_string }}</p>
					{{ post.excerpt }}
				</div>
			</div>
		</a>
	{% endif %}
{% endfor %}

{% assign filinge = site.filinge | reverse %}
	{% for post in filinge %}
		<a href="{{ post.url }}">
			<div class="preview box">
				<h2 class="title">{{ post.title }}</h2>
				<div class="caption">
					<p class="date">{{ post.date | date_to_long_string }}</p>
					{{ post.excerpt }}
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
