---
title: home
permalink: /home
lang: en
ref: home
---
<div class="row">
	<div class="one column">
		<div class="page-header">
			<h1>WARNING</h1>
			<p class="page-description">
				It’s so funny to make it look like you just landed on a spam page. Don’t worry, it’s not (entirely). Here there’s a great collection of feelings, thoughts, notes, images and various stuff by Tommi Boom. Basically, this is the web representation of his messy mind.
				<br />
				Beware: don’t get too involved with the stuff around here or you may get as crazy and confused as him, which is definitely not recommended (that’s the reason of the initial warning).
				<br />
				Have fun!
			</p>
		</div>
	</div>
</div>

<h2 class="title">About this weirdo</h2>
{% include about.html %}
	
{% include sconnesso.html %}

{% include latest-post.html %}

<a href="/jar"><h2 class="razzmatazz title">The Jar</h2></a>
<div class="row">
	<div class="one column">
		<article>
			<p>There’s stuff I find out I wish I knew before, or stuff I just can’t keep from sharing but it’s not enough to make an article, or resources so great and useful that the whole world should know and use, or cool oddities I note and it’s nice to have them always ready at hand.</p>
			<p>I take this things, I throw them into <a href="/jar"><em>The Jar</em></a>.</p>
			<p>I hope it can be useful to you.</p>
		</article>
	</div>
</div>

<a href="/stuff"><h2 class="title">Featured stuff</h2></a>
{% assign stuff = site.data.stuff %}
{% for thing in stuff %}{% if thing.featured == "1" %}
<div class="stuff row" style="color: {{ thing.color }}; background: {{ thing.background }}" id="{{ thing.title | slugify }}">
	<div class="half column vertical flex">
		<img src="{{ thing.img }}" title="{{ thing.alt }}" alt="{{ thing.alt }}" />
	</div>
	<div class="half column vertical flex">
		<img class="stuff-logo" src="/logos/{{ thing.logo }}" alt="{{ thing.title }} logo" title="{{ thing.title }}" />
		<div><p>{{ thing.description }}</p></div>
		<a href="{{ thing.link }}" rel="noopener noreferrer" target="_blank" class="written button" style="color: {{ thing.background }}; background: {{ thing.color }};">{{ thing.button }}</a>
	</div>
</div>{% endif %}{% endfor %}
<div class="flex">
	<a class="written button" href="/stuff">More</a>
</div>
