---
title: home
permalink: /home
lang: en
ref: home
---
<div class="row">
	<div class="one column">
		<div class="page-header">
			<h1>WARNING</h1>
			<p class="page-description">
				It’s so funny to make it look like you just landed on a spam page. Don’t worry, it’s not (entirely). Here there’s a great collection of feelings, thoughts, notes, images and various stuff by Tommi Boom. Basically, this is the web representation of his messy mind.
				<br />
				Beware: don’t get too involved with the stuff around here or you may get as crazy and confused as him, which is definitely not recommended (that’s the reason of the initial warning).
				<br />
				Have fun!
			</p>
		</div>
	</div>
</div>

{% include about.html %}

{% include quitsocialmedia.html %}

{% include sconnesso.html %}

{% include latest-post.html %}

<div class="one column">
	<div class="razzmatazz border box row">
		<a href="/jam"><h2 class="title">The Jam</h2></a>
		<p>There’s stuff I find out I wish I knew before, or stuff I just can’t keep from sharing but it’s not enough to make an article, or resources so great and useful that the whole world should know and use, or cool oddities I note and it’s nice to have them always ready at hand.</p>
		<p>I take this things, I throw them into <a href="/jam"><em>The Jam</em></a>.</p>
		<p>I hope it can be useful to you.</p>
		<div class="flex row">
			<a class="written button" href="/jam">The Jam</a>
		</div>
	</div>

	<div class="border box row">
		<a href="/stuff"><h2 class="title">Stuff I do</h2></a>
		<p>I do too many things.</p>
		<p>To both remember and share them, on this website I keep track of everything I do.</p>
		<p>You can check the most important things I do in <a href="/stuff"><em>Stuff</em></a>, while events and shows and concerts etc. I assist to are <a href="/giri">here</a>.<br />
			Everything else is <a href="/tutto">here</a>.
		</p>
		<div class="flex row">
			<a class="written button" href="/stuff">Start from here</a>
		</div>
	</div>

</div>

