---
title: home
permalink: /home
lang: en
ref: home
---
<div class="row">
	<div class="one column">
		<div class="page-header">
			<h1>WARNING</h1>
			<p class="page-description">
				It’s so funny to make it look like you just landed on a spam page. Don’t worry, it’s not (entirely). Here there’s a great collection of feelings, thoughts, notes, images and various stuff by Tommi Boom. Basically, this is the web representation of his messy mind.
				<br />
				Beware: don’t get too involved with the stuff around here or you may get as crazy and confused as him, which is definitely not recommended (that’s the reason of the initial warning).
				<br />
				Have fun!
			</p>
		</div>
	</div>
</div>

<h2 class="title">About this weirdo</h2>
<div class="h-card stuff row" id="about">
	<img class="u-photo half column" src="/images/tencoascolta.jpg" alt="a photo of me conducting a live show" title="Tommi on stage conducting a live show">
	<div class="half column">
		<p>Hi, I’m <span class="p-name">Tommi</span>.</p>
		<p>I’m an <span class="p-category p-label">enthusiast</span>. I love getting involved in everything which involves human interactions and I’m overthinking addicted. I’m an happy guy, but this doesn’t mean I don’t cry (just make me watch the right movie).</p>
		<p><span class="p-note">The purpose of my whole exsistence is meeting all the people in the world</span>. This is why, When I’m not studying, I try to be as busy as I can. This means, as the great <a href="https://en.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz" rel="noopener" target="_blank">Leibnitz</a> said, that <q>in my life I started everything and concluded nothing</q>. You can know more about something of this messy everything by browsing around. If the stuff here is too confused and you get lost, well… welcome to my mind.</p>
		<p>Things that wander around in my head are written on my <a href="/blog" target="_blank">blog</a> or they are thrown in <a href="/jar" target="_blank">The Jar</a>.</p>
		<p>Some useful data:
			<ul>
				<li>my <a class="u-url" href="https://www.linkedin.com/in/tommasomarmo/" rel="noopener" target="_blank">Linkedin profile</a> and my <a class="u-url" href="https://europa.eu/!xG43Xd" rel="noopener noreferrer" target="_blank">Curriculum Vitae</a></li>
				<li>my email address is <a class="u-email" href="mailto:lost.in@tommi.space" rel="me">lost.in@tommi.space</a>. If possible, please use my <a class="u-key" href="https://api.protonmail.ch/pks/lookup?op=get&search=lost.in@tommi.space" target="_blank" rel="pgpkey authn">PGP key</a> (it’s not necessary if you use a <a href="https://protonmail.com" rel="noopener" target="_blank">ProtonMail</a> address)</li>
				<li>my username is <code class="p-nickname">xplosionmind</code> everywhere. If you can’t find it, I’m not there.</li>
			</ul></p>
			<p>I tweet a lot. <a rel="me" class="u-url" href="https://twitter.com/xplosionmind" rel="noopener" target="_blank">Too much</a>.</p>
	</div>
</div>
	
{% include latest-post.html %}

<a href="/jar"><h2 class="razzmatazz title">The Jar</h2></a>
<div class="row">
	<div class="one column">
		<article>
			<p>There’s stuff I find out I wish I knew before, or stuff I just can’t keep from sharing but it’s not enough to make an article, or resources so great and useful that the whole world should know and use, or cool oddities I note and it’s nice to have them always ready at hand.</p>
			<p>I take this things, I throw them into <a href="/jar"><em>The Jar</em></a>.</p>
			<p>I hope it can be useful to you.</p>
		</article>
	</div>
</div>

<a href="/stuff"><h2 class="title">Featured stuff</h2></a>
{% assign stuff = site.data.stuff %}
{% for thing in stuff %}{% if thing.featured == "1" %}
<div class="stuff row" style="color: {{ thing.color }}; background: {{ thing.background }}" id="{{ thing.title | slugify }}">
	<div class="half column vertical flex">
		<img src="{{ thing.img }}" title="{{ thing.alt }}" alt="{{ thing.alt }}" />
	</div>
	<div class="half column vertical flex">
		<img class="stuff-logo" src="/logos/{{ thing.logo }}" alt="{{ thing.title }} logo" title="{{ thing.title }}" />
		<div><p>{{ thing.description }}</p></div>
		<a href="{{ thing.link }}" rel="noopener noreferrer" target="_blank" class="written button" style="color: {{ thing.background }}; background: {{ thing.color }};">{{ thing.button }}</a>
	</div>
</div>{% endif %}{% endfor %}
<div class="flex">
	<a class="written button" href="/stuff">More</a>
</div>
