---
title: home
permalink: /tuffo
lang: it
ref: home
---
<div class="row">
	<div class="one column">
		<div class="page-header">
			<h1>ATTENZIONE</h1>
			<p>È così bello far sembrare questa la home di un sito di spam. Avevo quasi pensato di far partire “ragazzi, sono veramente euforico”, ma no, qui non c’è (solo) spam. Fondamentalmente, questa è l’emulazione online della mia testa. Qui ci sono pensieri, emozioni, pasticci, stupidaggini e tanta, tanta confusione. Per questo c’è l’“ATTENZIONE”: occhio a non perdersi troppo fra queste pagine o si rischia di uscire di testa, come me, ed è fortemente sconsigliato.
				<br />Buon divertimento.
			</p>
		</div>
	</div>
</div>

<h2 class="title">Chi è questo tipo</h2>
<div class="h-card stuff row" id="about">
	<div class="half column">
	<img class="u-photo" src="/images/tencoascolta.jpg" alt="Una mia foto mentre presento un concerto" title="Io mentre presento un concerto">
	</div>
	<div class="half column">
		<p>Mi chiamo <span class="p-name">Tommi</span>,</p>
		<p>sono un <span class="p-category p-label">entusiasta</span>. Adoro farmi coinvolgere in qualunque progetto o creazione e le rotelle nella mia testa non smettono mai di girare. Spesso e soprattutto per cose inutili. Sono un tipo allegro, ma non vuol dire che non pianga (basta farmi vedere il film giusto).</p>
		<p><span class="p-note">L’obiettivo della mia esistenza è conoscere tutte le persone del mondo</span>, per riuscirci, quando non studio, provo a fare tante, troppe, <a href="/cose">cose</a>. Alla fine, come diceva il mitico <a href="https://it.wikipedia.org/wiki/Gottfried_Wilhelm_von_Leibniz" rel="noopener noreferrer" target="_blank">Leibniz</a>, <q>nella mia vita ho cominciato tutto e concluso nulla</q>. Potete scoprire una piccola selezione di questo tutto nel sito. Se non ci capite un cavolo, benvenuti nella mia testa.</p>
		<p>Tutto quello che mi passa per la testa finisce nello <a href="/zibaldone">Zibaldone</a> o nella <a href="/marmellata">Marmellata</a>.</p>
		<p>Alcune informazioni pratiche utili:
			<ul>
				<li>il mio <a class="u-url" href="https://europa.eu/!md89Vg" rel="noopener noreferrer" target="blank">Curriculum Vitae</a> e il mio <a a="u-url" href="https://www.linkedin.com/in/tommasomarmo/" rel="noopener noreferrer" target="_blank">profilo Linkedin</a></li>
				<li>il mio indirizzo email è <a class="u-email" href="mailto:lost.in@tommi.space" rel="me">lost.in@tommi.space</a>. Se possibile, vi prego di usare la mia <a class="u-key" href="https://api.protonmail.ch/pks/lookup?op=get&search=lost.in@tommi.space" target="_blank" rel="pgpkey authn">chiave PGP</a> (non è necessaria se utilizzate un indirizzo email con <a href="https://protonmail.com" rel="noopener noreferrer" target="_blank">ProtonMail</a>)</li>
				<li>il mio username è <code class="p-nickname">xplosionmind</code> ovunque.</li>
			</ul></p>
	</div>
</div>
	
{% include latest-post.html %}

<a href="/marmellata"><h2 class="razzmatazz title">La Marmellata</h2></a>
<div class="row">
	<div class="one column">
		<article>
			<p>Ci sono cose che scopro e porca puzzola avrei voluto sapere prima, o cose che semplicemente non riesco a non condividere ma non sono abbastanza per comporre un articolo, o risorse così fighe e utili che tutto il mondo dovrebbe conoscerle e usarle, o cose interessanti che annoto ed è utile avere sempre a portata di mano (cioè online sul mio sito).</p>
			<p>Prendo tutte queste cose e, non avendo sufficiente tempo per elaborarle, le metto ne <em>La Marmellata</em>.</p>
			<p>Ogni puntino qui sotto è un ingrediente de <a href="/marmellata"><em>La Marmellata</em></a>, fatene buon uso, senza esagerare. (non mi assumo responsabilità sulla potenza dei contenuti)</p>
		</article>
	</div>
</div>

<a href="/cose"><h2 class="title">Progetti in evidenza</h2></a>
{% assign stuff = site.data.stuff %}
{% for thing in stuff %}{% if thing.featured == "1" %}
<div class="stuff row" style="color: {{ thing.color }}; background: {{ thing.background }}" id="{{ thing.title | slugify }}">
	<div class="half column vertical flex">
		<img src="{{ thing.img }}" title="{{ thing.alt-it }}" alt="{{ thing.alt-it }}" />
	</div>
	<div class="half column vertical flex">
		<img class="stuff-logo" src="/logos/{{ thing.logo }}" alt="Logo {{ thing.title }}" title="{{ thing.title }}" />
		<div><p>{{ thing.description-it }}</p></div>
		<a href="{{ thing.link-it }}" rel="noopener noreferrer" target="_blank" class="written button" style="color: {{ thing.background }}; background: {{ thing.color }};">{{ thing.button-it }}</a>
	</div>
</div>{% endif %}{% endfor %}
<div class="flex">
	<a class="written button" href="/cose">Tutte le cose</a>
</div>
