---
title: home
permalink: /tuffo
redirect-from: ["/it/home", "/home-it", "/home/it"]
lang: it
ref: home
---
<div class="row">
	<div class="one column">
		<div class="page-header">
			<h1>ATTENZIONE</h1>
			<p>È così bello far sembrare questa la home di un sito di spam. Avevo quasi pensato di far partire “ragazzi, sono veramente euforico”, ma no, qui non c’è (solo) spam. Fondamentalmente, questa è l’emulazione virtuale della mia testa. Qui ci sono pensieri, emozioni, pasticci, stupidaggini e tanta, tanta confusione. Per questo c’è l’“ATTENZIONE”: non perdersi troppo fra queste pagine o si rischia di uscire di testa, come me.
				<br />Buon divertimento.
			</p>
		</div>
	</div>
</div>

{% include about.html %}

{% include quitsocialmedia.html %}

{% include sconnesso.html %}

{% include latest-post.html %}

<div class="one column">

	<div class="razzmatazz border box row">
		<a href="/marmellata"><h2 class="title">La Marmellata</h2></a>
		<p>Ci sono cose che scopro e avrei voluto imparare prima, o cose che semplicemente non riesco a non condividere ma che non sono abbastanza corpose per comporre un articolo, o risorse così fighe e utili che tutto il mondo dovrebbe conoscerle e usarle, o cose interessanti che annoto ed è utile avere sempre a portata di mano (cioè online sul mio sito).</p>
		<p>Prendo tutte queste cose e, non avendo sufficiente tempo per elaborarle, le metto ne <a href="/marmellata"><em>La Marmellata</em></a>.</p>
		<div class="flex row">
			<a class="razzmatazz written button" href="/marmellata">Marmellata</a>
		</div>
	</div>

	<div class="border box row">
		<a href="/cose"><h2 class="title">Cose</h2></a>
			<p>Faccio tante, tante, troppe, cose.</p>
			<p>Un po' per ricordarmene e un po' come curriculum, le annoto qui. In <a href="/cose"><em><Cose</em></a> ci sono quelle principali, in <a href="/giri"><em>Giri</em></a> tengo traccia di tutti i miei giri e ciò a cui partecipo come spettatore, e in <a href="/tutto"><em>Tutto</em></a> c'è <strong>tutto</strong> il resto.</p>
			<div class="flex row">
				<a class="blue written button" href="/cose">Cose</a>
			</div>
	</div>

</div>
