---
title: "La Marmellata"
permalink: /marmellata
redirect_from:
  - /it/jar
  - /jar/it
  - /la-marmellata
lang: it
ref: jar
---
<div id="feed" class="one column">
	<div class="page-header row">
		<h1>La Marmellata</h1>
		<p>Ci sono cose che scopro e porca puzzola avrei voluto sapere prima, o cose che semplicemente non riesco a non condividere ma non sono abbastanza per comporre un articolo, o risorse così fighe e utili che tutto il mondo dovrebbe conoscerle e usarle, o cose interessanti che annoto ed è utile avere sempre a portata di mano (cioè online sul mio sito).</p>
		<p>Prendo tutte queste cose e, non avendo sufficiente tempo per elaborarle, le metto ne <em>La Marmellata</em>.
		<p>Qui si trovano tutti gli ingredienti de <em>La Marmellata</em>, fatene buon uso, senza esagerare. (non mi assumo responsabilità sulla potenza dei contenuti)</p>

	{% include tags.html %}

	</div>
	
	<div class="grid">
		{% assign jar = site.notes %}
		{% for note in jar %}
			<a href="{{ note.url }}">
				<div class="vertical flex box">
					<h3>{{ note.title }}</h3>
					{% if note.description %}
						<p>{{ note.description | markdownify | strip_html | truncatewords: 30 }}</p>
					{% else %}
						<p>{{ note.excerpt | strip_html | truncatewords: 30 }}</p>
					{% endif %}
					{% for tagg in site.data.tags %}
						{% for present in note.tags %}
							{% capture tag %}{{ tagg.title | downcase | slugify }}{% endcapture %}
							{% capture post-tag %}{{ present | downcase | slugify }}{% endcapture %}
							{% if tag == post-tag %}
								<div rel="tag" class="{{ tag }} tiny written button">{{ tagg.title }}</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</a>
		{% endfor %}
	</div>

</div>
