---
title: "The Jar"
permalink: /jar
redirect_from:
  - /the-jar
  - /thejar
lang: en
ref: jar
---
<div id="feed" class="one column">
	<div class="page-header row">
		<h1>The Jar</h1>
		<p>There’s stuff I find out I wish I knew before, or stuff I just can’t keep from sharing but it’s not enough to make an article, or resources so great and useful that the whole world should know and use, or cool oddities I note and it’s nice to have them always ready at hand.</p>
		<p>I take this things, I throw them into <em>The Jar</em>.</p>
		<p>I hope it can be useful to you.</p>
{% include tags.html %}
	</div>

	{% assign jar = site.jar | sort: 'updated' | reverse %}
	{% for note in jar %}{% unless note.hide == 1 %}
		<a href="{{ note.url }}">
			<div class="row">
				<div class="flex box">
					<div class="one column">
						<div class="row">
							<h2>{{ note.title }}</h2>
						</div>
						<div class="row">
							<p>{{ note.description | markdownify }}</p>
						</div>
					</div>
				</div>
			</div>
		</a>
	{% endunless %}{% endfor %}

</div>
