---
layout: blankee
lang: en
title: "Temporary menu"
description: "This is a temporary menu for mobile, since I need to work a bit on the JavaScript code to make it work as a dropdown list. For the standard non-responsive menu, use desktop mode"
permalink: /nav
---
<ul>
	<li>{% if page.lang == 'it' %}<a href="/about-it">Chi sono{% else %}<a href="/about">About{% endif %}</a></li>
	<li>{% if page.lang == 'it' %}<a href="/ora">Ora{% else %}<a href="/now">Now{% endif %}</a></li>
    <li>{% if page.lang == 'it' %}<a href="/zibaldone">Zibaldone{% else %}<a href="/zibenglish">Blog{% endif %}</a></li>
    <li><a href="https://flickr.com/xplosionmind/albums">{% if page.lang == 'it' %}Visioni{% else %}Visions{% endif %}</a></li>
    <li>{% if page.lang == 'it' %}<a href="/cose">Cose{% else %}<a href="/stuff">Stuff{% endif %}</a></li>
	<li>{% if page.lang == 'it' %}<a href="/marmellata">La Marmellata{% else %}<a href="/jar">The Jar{% endif %}</a></li>
</ul>
