---
title: "Pasticci belli"
permalink: /pasticcibelli
redirect_from:
  - /poetry-selection
  - /poesie-selezione
  - /selezione-poesie
  - /pasticci-belli
lang: it
ref: pasticcibelli
primary: var(--teal)
---
<div class="page-header">
	<div class="row">
		<div class="one column">
			<h1>Pasticci Belli</h1>
		</div>
	</div>
	<div class="row">
		<div class="one column">
			<p class="page-description">Ecco. qui c’è l’apoteosi dei miei pasticci. Il mio giudizio è soggettivo, il pasticcio per voi più buono potrebbe non essere fra questi (più probabilmente, non c’è proprio). Volendo, si può sempre tornare a <a href="/poetry">tutti i pasticci</a>.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="one column">
	{% assign poetry = site.poetry | reverse %}
		{% for poem in poetry %}
		{% if poem.bella == '1' %}
		<a href="{{ poem.url }}">
			<div class="preview box">
				<h2>{{ poem.title }}</h2>
			</div>
		</a>
		{% endif %}
		{% endfor %}
	</div>
</div>
