---
title: "Sconnesso"
permalink: /sconnesso
redirect_from: ["/podcast", "/voice", "/audio"]
lang: it
ref: sconnesso
primary: var(--purple)
image: "/images/sconnesso.jpg"
description: "Uno pseudo-podcast in cui, per alcuni minuti, racconto ciò che mi sorprende. Sconnesso è sbagliato, ma non scorretto. È atipico, ma non è poi così originale. È curato, ma non studiato alla perfezione. È esasperante, ma mai noioso. È improvvisato, ma non raffazzonato. Non è preparato, ma è attentamente pensato. È confuso e disordinato, ma non complicato. È sconnesso, ma non disconnesso."
---
<div class="red box">
	<h3>Pagina in manutenzione</h3>
	I file audio degli episodi del podcast sono hostati su un server con cui sto avendo un po’ di problemi. Per ascoltare le puntate, per ora, l’unico modo è selezionare uno dei servizi di seguito. <br />
	Mi dispiace per l’inconveniente, sono al lavoro sulla questione e spero di riuscire a sistemare al più presto
</div>

<div id="feed" class="one column">
	<div class="page-header row">
		<h1>{{ site.podcast.title }}</h1>
		<p>{{ site.podcast.description }}</p>

		{% include listen-on.html %}

	</div>

	{% for episode in site.sconnesso %}
		<div class="row">
			<a href="{{ episode.url }}">
				<div class="flex box">
					<h2>{{ episode.title }}</h2>
					<p class="right">{{ episode.date | date_to_long_string }}</p>
				</div>
			</a>
		</div>
	{% endfor %}

</div>
