---
title: "Sconnesso"
permalink: /sconnesso
redirect_from: ["/podcast", "/voice", "/audio"]
lang: it
ref: sconnesso
primary: var(--purple)
image: "https://assets.tommi.space/images/sconnesso.jpg"
description: "Uno pseudo-podcast in cui, per alcuni minuti, racconto ciò che mi sorprende. Sconnesso è sbagliato, ma non scorretto. È atipico, ma non è poi così originale. È curato, ma non studiato alla perfezione. È esasperante, ma mai noioso. È improvvisato, ma non raffazzonato. Non è preparato, ma è attentamente pensato. È confuso e disordinato, ma non complicato. È sconnesso, ma non disconnesso."
---
<div id="feed" class="one column">
	<div class="page-header row">
		<h1>{{ site.podcast.title }}</h1>
		<p>{{ site.podcast.description }}</p>

		{% include listen-on.html %}

	</div>

	{% for episode in site.sconnesso %}
		<div class="row">
			<a href="{{ episode.url }}">
				<div class="flex box">
					<h2>{{ episode.title }}</h2>
					<p class="right">{{ episode.date | date_to_long_string }}</p>
				</div>
			</a>
		</div>
	{% endfor %}

</div>