---
title: stuff
lang: en
permalink: /stuff
ref: stuff
---
<style>
	ul, h3 {
		margin-left: 25%;
	}
	ul ul {
		margin-left: 2%;
	}
</style>
<div class="page-header">
	<div class"row">
		<div class="one column">
			<h1>Stuff I do</h1>
		</div>
	</div>
	<div class="row">
		<div class="one column">
			<div class="page-description">
				<p>This is all the stuff I do. Projects I was and I am involved in, ideas, associations and challenges.<br />
					For a comprehensive list check <a href="/stuff-extended">stuff extended</a>.</p>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-bottom: var(--margin);" id="stuff-tree">
	<div class="one column">
		<h3>page tree</h3>
		<ul>
			{% assign stuff=site.stuff | where:"lang", page.lang | where:"current", "true" %}
			<li>current projects
				<ul>
					{% for thing in stuff %}
						<li><a href="#{{ thing.title | slugify }}">{{ thing.title }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% assign stuff=site.stuff | where:"lang", page.lang | where:"current", "false" %}
			<li>previous projects
				<ul>
					{% for thing in stuff %}
						<li><a href="#{{ thing.title | slugify }}">{{ thing.title }}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
</div>

	<h2 class="section-title">current</h2>

	{% assign stuff=site.stuff | where:"lang", page.lang | where:"current", "true" %}
	{% for thing in stuff %}
		<div class="row" style="color: {{ thing.color }}; background-color: {{ thing.background-color }}; overflow: hidden;" id="{{ thing.title | slugify }}">
			<div class="half column">
				<div class="stuff-image">
					<img src="{{ thing.src }}" alt="{{ thing.alt }}" title="{{ thing.title }}" />
				</div>
			</div>
			<div class="half column stuff">
				<div class="stuff-logo">
					<img src="/logos/{{ thing.logo }}" alt="{{ thing.title }} logo" title="{{ thing.title }}" />
				</div>
				<p>{{ thing.content }}</p>
				<div class="link-container">
					<a href="{{ thing.link }}" rel="noopener" target="_blank"><div class="link" style="color: {{ thing.background-color }}; background-color: {{ thing.color }};">{{ thing.button }}</div></a>
				</div>
			</div>
		</div>
	{% endfor %}

	<h2 class="section-title">past</h2>
	
	{% assign stuff=site.stuff | where:"lang", page.lang | where:"current", "false" %}
	{% for thing in stuff %}
		<div class="row" style="color: {{ thing.color }}; background-color: {{ thing.background-color }}; overflow: hidden;" id="{{ thing.title | slugify }}">
			<div class="half column">
				<div class="stuff-image">
					<img src="{{ thing.src }}" alt="{{ thing.alt }}" title="{{ thing.title }}" />
				</div>
			</div>
			<div class="half column stuff">
				<div class="stuff-logo">
					<img src="/logos/{{ thing.logo }}" alt="{{ thing.title }} logo" title="{{ thing.title }}" />
				</div>
				<p>{{ thing.content }}</p>
				<div class="link-container">
					<a href="{{ thing.link }}" rel="noopener" target="_blank"><div class="link" style="color: {{ thing.background-color }}; background-color: {{ thing.color }};">{{ thing.button }}</div></a>
				</div>
			</div>
		</div>
	{% endfor %}

<a href="/tutto+"><h2 class="section-title" style="margin: var(--height) 1%; background: var(--secondary)">stuff extended</h2></a>
