---
title: Cose
lang: it
permalink: /cose
redirect_from: ["/stuff-it", "/it/stuff", "/stuff/it"]
ref: stuff
---
<div class="page-header one column">
	<div class"row">
		<h1>Cose in giro</h1>
	</div>
	<div class="page-description row">
		<p>Qui c’è (quasi) tutto quello che faccio e che ho fatto. Progetti in cui sono stato coinvolto, idee, associazioni e sfide.<br />Se non bastasse, c’è <a href="/tutto" target="_blank">di tutto e di più</a>.</p>
	</div>
</div>
	

<div class="row">
	<div class="one column flex">
		<h3>Indice dei contenuti</h3>
		<ul>
			{% assign stuff=site.data.stuff %}
			<li>Cose in corso</a>
				<ul>
					{% for thing in stuff %}{% if thing.current == '1' %}
					<li><a href="#{{ thing.title | slugify }}">{{ thing.title }}</a></li>
					{% endif %}{% endfor %}
				</ul>
			</li>
			<li>Cose precedenti
				<ul>
					{% for thing in stuff %}{% unless thing.current == '1' %}
						<li><a href="#{{ thing.title | slugify }}">{{ thing.title }}</a></li>
					{% endunless %}{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
</div>

{% include stuff.html %}
