---
title: stuff
lang: it
permalink: /tutto
ref: stuff
---
<div class="page-header one column">
	<div class"row">
		<h1>Cose in giro</h1>
	</div>
	<div class="page-description row">
		<p>Qui c’è (quasi) tutto quello che faccio e che ho fatto. Progetti in cui sono stato coinvolto, idee, associazioni e sfide.<br />Se non bastasse, c’è <a href="/tuttopiu" target="_blank">di tutto e di più</a>.</p>
	</div>
</div>
	
<div class="row">
	<div class="stuff-toc one-third column">
		<h3>In sintesi</h3>
		<ul>
			{% assign stuff=site.data.stuff %}
			<li><a href="#current">Cose attuali</a>
				<ul>
					{% for thing in stuff %}{% if thing.current == '1' %}
						<li><a href="#{{ thing.title | slugify }}">{{ thing.title }}</a></li>
					{% endif %}{% endfor %}
				</ul>
			</li>
			{% assign stuff=site.stuff %}
			<li><a href="#previous">Cose precedenti</a>
				<ul>
{% for thing in stuff %}{% unless thing.current == '1' %}
						<li><a href="#{{ thing.title | slugify }}">{{ thing.title }}</a></li>
						{% endunless %}{% endfor %}
				</ul></p>
			</li>
		</ul>
	</div>
</div>

<h2 id="current" class="title">Cose attuali</h2>

{% assign stuff=site.data.stuff %}
{% for thing in stuff %}{% if thing.current == '1' %}
<div class="stuff row" style="color: {{ thing.color }}; background: {{ thing.background }}" id="{{ thing.title | slugify }}">
	<div class="half column">
		<img class="stuff-image" src="{{ thing.img }}" title="{{ thing.alt-it }}" alt="{{ thing.alt-it }}" />
	</div>
	<div class="half column">
		<img class="stuff-logo" src="/logos/{{ thing.logo }}" alt="Logo {{ thing.title }}" title="{{ thing.title }}" />
		<div class="caption"><p>{{ thing.description-it }}<p></div>
		<a href="{{ thing.link-it }}" rel="noopener noreferrer" target="_blank" class="written button center" style="color: {{ thing.background }}; background: {{ thing.color }};">{{ thing.button-it }}</a>
	</div>
</div>{% endif %}{% endfor %}

<h2 class="title">Cose precedenti</h2>
	
{% assign stuff=site.data.stuff %}
{% for thing in stuff %}{% unless thing.current == '1' %}
<div class="stuff row" style="color: {{ thing.color }}; background: {{ thing.background }}" id="{{ thing.title | slugify }}">
	<div class="half column">
		<img class="stuff-image" src="{{ thing.img }}" title="{{ thing.alt-it }}" alt="{{ thing.alt-it }}" />
	</div>
	<div class="half column">
		<img class="stuff-logo" src="/logos/{{ thing.logo }}" alt="{{ thing.title }} logo" title="{{ thing.title }}" />
		<div class="caption"><p>{{ thing.description-it }}</p></div>
		<a href="{{ thing.link-it }}" rel="noopener noreferrer" target="_blank" class="written button center" style="color: {{ thing.background }}; background: {{ thing.color }};">{{ thing.button-it }}</a>
	</div>
</div>{% endunless %}{% endfor %}
<a class="center written button" href="/tuttopiu">di tutto e di più</a>
