---
title: Stuff
lang: en
permalink: /stuff
ref: stuff
---
<div class="page-header one column">
	<div class"row">
		<h1>Stuff I do</h1>
	</div>
		<div class="page-description row">
			<p>This is all the stuff I do. Projects I was and I am involved in, ideas, associations and challenges.<br />
				For a comprehensive list check <a href="/stuff-extended">stuff extended</a>.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="one column flex">
		<h3>Table of contents</h3>
		<ul>
			{% assign stuff=site.data.stuff %}
			<li><a href="#current">Ongoing stuff</a>
				<ul>
					{% for thing in stuff %}{% if thing.current == '1' %}
					<li><a href="#{{ thing.title | slugify }}">{{ thing.title }}</a></li>
					{% endif %}{% endfor %}
				</ul>
			</li>
			<li><a href="#previous">Previous stuff</a>
				<ul>
					{% for thing in stuff %}{% unless thing.current == '1' %}
						<li><a href="#{{ thing.title | slugify }}">{{ thing.title }}</a></li>
					{% endunless %}{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
</div>

{% include stuff.html %}
