---
title: "The tags bible"
lang: en
permalink: /tags
layout: white
description: "Every topic, every recurrency, anything you need to find can be found somewhere in this page."
todo:
  - "refactor this page in some cleaner and nicer way"
  - "fix tags containing sub-tags not appearing"
---
{% for tag in site.data.tags %}

	<div class="row tag" id="{{ tag.title | slugify }}">
		<h2 class="title">{{ tag.title }}</h2>
		<p>{{ tag.description | markdownify }}</p>
		<div class="half column">
			<ul>
				{% for note in site.notes %}
					{% if note.tags contains tag.title %}
						<li>🍯 <a href="{{ note.url }}" title="{{ note.title }}">{{ note.title }}</a></li>
					{% endif %}
				{% endfor %}
				{% for ep in site.sconnesso %}
					{% if ep.tags contains tag.title %}
						<li>🎙 <a href="{{ ep.url }}" title="{{ ep.title }}">{{ ep.title }}</a></li>
					{% endif %}
				{% endfor %}
				{% for art in site.filinge %}
					{% if art.tags contains tag.title %}
						<li>💭 <a href="{{ art.url }}" title="{{ art.title }}">{{ art.title }}</a></li>
					{% endif %}
				{% endfor %}
				{% for poem in site.poetry %}
					{% if poem.tags contains tag.title %}
						<li>🥴 <a href="{{ poem.url }}" title="{{ poem.title }}">{{ poem.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="half column">
			<ul>
				<h3>Posts</h3>
				{% for post in site.posts %}
					{% if post.tags contains tag.title %}
						<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endfor %}