---
title: The whole Jam
description: Every single ingredient of <cite>The Jam</cite>
permalink: /whole-jam
redirect_from: [/tutta-la-marmellata,/tutta-marmellata,/the-whole-jam,/wholejam,/whole-jar,/wholejar,/the-whole-jar]
layout: large
---
<style>
	.grid div {
		overflow: hidden;
	}
</style>
<div class='row'>
	<div class='one-third column'>
		{% include lang-filter.html %}
	</div>
	<div class='two-thirds column'>
		{% include tags.html %}
	</div>
</div>
<div class='grid'>
	{% assign jam = site.notes | sort: 'updated' | reverse %}
	{% for note in jam %}
		<a href='{{ note.url }}' lang='{{ note.lang }}' hreflang='{{ note.lang }}' title='{{ note.title }}'>
			<div class='vertical flex box'>
				<h3>{{ note.title }}</h3>
				{% if note.description %}
					<p>{% comment %}FIX{{ note.description | markdownify | strip_html | truncatewords: 30 }}{% endcomment %}</p>
				{% else %}
					<p>{{ note.excerpt | strip_html | truncatewords: 30 }}</p>
				{% endif %}
				<div class='flex'>
					{% assign notetags = note.tags | downcase | remove: ' ' | join: ' ' | replace: '/', ' ' %}
					{% for tag in site.data.tags %}
						{% assign slugtag = tag.title | downcase | remove: ' ' %}
						{% if notetags contains slugtag %}
							<div rel='tag' class='{{ slugtag }} tiny written button'>{{ tag.title }}</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</a>
	{% endfor %}
</div>
