---
title: Zibaldone
lang: it
permalink: /zibaldone
pagination:
  enabled: true
  permalink: '/:num/'
---
<section class='center row'>
	<h1>Zibaldone</h1>
	<p class='one column'>Poco a che vedere con la saggezza e la serietà dell’omonimo leopardiano, qui un po’ più di allegria e stupidaggini.<br>
	Dall’enciclopedia Treccani, <a href='http://treccani.it/vocabolario/zibaldone/' target='_blank'>żibaldóne</a>: […] <cite class='serif'>Scartafaccio in cui si annotano, senza ordine e man mano che capitano, notizie, appunti, riflessioni, estratti di letture, schemi, abbozzi, ecc.</cite><br>
	Esattamente quello.</p>
</section>

<div class='row'>
	<div class='two-thirds column'>
		{% include tags.html %}
	</div>
	<div class='one-third column'>
		{% include lang-filter.html %}
	</div>
</div>
	
<div class='zibaldone row'>
	{% for post in paginator.posts %}
		<div class='one-third column'>
			<a class='box' href='{{ post.url }}' hreflang='{{ post.lang }}' lang='{{ post.lang }}'>
				<img src='{{ post.image }}' alt='{{ post.title }}' title='{{ post.title }}'>
				<h2>{{ post.title }}</h2>
				<p class='date'><time class='dt-published' datetime='{{ page.date | date_to_xmlschema }}'>{{ post.date | date_to_long_string }}</time></p>
				<cite class='excerpt'>
					{{ post.excerpt | strip_html | truncatewords: 40 }}
				</cite>
				<div class='flex'>
					{% for tagg in site.data.tags %}
						{% for present in post.tags %}
							{% capture tag %}{{ tagg.title | downcase | slugify }}{% endcapture %}
							{% capture post-tag %}{{ present | downcase | slugify }}{% endcapture %}
							{% if tag == post-tag %}
								<div rel='tag' class='{{ tag }} smaller written button'>{{ tagg.title }}</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</a>
		</div>
	{% endfor %}
</div>

{% include pages.html %}
