---
title: "Zibaldone"
permalink: /zibenglish
redirect_from:
  - /blog
  - /en/zibaldone
  - /zibaldone/en
lang: en
ref: blog
---
<div id="feed" class="one column">
	<div class="page-header row">
		<h1>Zibaldone</h1>
		<p><em>Zibaldone di Pensieri</em> is a great collection of notes by the great italian author Giacomo Leopardi. These writings don’t have even a tiny bit of profoundness, power and wit of the original collection. Just a touch of glee, craziness of my everyday life.</p>
		<p>Translating the definition by Treccani encyclopedia, <a href="http://treccani.it/vocabolario/zibaldone/" rel="noopener noreferrer" target="_blank">żibaldóne</a>: […] <cite>Notebook where unordered news, notes, thoughts, quotes, schemes, sketches are noted</cite>.</p>
		<p>Exactly that.</p>
{% include tags.html %}
	</div>

	{% for post in site.posts %}
		<div class="row">
			<a href="{{ post.url }}">
				<div class="flex box">
					<h2>{{ post.title }}</h2>
					<p class="right">{{ post.date | date_to_long_string }}</p>
				</div>
			</a>
		</div>
	{% endfor %}

</div>
