---
title: "Zibaldone"
permalink: /zibenglish
redirect_from: ["/blog", "/en/zibaldone", "/zibaldone/en"]
lang: en
pagination:
  enabled: true
  permalink: '/en/:num/'
---
<div class="page-header row">
	<div class="one column">
		<h1>Zibaldone</h1>
		<p><em>Zibaldone di Pensieri</em> is a great collection of notes by the great italian author Giacomo Leopardi. These writings don’t have even a tiny bit of profoundness, power and wit of the original collection. Just a touch of glee, craziness of my everyday life.</p>
		<p>Translating the definition by Treccani encyclopedia, <a href="http://treccani.it/vocabolario/zibaldone/"  target="_blank">żibaldóne</a>: […] <cite>Notebook where unordered news, notes, thoughts, quotes, schemes, sketches are noted</cite>.</p>
		<p>Exactly that.</p>
	</div>
</div>

<div class="row">
	<div class="two-thirds column">
		{% include tags.html %}
	</div>
	<div class="one-third column">
		{% include filter-lang.html %}
	</div>
</div>

<div class="row">
	{% for post in paginator.posts %}
		<div class="one-third column">
			<a class="box" href="{{ post.url }}" hreflang="{{ post.lang }}" lang="{{ post.lang }}">
				<img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}" />
				<h2>{{ post.title }}</h2>
				<p class="date"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time></p>
				<cite class="excerpt">
					{{ post.excerpt | strip_html | truncatewords: 50 }}
				</cite>
				<div class="flex">
					{% for tagg in site.data.tags %}
						{% for present in post.tags %}
							{% capture tag %}{{ tagg.title | downcase | slugify }}{% endcapture %}
							{% capture post-tag %}{{ present | downcase | slugify }}{% endcapture %}
							{% if tag == post-tag %}
								<div rel="tag" class="{{ tag }} smaller written button">{{ tagg.title }}</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</a>
		</div>
	{% endfor %}
</div>

{% include pages.html %}

