---
layout: wrapper
---
<main class='h-entry'>
	<section class='row center'>
		<a class='u-uid u-url' href='{{ url | prepend: 'https://tommi.space' }}'><h1 class='p-name'>{% if title %}{{ title }}{% else %}{% endif %}</h1></a>
		{% if subtitle %}
			<h2>{{ subtitle }}</h2>
		{% endif %}
		<p class='metadata'>
			{% if lang == 'it' %}
				{% if location != nil %}
					{% for place in site.data.places %}
						{% if place.name contains location %}
							<a href='https://openstreetmap.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18' target='_blank' title='{{ place.name }} su OpenStreetMap'>{{ place.name }}</a>, 
						{% endif %}
					{% endfor %}
				{% endif %}
				<time class='dt-published' datetime='{{ date | 'date_to_xmlschema' }}'>{% render date-it.html %}</time>
			{% else %}
				{% if location != nil %}
					{% for place in site.data.places %}
						{% if place.name contains location %}
							<a href='https://openstreetmap.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18' target='_blank' title='{{ place.name }} on OpenStreetMap'>{{ place.name }}</a>, 
						{% endif %}
					{% endfor %}
				{% endif %}
				<time class='dt-published' datetime='{{ date | 'date_to_xmlschema' }}'>{{ date | date: '%e %B %Y' }}</time>
			{% endif %}
			<br>
			{% if lang == 'it' %}
				ultima modifica: 
				{% if updated != nil %}
					<time class='dt-updated' datetime='{{ updated }}'>{% render date-up-it.html %}</time>
				{% endif %}
			{% else %}
				latest edit: 
				{% if updated != nil %}
					<time class='dt-updated' datetime='{{ updated }}'>{{ updated | date: '%e %B %Y at %k:%m' }}</time>
				{% endif %}
			{% endif %}
			<a rel='author' class='p-author h-card' href='https://tommi.space/about'>Tommi</a>
		</p>

		{% render post-tags.html %}
		{% render goto.html %}

	</section>

	<div class='row'>
		<div class='one column'>
			<article class='e-content note{% if serif %} serif{% endif %}'>
				{% if toc %}
					<div id='toc'>
						<h3>{% if lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h3>
					</div>
				{% endif %}
				{{ content }}
			</article>

		</div>
	</div>

	<div class='row'>
		<div class='one column'>
			{% render share.html %}
			{% render backlinks.html %}
			{% render comments.html %}
		</div>
	</div>
</main>
