---
layout: wrapper
---
<div class="h-entry one column">
	<div class="row page-header">
		<a class="u-uid u-url" href="{{ page.url | absolute_url }}"><h1 class="p-name">{{ page.title }}</h1></a>
		<link rel="author" class="p-author" href="/about" title="About Tommi" />
		<p class="last-modified">{% if page.lang == 'it' %}ultima modifica: <time class="dt-updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: '%d %b %Y alle %H:%M' }}</time>{% else %}latest edit: <time class="dt-updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: '%d %b %Y at %l:%M %p' }}</time>{% endif %}</p>
	</div>

	{% include post-tags.html %}

	<div class="row">
		<article class="e-content note{% if page.serif == true %} serif{% endif %}">

			{{ content | toc }}

			<br />
			<br />

			{% if page.description != nil %}
				<p>{{ page.description | markdownify }}</p>
			{% endif %}
			{% include anchor-parser.html html=content anchorBody="#" anchorClass="anchor" %}
		</article>
	</div>

	{% include edit.html %}
	{% include backlinks.html %}
	{% include share.html %}
	{% include comments.html %}

</div>
