---
layout: wrapper
---
<div class="h-entry one column">
	<div class="row page-header">
		<a class="u-uid u-url" href="{{ page.url | absolute_url }}"><h1 class="p-name">{{ page.title }}</h1></a>
		{% if page.subtitle %}
			<h2>{{ page.subtitle }}</h2>
		{% endif %}
		<p class="last-modified">
			{% if page.lang == 'it' %}
				creato 
				{% if page.location != nil %}
					{% for place in site.data.places %}
						{% if place.name == page.location %}
							presso <a href="https://openstreetmap.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18"  target="_blank" title="{{ place.name }} su OpenStreetMap">{{ place.name }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}
				il <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%e %B %Y' }}</time>
			{% else %}
				published 
				{% if page.location != nil %}
					{% for place in site.data.places %}
						{% if place.name == page.location %}
							nearby <a href="https://openstreetmap.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18"  target="_blank" title="{{ place.name }} on OpenStreetMap">{{ place.name }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}
				on <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%e %B %Y' }}</time>
			{% endif %}
			<br />
			{% if page.lang == 'it' %}
				ultima modifica: 
				{% if page.updated != nil %}
					<time class="dt-updated" datetime="{{ page.updated }}">{{ page.updated | date: '%e %B %Y alle %k:%m' }}</time>
				{% else %}
					<time class="dt-updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: '%e %B %Y alle %k:%m' }}</time>
				{% endif %}
			{% else %}
				latest edit: 
				{% if page.updated != nil %}
					<time class="dt-updated" datetime="{{ page.updated }}">{{ page.updated | date: '%e %B %Y at %k:%m' }}</time>
				{% else %}
					<time class="dt-updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: '%e %B %Y at %k:%m' }}</time>
				{% endif %}
			{% endif %}
		</p>
	</div>

	{% include post-tags.html %}

	{% include goto.html %}

	<div class="row">
		<article class="e-content note{% if page.serif == true %} serif{% endif %}">

			{% if page.toc %}
				<div id="toc" class="border box">
					<h3 class="center">{% if page.lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h3>
					{% include toc.html html=content sanitize=true class="two" %}
				</div>
			{% endif %}

			{% include anchor-parser.html html=content anchorBody="#" anchorClass="anchor" %}
		</article>
	</div>

	{% include backlinks.html %}
	{% include share.html %}
	{% include comments.html %}

</div>
