---
layout: wrapper
permalink: "/:title"
---
{% if page.code == true %}
	<link rel="styleseheet" type="text/css" href="/Ubuntu-Mono/ububtu-mono.css" />
	<link rel="stylesheet" type="text/css" href="/highlight_atom-one-dark.css" />
	<script src="/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% endif %}
<div class="first row">
	<div class="one column">
		<h1 style="width: 84%; margin: var(--margin) 8% 0">{{ page.title }}</h1>
		<p style="margin: 0 auto var(--twice); text-align: center; font-size: var(--lessthan-regular); opacity: 0.8">
		{% case page.lang %}
		{% when 'it' %}
		ultima modifica: {{ page.last_modified_at | date: '%d %b %Y alle %H:%M' }}
		{% else %}
			latest edit: {{ page.last_modified_at | date: '%d %b %Y at %l:%M %p' }}
		{% endcase %}
		</p>
	</div>
</div>
<div class="row">
	<div class="one column">
		<article class="note">
			{{ content }}
		</article>
	</div>
</div>

<div class="row">
	<div class="one column">
		<p style="text-align: center"><a href="https://www.github.com/{{ site.github_username }}/{{ site.git_repo }}/blob/master/{{ page.path }}" target="_blank" rel="noopener" class="edit">
			{% case page.lang %}
			{% when 'it' %}
				suggerisci modifica o correzione
			{% else %}
				suggest edit
			{% endcase %}
		</a></p>
	</div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
