---
layout: wrapper
---
<main class='h-entry'>
	<div class='row page-header'>
		<div class='one column'>
			<a class='u-uid u-url' href='{{ page.url | absolute_url }}'><h1 class='p-name'>{{ page.title }}</h1></a>
			{% if page.subtitle %}
				<h2>{{ page.subtitle }}</h2>
			{% endif %}
				<a rel='author' class='p-author h-card' href='https://tommi.space/about'>Tommi</a>
			</p>

			{% capture content_with_ids %}
				{% include anchor-parser.html html=content anchorClass='anchor' generateId=true %}
			{% endcapture %}

		</div>
	</div>

	<div class='row'>
		<div class='one column'>
			<article class='e-content note{% if page.serif %} serif{% endif %}'>
				{% if page.toc %}
					<div id='toc'>
						<h3>{% if page.lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h3>
						{% include toc.html html=content_with_ids %}
					</div>
				{% endif %}
				{{ content_with_ids }}
			</article>

		</div>
	</div>
</main>
