---
layout: wrapper
---
<main class='h-entry'>
	<section class='row center'>
		<a class='u-uid u-url' href='{{ page.url | prepend: 'https://tommi.space' }}'><h1 class='p-name'>{{ page.title }}</h1></a>
		{% if page.subtitle %}
			<h2>{{ page.subtitle }}</h2>
		{% endif %}
			<a rel='author' class='p-author h-card' href='https://tommi.space/about'>Tommi</a>
		</p>

		{% capture content_with_ids %}
			{% comment %}FIX{% include anchor-parser.html, html: 'content', anchorClass: 'anchor', generateId: 'true' %}{% endcomment %}
		{% endcapture %}
	</section>

	<div class='row'>
		<div class='one column'>
			<article class='e-content note{% if page.serif %} serif{% endif %}'>
				{% if page.toc %}
					<div id='toc'>
						<h3>{% if page.lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h3>
						{% comment %}FIX toc.html{% include toc.html, html: 'content_with_ids', skip_no_ids: 'true' %}{% endcomment %}
					</div>
				{% endif %}
				{{ content_with_ids }}
			</article>

		</div>
	</div>
</main>
