---
layout: wrapper
permalink: "/:title/"
---

<div id="first-row" class="row">
	<div class="one column">
		<h1>{{ page.title }}</h1>

		<br />
		<br />

		{{ content }}

		<br />
	</div>
</div>

<div class="row">
	<div class="one column">
		<div id="sharing-box" class="button-box">
			<span>share this article</span>
			<!-- Sharingbutton Facebook -->
			<a href="https://facebook.com/sharer/sharer.php?u=xplosionmind.tk" target="_blank" rel="noopener" aria-label="Facebook">
				<img class="button" src="/social-logos/facebook.svg" alt="Facebook logo" title="share on Facebook" />
			</a>


			<!-- Sharingbutton Twitter -->
			<a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=prova%20di%20descrizione&amp;url=xplosionmind.tk" target="_blank" rel="noopener" aria-label="Twitter">
				<img class="button" src="/social-logos/twitter.svg" alt="Twitter logo" title="share on Twitter" />
			</a>

			<!-- Sharingbutton WhatsApp -->
			<a class="resp-sharing-button__link" href="whatsapp://send?text=prova%20di%20descrizione%20xplosionmind.tk" target="_blank" rel="noopener" aria-label="">
				<img class="button" src="/social-logos/whatsapp.svg" alt="WhatsApp logo" title="share on Whatsapp" />
			</a>
		</div>
	</div>
</div>
