---
layout: wrapper
---
<main class='h-entry post'>
	<section class='center row'>
		<a class='u-uid u-url' href='{{ page.url | prepend: 'https://tommi.space' }}'><h1 class='p-name'>{{ title }}</h1></a>
		{% if subtitle %}
			<h2>{{ subtitle }}</h2>
		{% endif %}
		<p class='metadata'>
			{% if lang == 'it' %}
				{% if location %}
					{% for place in places %}
						{% if place.name contains location %}
							<a href='https://openstreetmap.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18' title='{{ place.name }} su OpenStreetMap'>{{ place.name }}</a>, 
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if date %}<time class='dt-published' datetime='{{ date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render date-it.html, date: date %}</time>{% endif %}
			{% else %}
				{% if location %}
					{% for place in places %}
						{% if place.name contains location %}
							<a href='https://openstreetmap.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18' title='{{ place.name }} on OpenStreetMap'>{{ place.name }}</a>, 
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if date %}<time class='dt-published' datetime='{{ date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ date | date: '%e %B %Y' }}</time>{% endif %}
			{% endif %}
			<a rel='author' class='p-author h-card' href='https://tommi.space/about'>Tommi</a>
		</p>
	</section>

	{% render page-tags.html, tags: tags, site: site, size: 'smaller' %}
	{% render goto.html, lang: lang, path: page.inputPath %}

	{% if toc %}
		<aside id='toc'>
			<h3>{% if lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h3>
			{{ content | toc: '"ul":"false"' }}
		</aside>
	{% endif %}


	<div class='row'>
		<div class='one column'>
			<article class='e-content{% if serif %} serif{% endif %}'>
				{{ content }}
			</article>
		</div>
	</div>

	<div class='row'>
		<div class='one column'>
		{% render backlinks.html, raw_url: page.url, all_pages: collections.all, lang: lang %}
		</div>
	</div>

	<div class='row'>
		<div class='half column'>
			{% render share.html, lang: lang, title: title, url: page.url %}
		</div>
		<div class='half column'>
			{% render comments.html, lang: lang %}
		</div>
	</div>
</main>
