---
layout: wrapper
---
<main class='h-entry one column'>
	<section class='center row'>
		<a class='u-uid u-url' href='{{ page.url }}'><h1 class='p-name'>{{ page.title }}</h1></a>
		<p class='metadata'>
			{% if page.location != nil %}
				{% for place in site.data.places %}
					{% if place.name contains page.location %}
						<a href='https://openstreetmap.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18' target='_blank' title='{{ place.name }} su OpenStreetMap'>{{ place.name }}</a>, 
					{% endif %}
				{% endfor %}
			{% endif %}
			<time class='dt-published' datetime='{{ page.date | 'date_to_xmlschema' }}'>{% include date-it.html %}</time>
			 — Episodio {{ page.episode }}
		</p>
		<a class='p-author h-card' rel='author' href='/about'>{{ site.author.name }}</a>
	</section>

	{% include post-tags.html %}

	<div class='row'>
		<article class='e-content'>

			<audio controls preload='auto'>
				<source src='{{ page.audio }}'>
			</audio>

			{% capture content_with_ids %}
				{% include anchor-parser.html', html: 'content', anchorClass='anchor' generateId=true %}
			{% endcapture %}

			{% if page.toc %}
				<div id='toc'>
					<h3>{% if page.lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h3>
					{% render toc.html html=content_with_ids %}
				</div>
			{% endif %}
			{{ content_with_ids }}
		</article>
	</div>

</main>

<div class='row'>
	<div class='half column'>
		{% render share.html %}
	</div>
	<div class='half column'>
		{% render listen-on.html %}
	</div>
</div>

<div class='row'>
	<div class='half column'>
		{% render backlinks.html %}
	</div>
	<div class='half column'>
		{% render comments.html %}
	</div>
</div>

