<!DOCTYPE html>
<html lang='{% if lang == 'it' %}it{% else %}en{% endif %}' xmlns:og='http://opengraphprotocol.org/schema/'>

	{% render head.html, latex: latex, date: date, updated: updated, title: title, description: description, primary: primary, lang: lang, alternate: alternate, accounts: accounts, site: site, url: page.url, layout: layout %}

	<body>
		{% if textonly %}
			<main class='one column'>
				<article>
					{{content}}
				</article>
			</main>
		{% else %}
			<main class='{{ class }}'>
				{{ content }}
			</main>
		{% endif %}
	</body>
</html>
