<!DOCTYPE html>
{% if page.lang == 'it' %}
	<html lang="it">
{% else %}
	<html lang="en">
{% endif %}
<head>
	{% seo %}
	<meta charset="UTF-8">
	<link href="/style.css" type="text/css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="/logos/favicon.svg" sizes="32x32" />
	<link rel="icon" href="/logos/favicon.svg" sizes="192x192" />
	<title>XPLOSIONMIND | {{ page.title }}</title>
</head>
<body>
	{% include header.html lang=page.lang %}
	{{ content }}
	{% include footer.html lang=page.lang %}
</body>
</html>
