---
date: 2020-12-20
updated: 2021-06-11T12:23:25.229993+02:00
tags: geek
permalink: /deleted/
description: A list archived links to profiles which I deleted.
---
Links to archived versions of online profiles or accounts I deleted:

<ul>{% comment %}#bug not printing the platform’s name{% endcomment %}
	{% for a in accounts %}
		{% if a.deleted != '' %}
			<li><a href='{{ a.url }}' title='{{ a.platform }}'>{{ a.plaftorm }}</a>{% if a.note %}, {{ a.note }}{% endif %}{% if a.date %}, deleted on <time datetime='{{ a.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ a.date | date: '%d %B %Y' }}</time>{% endif %}</li>
		{% endif %}
	{% endfor %}
</ul>