---
date: 2020-02-03
lang: it
description: Tutti i giri che ho fatto come spettatore e non come organizzatore, contrariamente al solito
redirect_from: ['/spettatore/', '/pubblico/', '/cose-spettatore/']
toc: false
todo:
  - 'cross-reference data with email and calendar'
---
{% comment %}#todo
<ul>
	{% for giro in tutto %}
		<li>
			{% if giro.start %}
				Da {{ giro.start | date: '%d %B %Y' }} a {{ giro.end | date: '%d %B %Y' }}, 
			{% else %}
				{{ giro.end | date: '%d %B %Y' }}, 
			{% endif %}
			{% if giro.url %}
				<a href='{{ giro.url }}' target='_blank' title='{{ giro.title }}'>{{ giro.title }}</a>, 
			{% else %}
				{{ giro.title }}, 
			{% endif %}
			{% if giro.lat %}
				<a href='https://openstreetmap.org?mlat={{ giro.lat }}&mlon={{ giro.lon }}&zoom=18' target='_blank' title='{{ giro.location }} su OpenStreetMap'>{{ giro.location }}</a>
			{% else %}
				{{ giro.location }}
			{% endif %}
			{% if giro.notes %}
				 — {{ giro.notes }}
			{% endif %}
			{% if giro.data %}
				<br>risorse: {{ giro.data }}
			{% endif %}
		</li>
	{% endfor %}
</ul>{% endcomment %}
