---
date: 2020-10-27T01:00:00+01:00
tags: geek
toc: false
description: Sources of awesomeness on the World Wide Web.
todo:
  - definire criteri di appartenenza
  - 'definire tags (#personal, #tool, #service…) e utilizzarli anche su Telegram'
  - RSS to Telegram channel
---
<style>
	li time {
		color: var(--slight);
	}
</style>
<div class='yellow box'>
  Join <a href='https://t.me/internet_awesomeness' target='_blank' title='Internet Awesomeness Telegram channel'><cite>Internet Awesomeness</cite></a> Telegram channel or subscribe to the <a href='/feeds/internet-awesomeness.xml' target='_blank' title='Internet Awesomeness RSS feed' type='application/rss+xml'>RSS feed</a> to get new websites I add in real time.
</div>

<ul>
	{% assign awesomeness = site.data.internet-awesomeness | sort: 'added' | reverse %}
	{% for web in awesomeness %}
		<li>
			<a href='{{ web.url }}' target='_blank' title='{% if web.title %}{{ web.title }}'>{{ web.title }}{% else %}{{ web.url | remove: 'https://' }}'>{{ web.url | remove: 'https://' }}{% endif %}</a>: {{ web.description }} — <time datetime='{{ web.added | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ web.added | date: '%d %B %Y' }}</time></li>
	{% endfor %}
</ul>
