---
date: 2020-06-06
tags: log
lang: it
toc: false
description: Leggo e sento tante perole belle (oppure brutte ma con un gran significato) e ho paura di perderle, perciò le annoto qui.
aliases: Words
redirect_from: ['/words']
---
<ul class='two'>
	{% for p in site.data.parole %}
		<li>
			<time datetime='{{ p.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ p.date | date: '%d %B %Y' }}</time>
			{% if p.url %}
				<a href='{{ p.url }}' target='_blank' title='{{ p.word }}'>{{ p.word }}</a>
			{% else %}
				{% if p.lang == 'it' %}
					<a href='https://www.treccani.it/vocabolario/{{ p.word | url_encode }}' target='_blank' title='“{{ p.word }}” nel vocabolario Treccani'>{{ p.word }}</a>
				{% elsif p.lang == 'en' %}
					<a href='https://www.merriam-webster.com/dictionary/{{ p.word | url_encode }}' target='_blank' title='“{{ p.word }}” on Merriam-Webster dictionary'>{{ p.word }}</a>
				{% else %}
					{{ p.word }}
				{% endif %}
			{% endif %}
			{% if p.note %}
				, {{ p.note }}
			{% endif %}
		</li>
	{% endfor %}
</ul>
