---
date: 2020-06-25
updated: 2021-12-14T13:27:19+01:00
tags:
  - log
description: Real and fictional characters who left a mark in me
redirect_from: [/characters/,/persone/,/personaggi/,/idols/,/idoli/]
main: true
---
<style>
	h-entry.note {
		width: unset;
		margin-left: unset;
		min-width: 70%;
	}
</style>

{% for idol in people %}
	<div class='row'>
		<h2 class='center title'>{{ idol.who }}</h2>
		<a href='{{ idol.url }}'><figure><picture><img src='{{ idol.img }}' title='{{ idol.who }}' alt='An image portraying {{ idol.who }}'></picture></figure></a>
		<p lang='{{ idol.lang }}'>{{ idol.note }}</p>
	</div>
{% endfor %}

<h2>More</h2>

<p>
	Notes on this website involving/mentioning/related to people:
</p>
<ul>
	{% comment %}{% assign slugtag = note.tags | downcase | remove: ' ' | join: ' ' %}FIX replace: '/', ' ' {% endcomment %}
	{% comment %}FIX{% assign all = site.posts | concat: site.poetry | concat: site.notes | concat: site.filinge | concat: site.sconnesso | where_exp: 'note', 'note.title != page.title' | sort: 'updated' | reverse %}
	{% for note in all %}
		{% if slugtag contains 'people' %}
			<li>
				<a href='{{ note.url }}' title='{{ note.title }}' hreflang='{{ note.lang }}'>{{ note.title }}</a> - {% if note.description %}{{ note.description }}{% else %}{{ note.content | markdownify | strip_html | truncatewords: 30 }}{% endif %}</li>
			</li>
		{% endif %}
	{% endfor %}{% endcomment %}
</ul>
