/* **********************************************************************************
 *																					*
 * 								Custom CSS for Obsidian								*
 *																					*
 *		by xplosionmind | https://tommi.space | https://github.com/xplosionmind		*
 *						this code is published under CC0 license					*
 *																					*
 *																					*
 * *********************************************************************************/


:root {
	--black-ish: #222;
	--white-ish: #E3E3E3;
	--dark-grey: #555;
	--light-grey: #AAA;
	--yellow: #FCC920;
	--dark-yellow: #D0A00E;
	--light-blue: #A8DADC;
	--blue: #3185FC;
	--red: #D00;
	--green: #20CE88;
	--razzmatazz: #EC0868;
	--purple: #884EE1;
	--dark: #533066;
	--primary: var(--yellow);
	--primary-light: var(--yellow);
	--secondary: var(--razzmatazz);
	--accent: limegreen;
	--default-font: Inter, -apple-system, sans-serif;
	--font-monospace: 'Ubuntu Mono', monospace !important; /* substitute with default monospace */
}

:not(hr):not(blockquote):not(.CodeMirror-cursor):not(td):not(th) {
	border: none !important;
}

.theme-dark {
	--text-normal: #E1E1E1;
	--text-accent: var(--primary);
    --text-accent-hover: var(--primary-light);
    --scrollbar-bg: none !important;
	--shadow: 5px 5px 20px #000000BB, -5px -5px 20px #FFFFFF11;
	--grey: var(--light-grey);
}

.theme-dark .cm-fat-cursor .CodeMirror-cursor {
	background: #FFFFFF55;
}

.theme-dark .CodeMirror-cursor {
	border-left: 1px solid #FFFFFF77
}

.theme-light {
    --scrollbar-bg: none !important;
	--shadow: 5px 5px 20px #0005, -5px -5px 20px #FFFFFFEF;
	--grey: var(--dark-grey);
}

.theme-light .cm-fat-cursor .CodeMirror-cursor {
	background: #00000033;
}

.theme-light .CodeMirror-cursor {
	border-left: 1px solid #00000077
}

.cm-s-obsidian, .markdown-preview-view {
	font-size: 1.2em;
	line-height: 1.5em;
}

/* make the editor appear in mono */
.CodeMirror-code {
	font: 1.1em var(--font-monospace);
}

/* fix an error which causes the last letter of a row to be hidden */
.CodeMirror {
	overflow: unset;
}

code, pre, .cm-s-obsidian .hmd-fold-html-stub, .cm-s-obsidian .hmd-fold-code-stub, .cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code, .cm-s-obsidian .cm-formatting-hashtag, .cm-s-obsidian .cm-inline-code, .cm-s-obsidian .HyperMD-codeblock, .cm-s-obsidian .HyperMD-hr, .cm-s-obsidian .cm-hmd-frontmatter, .cm-s-obsidian .cm-hmd-orgmode-markup, .cm-s-obsidian .cm-formatting-code, .cm-s-obsidian .cm-math, .cm-s-obsidian span.hmd-fold-math-placeholder, .cm-s-obsidian .CodeMirror-linewidget kbd, .cm-s-obsidian .hmd-fold-html kbd {
	font-family: var(--font-monospace);
}

.view-header-title-container:after {
	background: none !important;
}

.CodeMirror-cursors {
	visibility: visible !important;
}

/* an active line highlight in vim normal mode */
.theme-dark .cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: #DDDDDD11 !important;
}
.theme-light .cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: #33333311 !important;
}

/* if you want the highlight to present in both normal and insert mode of vim */
.theme-dark .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: #DDDDDD11 !important;
}
.theme-light .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: #33333311 !important;
}

h1, h2, h3, h4, h5, h6 {
}

p {
	line-height: 1.75em;
}

a {
	text-decoration: none;
}

li {
	margin-bottom: var(--small);
	line-height: var(--regular-more-em);
	li {
		margin-bottom: 0;
		list-style-type: "–   ";
		li {
			list-style-type: "+  ";
		}
	}
}

.external-link:hover {
	border-bottom: dashed 2px var(--primary);
}

.markdown-preview-view .internal-link {
	color: var(--blue);
	text-decoration: none;
}

hr {
	color: transparent;
	border-top: 5px dotted var(--grey) !important;
}

.markdown-preview-view .internal-link:hover {
	border-bottom: dashed 2px var(--blue);
}

.markdown-preview-view ul > li.task-list-item.is-checked {
    text-decoration: line-through;
    margin: -1px 1px;
    opacity: .5;
}

.markdown-preview-view pre,
.markdown-preview-view img {
	border-radius: .8rem !important;
	box-shadow: var(--inner-shadow);
}

.run-code-button {
	border-radius: 5px !important;
	right: 10px !important;
}

.copy-code-button {
	top: 10px !important;
	right: 10px !important;
	border-radius: 5px !important;
}

/* hyphenation */
.cm-s-obsidian, .markdown-preview-view {
	hyphens: auto;
}

.theme-light .markdown-preview-view * {
	text-decoration-color: #22222299 !important;
}

.theme-dark .markdown-preview-view * {
	text-decoration-color: #E3E3E399 !important;
}

blockquote {
	font-family: "EB Garamond", serif;
	opacity: .9;
    margin: 0 10%;
	border: none !important;
	border-radius: 10px;
}

blockquote p {
	line-height: 1.3em;
}

.right,
.cite,
.date {
	text-align: right;
}

.cite::before {
	content: '~ '
}

.box {
	padding: 1.5rem;
	margin: 2rem 0;
	border-radius: 1rem;
	box-shadow: var(--shadow);
}

.green {
	background: var(--green);
	color: var(--black-ish) !important;
	border-color: var(--green) !important;
}

.red {
	background: var(--red);
	color: white !important;
	border-color: var(--red) !important;
}

.red a {
	color: var(--yellow);
}

.blue {
	background: var(--blue);
	color: white !important;
	border-color: var(--blue) !important;
}

.blue a {
	color: var(--yellow);
}

.yellow {
	background: var(--yellow);
	color: var(--black-ish) !important;
	border-color: var(--yellow) !important;
}

.yellow a {
	color: var(--red);
}

.razzmatazz {
	background: var(--razzmatazz);
	color: white !important;
	border-color: var(--razzmatazz) !important;
}

.grey {
	background: var(--grey);
	border-color: var(--grey) !important;
}

.border {
	background: transparent;
	color: var(--text);
	border: 3px solid var(--text);
}
