/* **********************************************************************************
 *																					*
 * 								Custom CSS for Obsidian								*
 *																					*
 *		by xplosionmind | https://tommi.space | https://github.com/xplosionmind		*
 *						this code is published under CC0 license					*
 *																					*
 *																					*
 * *********************************************************************************/


:root {
	--primary: #FCC920;
	--primary-light: #FCC920;
	--secondary: #EC0868;
	--blue: #4F99FF;
	--accent: limegreen;
	--default-font: Inter, -apple-system, sans-serif;
	--font-monospace: 'Ubuntu Mono', monospace;
}

:not(hr):not(blockquote):not(.CodeMirror-cursor) {
	border: none !important;
}

.theme-dark {
	--text-normal: #E1E1E1;
	--text-accent: var(--primary);
    --text-accent-hover: var(--primary-light);
    --scrollbar-bg: none !important;
}

.theme-dark .cm-fat-cursor .CodeMirror-cursor {
	background: #FFFFFF55;
}

.theme-dark .CodeMirror-cursor {
	border-left: 1px solid #FFFFFF77
}

.theme-light {
    --scrollbar-bg: none !important;
}

.theme-light .cm-fat-cursor .CodeMirror-cursor {
	background: #00000033;
}

.theme-light .CodeMirror-cursor {
	border-left: 1px solid #00000077
}

.cm-s-obsidian, .markdown-preview-view {
	font-size: 1.2em;
	line-height: 1.5em;
}

/* make the editor appear in mono */
.CodeMirror-code {
	font: 1.1em "Ubuntu Mono";
}

/* fix an error which causes the last letter of a row to be hidden */
.CodeMirror {
	overflow: unset;
}

.cm-s-obsidian .hmd-fold-html-stub, .cm-s-obsidian .hmd-fold-code-stub, .cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code, .cm-s-obsidian .cm-formatting-hashtag, .cm-s-obsidian .cm-inline-code, .cm-s-obsidian .HyperMD-codeblock, .cm-s-obsidian .HyperMD-hr, .cm-s-obsidian .cm-hmd-frontmatter, .cm-s-obsidian .cm-hmd-orgmode-markup, .cm-s-obsidian .cm-formatting-code, .cm-s-obsidian .cm-math, .cm-s-obsidian span.hmd-fold-math-placeholder, .cm-s-obsidian .CodeMirror-linewidget kbd, .cm-s-obsidian .hmd-fold-html kbd {
	font-family: "Ubuntu Mono", monospace;
	color: #999;
}

.view-header-title-container:after {
	background: none !important;
}

.CodeMirror-cursors {
	visibility: visible !important;
}

/* an active line highlight in vim normal mode */
.theme-dark .cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: #DDDDDD11 !important;
}
.theme-light .cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: #33333311 !important;
}

/* if you want the highlight to present in both normal and insert mode of vim */
.theme-dark .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: #DDDDDD11 !important;
}
.theme-light .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: #33333311 !important;
}

h1, h2, h3, h4, h5, h6 {
}

a {
	text-decoration: none;
}

.external-link:hover {
	border-bottom: dashed 2px var(--primary);
}

.markdown-preview-view .internal-link {
	color: var(--blue);
	text-decoration: none;
}

.markdown-preview-view .internal-link:hover {
	border-bottom: dashed 2px var(--blue);
}

.markdown-preview-view ul > li.task-list-item.is-checked {
    text-decoration: line-through;
    margin: -1px 1px;
    color: #CCC;
}


.markdown-preview-view code {
	color: #DEDEDE;
	background: #333;
	font-family: "Ubuntu Mono", monospace;
}

.markdown-preview-view pre code {
	background: none;
}

code,
pre {
	font-family: "Ubuntu Mono", monospace;
}

.markdown-preview-view pre,
.markdown-preview-view img {
	border-radius: .8rem;
}

.copy-code-button {
	top: 10px !important;
	right: 10px !important;
	border-radius: 5px !important;
}

/* hyphenation */
.cm-s-obsidian, .markdown-preview-view {
	hyphens: auto;
}

blockquote {
	font: 1.1em "EB Garamond", serif;
    margin: 0 10%;
	border: none !important;
	border-radius: 10px;
}

.right,
.cite,
.date {
	text-align: right;
}

.cite::before {
	content: '~ '
}
